[2015-08-13 13:56] FuZhenn opened #1 "CRS挪到Map上定义"
目前CRS定义在TileLayer上, 可以考虑换到Map上定义.

原因:

* Map可以不加入任何TileLayer, 而只用到其他图层
* TileLayer重复定义CRS比较繁琐

[2015-08-13 14:02] FuZhenn opened #2 "取消Coordinate类, 全部用数组作为坐标输入"
原因:

* 用数组当坐标是GeoJSON标准
* 和后台保持一致

[2015-08-14 02:02] FuZhenn opened #3 "控件的换肤功能"
是否需要提供控件的换肤.

在提供默认的皮肤基础上, 通过加载新的js或者新的css等方式简单的实现换肤.

[2015-08-14 04:51] FuZhenn opened #4 "control的id都注册在Control类上是否合理"
control通过id将引用注册在Control类上, 会造成页面有多个地图时, 相同id的control会覆盖彼此.

建议将control的注册放在Map对象中, 刚好control的addTo方法能获得Map对象引用

例如在Map对象中增加一个controls对象, 用同样的方法在controls上进行注册

[2015-08-14 04:53] FuZhenn opened #5 "Geometry的drag代码需要重构"
事实上, 现在drag逻辑到处都存在, 例如label, tip, Map.Drag, Geometry等, 每个都实现了自己的drag逻辑, 是否能够统一为同样的drag处理类, 使用者只需要简单的构建初始化即可.

[2015-08-14 05:00] FuZhenn opened #6 "Map的identify优化及代码重构"
identify逻辑存在以下几个问题:

1. 代码比较啰嗦, 不够精炼
2. 性能问题比较严重, geometry一多就严重拖慢地图速度
3. 某些图形的identify逻辑存在bug.

可以考虑的改进点:

1. 对于面类型数据, 只需要判断点是否在图形中即可, 没必要判断buffer后的圆形和图形是否相交
2. 点类型数据当作面来对待
3. 线需要判断点击点和线上距离最近的点间的像素距离是否在tolerance中
4. 点包含关系判断逻辑可以分散到各个图形中去做, 而不用在util中用大段的if进行判断

[2015-08-14 05:09] FuZhenn opened #7 "Label和Tip的命名不够准确"
Label和Tip感觉不能准确的表达这两个地图控件的作用, 建议更名

[2015-08-14 06:15] FuZhenn opened #8 "增加地址/坐标解析/反解析工具类: GeoCoder类"
对主流的GeoCoding服务做一下包装, 能够通过GeoCoder查询地址对应的坐标.

1. 统一各主流GeoCoding服务的API接口
2. 用服务的官方API接口调用服务
3. 参数中指定调用哪个GeoCoding服务.

[2015-08-14 06:17] FuZhenn opened #9 "SVGLayer和CanvasLayer的合并"
合并SVGLayer和CanvasLayer

合并后图层的渲染方式可以在构造函数内指定, 默认用SVG.

例如:

new maptalks.GraphicsLayer(id, { canvas:true});  //用canvas渲染

[2015-08-14 06:54] FuZhenn commented on #2
经过研究, 决定不取消Coordinate类, 但支持数组形式的坐标输入

[2015-08-14 07:10] FuZhenn commented on #7
Tip的作用感觉其实就是传统意义上的Label.

[2015-08-14 09:02] FuZhenn commented on #1
研究之后, CRS还是不能定义在Map上

因为如果从ArcGIS, MapTalks等第三方CRS不定的底图服务读取底图时, 很难在Map上定义CRS

[2015-08-16 12:47] FuZhenn commented on #1
1. 还是不在Map上定义CRS
2. 只有BaseTileLayer上需要定义CRS
3. ArcGIS或者Maptalks底图等CRS可以动态读取的底图服务, 无需指定CRS, 只需要给出服务地址后由程序动态读取CRS信息

[2015-08-16 12:47] #1 closed

[2015-08-16 12:48] #2 closed

[2015-08-21 07:24] FuZhenn commented on #7
原Tip已改为Label;
原Label已经改为Panel

[2015-08-26 08:49] wsw0108 commented on #6
except tolerance for sector

[2015-08-26 08:49] #6 closed

[2015-08-27 07:52] #7 closed

[2015-08-27 15:51] FuZhenn commented on #9
合并为VectorLayer, 在options的render中指定渲染方式, dom或者canvas, 默认为dom

[2015-08-27 15:51] #9 closed

[2015-09-02 07:38] brucin opened #10 "zoomIn/zoomOut 后 polyline与polygon位置偏移"
polyline与polygon在地图zoom后位置偏移。

[2015-09-03 07:22] #10 closed

[2015-09-03 16:16] brucin opened #11 "百度底图瓦片加载bug"
在上下拖动地图的时候，瓦片加载会错位。
//定制地图底图(Tile Layer)
        var tileLayer = new Z.TileLayer('tile', //底图id
        {
            /**
            * 坐标系类型：
            * web-mercator：谷歌, 必应,高德, 腾讯等地图服务采用的瓦片系统;
            * baidu: 百度标注。
            */
            tileInfo: 'baidu',
            /**
            * 在线底图服务url
            http://online1.map.bdimg.com/onlinelabel/?qt=tile&x=825&y=222&z=12&styles=pl&u

[2015-09-04 08:10] FuZhenn commented on #11
因为版权的缘故, 只在商业版中提供对百度地图的支持, 程序中没有包含百度地图的投影转换类.
不过我会检查一下这个bug

[2015-09-06 04:00] wsw0108 opened #12 "text-dx, text-dy设置不起作用"
示例见exmaples/geometry/marker/text_marker.html

[2015-09-06 04:02] brucin commented on #12
的确不起作用，因为目前有dx、dy已经可以设置偏移，我担心过于复杂。
所以，计算的时候就没有加上text-dx与text-dy。

[2015-09-06 05:26] wsw0108 opened #13 "Geometry的Drag功能， 除了Marker，Polyline，Polygon外，其余类型都失效"
是feature还是bug？

[2015-09-06 05:31] wsw0108 commented on #12
shield类型有shield-text-dx与shield-dx，意义明确。
对于text类型来说，应该就只需要text-dx，text-dy。
dx，dy作为对cartocss的自定义扩展，应该只作用于image与vector(circle, triangle, etc)吧？

[2015-09-06 05:38] brucin commented on #12
你这个说法我是认可的。我稍后会修改一下。

[2015-09-06 05:41] brucin commented on #13
这应该是bug。
我今天也会重构这里，会一起测试一下。

[2015-09-06 06:14] #12 closed

[2015-09-06 06:20] FuZhenn opened #14 "lineDasharray样式是否可以考虑从"-.."形式换为数组形式?"
我查了一下资料, 除了vml, svg和canvas中dasharray的设置都是用数组形式的.

cartocss的虚线设置也是用的数组:
https://github.com/FuZhenn/carto/blob/master/docs/2.1.1.md#line-dasharray-numbers

所以@brucin 你看是否可以考虑把虚线的"-."形式转换为数组形式, 和大部分标准保持一致.

[2015-09-06 06:27] brucin commented on #14
SVG与Canvas本身就需要数组形式去实现。但是VML不行，其定义的是常量：Solid、Dot、Dash、 LongDashDotDot等。从数组形式翻译成对应的这些常量就比较困难了。
所以，支持数组形式我觉得是好的，也应该支持。但是使用起来会有一个学习的过程，提供方便理解的定义线形的样式，可以让大多数人使用起来方便。

[2015-09-06 06:36] FuZhenn commented on #14
用数组形式有两个优点:
1. 可扩展性好: 可以定义出无限种虚线样式.
2. "-."风格不符合cartoCSS, 我们的样式定义除了适当扩展, 应和cartoCSS严格保持一致.

如果为了让使用者更友好,这里有个解决方法:
1. dasharray还是用数组定义: 其实dasharray本身就是虚线数组的意思
2. 定义一些常量能方便用户直接引用而不用写dash数组, 类似VML里的Solid、Dot、Dash、 LongDashDotDot

[2015-09-06 06:39] brucin commented on #14
dasharray本身含义就是线段数组，的确应该与CartoCss统一。
不过我们不得不解决与VML渲染效果一致的问题。所以我需要好好考虑一下，才能做出修改。

[2015-09-06 06:52] FuZhenn opened #15 "和cartocss样式的一致性问题"
我们采用了cartoCSS作为图形的样式定义, 但存在少数一些和cartoCSS不一致的地方.

主要是cartoCSS中缺少一些我们需要的样式定义, 所以增加了一些扩展属性,例如shield-type, dx和dy等

但因为cartoCSS本身也是个发展中的标准, 随时会有变化和扩充, 这样定义样式,虽然定义起来方便简单, 用起来也方便, 但会造成未来和cartoCSS的冲突和不一致.

我觉得我们可以研究一个更好的方式来定义这些新的属性.

cartoDB采用了标准的css扩展语法(例如-webkit-*)作为扩展属性的定义形式, 例如-torque-resolution, 我们也可以研究一下更适合我们的扩展属性定义方式.

@brucin
@wsw0108

[2015-09-06 06:57] brucin commented on #15
这个我觉得可以学习ZUI扩展bootstrap，其扩展的也是样式。并没有定义特殊的形式，而是按照bootstrap的样式定义规则，直接扩展了能准确表达样式含义的新样式，但是bootstrap 本身的样式zui是完全支持的。但是如果你将包含ZUI定义的新的样式，直接copy到只有bootstrap的环境下，则会存在特殊效果的缺失。
我个人的意见是，名称只要能准确表述其定义的含义即可，并不需要求特殊。

[2015-09-06 06:58] FuZhenn commented on #14
vml也支持dash数组定义,参考链接:
https://msdn.microsoft.com/en-us/library/bb264085(v=vs.85).aspx
我试了一下, 除了vml中用0表示dot外, 其它定义和svg基本是一致的, 实际运用时可以以svg为准.

[2015-09-06 07:00] brucin commented on #14
可以，我稍后会修改测试一下。

[2015-09-06 07:15] FuZhenn commented on #15
我很认同你的意见, "名称只要能准确表述其定义的含义即可，并不需要求特殊", 不过ZUI的影响力比较小, 它的处理方式还不足以成为我们借鉴对象.

我觉得我们既然选择了cartoCSS, 就严格和它保持一致, 因为如果任意的对cartoCSS做扩展的话, 以后根据需要扩展的新属性势必越来越多, 就类似IE6对html标准的扩展一样.

这个问题分为3类
1. 属性可用, 但取值不够的, 例如marker-type.
2. 原有属性不够友好的, 定义了新的属性的, 例如dx,dy对应的是原有的marker-transform
3. 需要定义的新的属性, 如shield-type.

鉴于要改的属性并不多, 所以这个问题先不急着下结论, 我们可以参考下其他的软件和平台的做法, 在这一阶段工作结束后回头来调整这个问题.

[2015-09-07 04:01] FuZhenn commented on #11
TileConfig中的计算逻辑有问题, 已经修改

[2015-09-07 05:46] brucin commented on #11
测试通过。

[2015-09-07 05:46] #11 closed

[2015-09-07 06:11] #14 closed

[2015-09-07 10:10] FuZhenn opened #16 "增加对CGCS2000坐标系的支持"
国家天地图服务采用的该坐标系(2015-09-07)
http://api.tianditu.com/api-new/problem.html#map10

可能会是未来的趋势.

[2015-09-08 08:32] #13 closed

[2015-09-08 08:33] #5 closed

[2015-09-08 08:38] FuZhenn opened #17 "label的path对象中有undefinded属性"
就是examples中的点标签示例, 生成的text对象中的padding属性为undefined

`<text font-family="Serif" font-size="12" style="font-family:Serif;font-size:undefined;width:100;fill:#ff0000;opacity:1;padding:undefined;text-align:right;" x="253" y="321"><tspan x="253" y="321">名    称: </tspan><tspan x="253" y="335">上海大厦</tspan></text>`

[2015-09-08 14:59] brucin opened #18 "identify在地图drag后无法拾取面图形"
在canvas上的面图形，在地图drag后，就无法拾取了。应该是对应的_containsPoint没有计算上map的偏移。

[2015-09-08 15:41] brucin commented on #18
polygon的我已经修复，原因的确是没有加上map.offsetPlatform()。polygon的外接矩形，以及polygon._getPrjPoints()都需要，这样地图移动以后，鼠标点击在图形上才能找到该图形。
你看看其它图形的判断是否也存在同样的问题。

[2015-09-09 01:36] FuZhenn commented on #18
是因为用了屏幕坐标, 没有用容器坐标做判断, 所以要加上map.offsetPlatform().

 不过不用这么麻烦,直接用transformToOffset代替coordinateToScreenPoint, 直接返回的容器坐标

[2015-09-09 09:40] FuZhenn opened #19 "cartooCSS中支持的样式示例"
//图片标注
var icon_img = {

    "marker-placement":"point", //point | line | interior

    "marker-file"   : "bus.png",
    //设定marker-file后, 只有下面的属性起作用
    "marker-width"  : 20,
    "marker-height" : 20,
    "marker-opacity": 1,

    //两个cartocss里没有的扩展属性, 用来标注相对中心点的像素距离
    "marker-dx"     : 0, //<-------
    "marker-dy"     : 0  //<-------

};

//矢量样式, 但优先级比marker-file要低
var icon_vector = {

    "m

[2015-09-09 16:02] #17 closed

[2015-09-10 01:40] brucin commented on #3
哦，这个功能，我之前就考虑过。
对于，系统自带的多套皮肤模板，在options，增加一个style: grey（white/black)这样的参数，可以让用户简单设置系统控件风格。

[2015-09-10 02:02] wsw0108 commented on #18
@FuZhenn
map.coordinateToScreenPoint是直接调用了map._transformToOffset；
geometry.poly的_transformToOffset也是直接调用了map._transformToOffset；

[2015-09-10 02:44] #18 closed

[2015-09-10 02:50] FuZhenn opened #20 "Map.coordinateToScreenPoint返回的是容器坐标而不是屏幕坐标"
如标题

[2015-09-10 02:54] FuZhenn commented on #3
ok, 关闭问题

[2015-09-10 02:54] #3 closed

[2015-09-10 05:55] wsw0108 opened #21 "mousedown on map should not trigger move events"

[2015-09-10 06:57] brucin commented on #4
解决了上述bug。
拓展了controls的结构，按map分开存放control。觉得增加control这样的插件就要污染map的代码不太好，所以control的事情都在control里面做，只是将map或者geometry作为可以创建control的参数来传递。

[2015-09-10 09:27] FuZhenn commented on #4
是否可以考虑取消Z.Control上的getControl方法?直接在map上弄个object来管理应该就行了.

[2015-09-10 09:41] FuZhenn commented on #21
你的意思是鼠标不移动的话, 就不应该触发moving事件吧?

[2015-09-10 09:43] brucin commented on #4
我觉得不好。

[2015-09-10 14:16] brucin commented on #4
虽然我目前去掉了control的id，但是我还是觉得id是很有必要的。
因为拥有id最终用户将会省略掉很多遍历的代码。比如，用我们toolbar创建上下左右多侧的工具栏区域，在页面上增加数据区域（可利用panel），用户自然会在面板或者工具条上增加，打开关闭响应面板的按钮，在每次这样按钮事件背后，用户都需要去用map获取所有的controls，然后遍历找到对应的工具栏与面板，然后再调用show或者hide操作。这些代码相当的没有意义。
或许其它的GIS库没有这些工具，但是我所接触的工具组件都会为用户维护一个唯一标识，这样用户在使用组件的过程中，随时找到之前定义的组件，进行属性设置或者隐藏与关闭。

[2015-09-10 14:24] brucin commented on #4
"control通过id将引用注册在Control类上, 会造成页面有多个地图时, 相同id的control会覆盖彼此."
而且我仔细测试了一下，我的id其实只是一个标签，并不会互相覆盖，即使是你构造了两个参数一模一样的control。你如果在真实的测试中发现互相覆盖的原因只是location设置的一模一样，然后两个control重合了而已。

[2015-09-10 14:29] FuZhenn commented on #4
我觉得map上也不用提供control的遍历方法, 都留给用户自己来管理就好, 因为控件数量肯定不会太多, 这个维护不会复杂, 相信不会有技术人员会为这个问题感到困扰的.

[2015-09-10 14:31] brucin commented on #4
你这个观点我只能持保留意见。
因为我参与的项目中控件的管理是一件挺麻烦的事情，所以如果可能越简单越好。
其实，大多数项目从后台取得数据很简单，大量工作都集中在控件的编写与控制上。

[2015-09-10 14:34] FuZhenn commented on #4
因为地图库的控件不是重点, 大多数时候用户不会用我们的控件系统来做, 因为我们提供的控件样式和功能很难满足各种系统的要求.

所以一般来说用户都会用自己的控件来做, 只是让控件悬浮到地图上就ok.

地图库的控件永远不会, 也不应该做成很重量的东西, 也不应给用户这种印象.

类似yum里, 用到的各种悬浮控件面板都不适用地图库做的

[2015-09-10 14:36] FuZhenn commented on #4
其实如果要做出一套功能很强大, 很好用的地图控件库, 现在这个Control类是远远不能满足的. 要好好的重新规划才可以

[2015-09-10 14:36] brucin commented on #4
我会关闭这个问题。目前的就按照你的做，panel与toolbar我都会移除掉。
然后另外做一套插件。你可能不太清楚，项目开发中这些东西。市面上各种grid组件与tree的确有很多，但是自己做套件不是不可以，但是会花费很多时间。

[2015-09-10 14:38] #4 closed

[2015-09-10 15:01] FuZhenn opened #22 "引擎程序中的资源文件引用路径改成相对路径?"
@wsw0108
在引擎程序中, 资源文件的引用地址不应该改成相对路径

因为应用页面和引擎js一般都不在一个服务器上的, 改成相对路径, 就变成在应用服务器上找这些资源文件了.

[2015-09-11 01:52] FuZhenn commented on #22
already corrected

[2015-09-11 01:52] #22 closed

[2015-09-11 03:07] #21 closed

[2015-09-11 04:58] wsw0108 opened #23 "CanvasContext.createPattern() failed on firefox"
![createpattern-failed-on-firefox](https://cloud.githubusercontent.com/assets/4977975/9807339/564695fa-5884-11e5-94e1-201c627395e2.png)

https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/createPattern
[code]

createPattern() should be called after img's onload event...

[2015-09-12 08:04] FuZhenn opened #24 "css中缺少缩放效果和瓦片渐变效果的css"
请在css中下入以下三个样式设置即可

.MAP_ZOOM_ANIMATED {
	-webkit-transition: -webkit-transform 0.15s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.15s cubic-bezier(0,0,0.25,1);
	   -ms-transition:    -ms-transform 0.15s cubic-bezier(0,0,0.25,1);
	     -o-transition:      -o-transform 0.15s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.15s cubic-bezier(0,0,0.25,1);
}
.MAP

[2015-09-14 05:23] FuZhenn commented on #24
already fixed

[2015-09-14 05:23] #24 closed

[2015-09-15 13:44] FuZhenn commented on #23
already fixed in new Painter

[2015-09-15 13:45] FuZhenn commented on #23
pls verify

[2015-09-15 13:45] FuZhenn commented on #15
属性基本定稿, 具体参考 #19

[2015-09-15 13:45] #15 closed

[2015-09-15 13:47] #20 closed

[2015-09-17 14:52] FuZhenn opened #25 "类层级调整"
### 类层级调整

######maptalks
        .Map
        .Layer
        .Geometry
            .Marker
            .Point
            .Polyline
            .Polygon
            .MultiPoint
            .MultiPolyline
            .MultiPolygon
            .Circle
            .Ellipse
            .Rectangle
            .Sector
            .Vector
        .Control
            .Attribution
            .Nav

[2015-09-18 01:44] brucin commented on #25
虽然按照Geometry--Marker这样的结构看起来比较清晰，使用的时候包名过长并不好。
new maptalks.Geometry.Marker(center);
如果是包路径按照上下级关系，但是调用的时候简化成:new maptalks.Marer(center);这样的方式是否正常。

[2015-09-18 02:15] brucin opened #26 "geometry在svg与canvas位置偏移很大"
在svg上标注的位置是正确的。
线与面图形偏移的位置相当大。

[2015-09-18 07:47] #26 closed

[2015-09-18 10:29] #16 closed

[2015-09-20 04:42] #23 closed

[2015-09-21 15:25] FuZhenn opened #27 "jsduck文档美化"
* 替换原始的ext js的favicon.ico
* 用自定义logo替换原始logo
* 更扁平化风格的图标替换原始图标, 例如类, 属性, 包等
* 将原背景色替换为更符合maptalks主题的背景色
参考:

https://github.com/deftjs/DeftJS/commit/d7f039550e7edf39bc2e0a7970d833a9e8398011

[2015-09-29 06:41] brucin opened #28 "Canvas图层坐标有偏移"
geometry在Canvas上位置有偏移。在YUM上数据偏移更加明显。不能确定是数据问题，还是与Canvas上数据位置偏移问题一致。

[2015-09-29 06:44] brucin opened #29 "图形绘制问题"
1、矩形绘制时矩形边缘与鼠标光标所在位置距离过远；
2、绘制圆形并添加到Canvas上时出现两个同心圆。

[2015-09-29 09:42] brucin opened #30 "关于projection.locate方法"
用户如果要调用上述方法需要调用_getProjection()获取projection，是否考虑将获取投影的方法开发出去，或者在map上提供locate方法。

[2015-09-29 10:26] brucin opened #31 "layer.clear()与geometry.remove()"
1、layer.clear()会引起：Maximum call stack size exceeded；
2、geometry.remove()  无效。在canvas上绘制图形会出现两个图形原因也是在绘制后删除绘制的临时图形失败造成的。

[2015-09-30 08:08] #30 closed

[2015-09-30 10:10] FuZhenn commented on #31
无法重现, 请给出重现代码

[2015-09-30 10:53] brucin commented on #31
edit_polygon.html，测试layer.clear()无法删除图形；
draw_polygon.html，绘制后，在_endDraw()中无法清除临时的图形。

[2015-09-30 11:40] FuZhenn commented on #31
fixed, pls verify

[2015-09-30 11:48] #31 closed

[2015-09-30 11:49] #29 closed

[2015-10-06 05:08] FuZhenn opened #32 "symbol属性名命名规范"
根据谷歌json代码指南里关于属性名的规范, json属性属性名应该都是camel的, 但第一个字母可以是_或者$
所以我觉得应该:

* 把symbol属性名都改成camel:myName的, 而不是现在的dash:my-name方式
* cartoCSS样式里用dash-style, 但程序里都用camelCase, 和DOM属性保持一致
* cartoCSS样式应用到程序里时, 就做一下属性转化

maptalks的内部属性名以__(两个下划线)开头, 例如__maptalksSymbol

修改后的symbol示例:

{

    "markerPlacement":"point", //point | line | interior

    "markerFile"   : "bus.png",
    //设定markerFile后, 只有下面的属性起作用
    "mar

[2015-10-06 07:36] wsw0108 opened #33 "polygon-fill/polygon-pattern-file has no effection when draw polygon(exactly)"
it's ok when drawing circle/ellipse/rectangle with polygon-fill/polygon-pattern-file

[2015-10-06 08:12] FuZhenn commented on #33
fixed, pls verify

[2015-10-06 09:27] wsw0108 commented on #33
其实我说的问题是，对于polygon，在画的过程中，达到3个点足以形成一个面时，样式没有体现出来。
不知道这个算不算问题？

[2015-10-06 09:41] FuZhenn commented on #33
这个不算是bug.
我们以前在3点形成面后, 就马上形成多边形并形成填充, 类似百度地图的示例:
http://developer.baidu.com/map/jsdemo/demo/f0_7.htm

但后来yum客户觉得这种方式不好用, 更喜欢用画线的形式来画多边形, 在双击结束绘制后才封闭图形并填充, 就是我们现在的方式.

谷歌地图也和我们一样的(要翻墙):
https://developers.google.com/maps/documentation/javascript/examples/drawing-tools

[2015-10-06 09:46] brucin commented on #33
的确是这样，因为三点成面之后的点得绘制会很受动态移动的那个面的影响，在实际操作过程中不少人提出来过问题。
百度的面绘制也类似我们的方案。

[2015-10-06 09:47] brucin commented on #32
你的意思是除了外部的cartoCSS定义文件，js中的样式全部用camel的样式吗？

[2015-10-06 09:50] FuZhenn commented on #32
对的, 因为在程序语境中, symbol是个json格式数据, 所以我查了一下, 基本上目前主流都是用camel形式定义json属性名的.
而dash形式只在外部的cartoCSS定义中使用, 因为cartoCSS不是json, 遵循的类CSS命名规范.

[2015-10-06 09:55] brucin commented on #32
ok。同意。

[2015-10-06 10:01] FuZhenn commented on #32
@wsw0108 有没有什么意见

[2015-10-06 14:11] wsw0108 commented on #32
可以，程序中使用camelCase没什么问题。
也就是所有marker/polyline/sector之类的Symbol，全部用cartoCSS风格的属性名，但是是camelCase的。

另有一个情况，在绘制之前，把cartoCSS风格的属性名转换成stroke/strokeWidth之类的名字，好像没什么必要？

[2015-10-06 14:14] FuZhenn commented on #32
转换成stroke, stroke-width等主要是方便向生成的svg对象直接设置属性, 省略名字转换.

[2015-10-06 14:15] wsw0108 commented on #33
问题在于，画circle/rect的过程中，polygon-fill/polygon-pattern-file是起作用的，唯独画polygon的过程中不起作用。

leatlet.draw的例子：
http://leaflet.github.io/Leaflet.draw/

[2015-10-06 14:18] wsw0108 commented on #32
但是对于canvas，又没什么直接对应关系。
可以考虑使用一个或多个映射表的方式统一管理。

[2015-10-06 14:23] FuZhenn commented on #32
对canvas是没有对应关系, 同理对vml也没有.当初考虑的是总归要转换, 少转换一个是一个

[2015-10-06 14:30] FuZhenn commented on #33
leaflet的draw挺好, 要不我们按它的来

[2015-10-07 00:21] wsw0108 commented on #32
可以。少转换一个是一个。

顺便贴几个规范地址。

SVG property index:
http://www.w3.org/TR/SVG/propidx.html

VML spec:
http://www.w3.org/TR/NOTE-VML

CartoCSS spec:
https://github.com/mapbox/carto/blob/master/docs/latest.md

[2015-10-07 03:22] #32 closed

[2015-10-08 07:53] FuZhenn commented on #28
已经在主工程maptalks中解决了此问题.
请验证:
https://github.com/MapTalks/maptalks/commit/904e25fd86cc6d129654d43574e100a1870dc6e1

[2015-10-19 14:47] brucin opened #34 "vector marker 若干问题"
1、ellipse类型 SVG上位置偏移；
2、cross与x类型 Canvas上右侧两个端点间多了一条连线。

[2015-10-19 14:47] brucin opened #35 "geometryCollection drag事件失效"
geometryCollection drag事件失效

[2015-10-19 15:18] FuZhenn commented on #34
pls verify

[2015-10-20 02:11] #34 closed

[2015-10-23 10:54] brucin commented on #35
label_marker.html

[2015-10-25 10:19] FuZhenn opened #36 "FeatureQuery,TopoQuery, DynamicLayer等依赖服务的类提取为增强包"
考虑将FeatureQuery,TopoQuery, DynamicLayer, map的snap方法等需要调用后台服务的类和方法从引擎核心库中独立出来做成maptalks的增强包.

@MapTalks/talkers

增强包暂名为: maptalks.service.js/maptalks.service.min.js

js文件的命名规则:
product-name.plugin-ver.sion.filetype.js
参考:
http://stackoverflow.com/questions/7273316/what-is-the-javascript-filename-naming-convention

[2015-10-26 02:15] #35 closed

[2015-10-28 08:42] brucin opened #37 "vector marker 增加编辑功能"
可以考虑为vector类型的marker增加真实的编辑功能。
进入编辑状态，在marker四周套个外接矩形，矩形四条边中点放置热点，拖动可以调整vector大小；
另：image类型的marker也可以考虑增加上述的功能。

[2015-10-28 17:31] brucin opened #38 "关于symbolizer不变的情况下不重新绘制的问题"
这个逻辑会有问题，比如，我动态改变symbol的时候就无效了。
比如，我调整文本marker的颜色，替换image marker的图标的情况。

[2015-10-29 02:10] FuZhenn commented on #38
确实会有问题, 我去改一下

[2015-10-29 13:49] FuZhenn commented on #38
该问题已经解决, 请验证

[2015-10-29 14:44] brucin commented on #38
发现setSymbol以后，存在两个图形。

[2015-10-31 03:06] FuZhenn commented on #38
已经修复, 请验证

[2015-10-31 03:07] FuZhenn commented on #28
问题已经解决,请验证 @brucin

[2015-11-06 03:33] #38 closed

[2015-11-06 03:39] brucin opened #39 "地图滑动过程中图形异常"
1、在svg绘制的情况下，如果地图滑动，图形会向滑动的方向移动；（拖动地图不会）
2、在canvas绘制的情况下，zoomIn/zoomOut 点图标会消失。
测试地址：
http://localhost:20000/examples/guide/tip_event.html

[2015-11-06 03:40] brucin commented on #39
补充：问题2的也是在先滑动地图后，zoom才会触发。

[2015-11-06 03:49] brucin opened #40 "盾标不显示"
svg与canvas下盾标信息都不显示。
测试地址：
http://localhost:20000/examples/geometry/marker/shield_marker.html

[2015-11-06 03:53] brucin opened #41 "marker 编辑效果问题"
在canvas上编辑点，拖动过程中图形会与交互焦点分离一段，然后飞过去重合的现象。

[2015-11-06 04:00] brucin opened #42 "拖动polyline异常"
canvas绘制的线，松开鼠标无法结束拖动状态。
测试地址：
http://localhost:20000/examples/geometry/polyline/drag_polyline.html

[2015-11-06 06:24] brucin opened #43 "canvas绘制的图形无法移除"
如题，marker、polyline、polygon都无法移除。
测试地址：
http://localhost:20000/examples/geometry/polygon/edit_polygon.html

[2015-11-06 06:31] brucin opened #44 "地图滑动后拖动异常"
不清楚是否与#39是同一原因造成的。
svg绘制的图形，在地图滑动中会移位，这时如果捕获图形去拖动，就会无法结束拖动状态。
测试地址：
http://localhost:20000/examples/geometry/polygon/drag_polygon.html

[2015-11-06 06:54] brucin opened #45 "ie9 下canvas中文本标签拖动问题"
如题，无法激活拖动状态。
测试地址：
http://localhost:20000/examples/geometry/marker/label_marker.html

[2015-11-06 06:56] brucin opened #46 "ie9 下canvas中绘制dasharray参数无效"
如题，测试地址：
http://10.211.55.2:20000/examples/geometry/polyline/polyline.html

[2015-11-06 07:01] brucin commented on #45
补充：线与面在ie9下canvas中也无法拖动。

[2015-11-06 07:04] FuZhenn commented on #41
已经解决, 请验证

[2015-11-06 07:04] FuZhenn commented on #40
已经解决, 请验证

[2015-11-06 07:04] FuZhenn commented on #39
已经解决, 请验证

[2015-11-06 07:08] #41 closed

[2015-11-06 07:09] brucin commented on #40
在svg上依然不显示盾标图形与文本信息。

[2015-11-06 07:14] brucin commented on #39
问题2依然存在，canvas中滑动地图，然后zoom，marker会消失，然后再次zoom才会出现。
测试地址：
http://localhost:20000/examples/editor.html?html=guide/geometry.html&title=Add%20Geometries
备注：代码中默认是render为svg。

[2015-11-06 07:17] FuZhenn commented on #39
奇怪, 现在已经禁止滑动过程中zoom地图了

[2015-11-06 07:18] brucin commented on #39
出现频率大概5次出现3次左右。

[2015-11-06 07:21] FuZhenn commented on #39
重现了, 是vectorlayer读取图片资源的机制有问题, 有时候找不到marker 图片, 就画不出来了

[2015-11-06 07:30] FuZhenn commented on #39
问题已经解决, 请验证

[2015-11-06 07:36] FuZhenn commented on #40
已经解决, 请验证

[2015-11-06 07:37] FuZhenn commented on #43
已经解决, 请验证

[2015-11-06 07:47] FuZhenn commented on #46
已经解决, 请验证

[2015-11-06 07:56] FuZhenn commented on #45
因为canvas图形的事件机制问题, 拖动经常出现响应不到图形的mouseup事件的问题, 所以需要把Geometry.Drag再做一下研究.
以下问题也都和此有关.
#44
#42

[2015-11-06 07:57] FuZhenn commented on #44
#45

[2015-11-06 07:57] FuZhenn commented on #42
#45

[2015-11-06 14:56] #40 closed

[2015-11-06 14:58] #39 closed

[2015-11-06 14:59] brucin opened #47 "图形拖动失效"
不论svg还是canvas图形的拖动都失效。
测试地址：
http://localhost:20000/examples/editor.html?html=geometry/polygon/polygon.html&title=Add%20Polygon

[2015-11-06 15:03] brucin opened #48 "text marker换行分割无效"
详见下面地址：
http://localhost:20000/examples/editor.html?html=geometry/marker/text_marker.html&title=Add%20Vector%20Marker
应该为四行每列四字。

[2015-11-06 17:05] FuZhenn commented on #47
已经解决, 请验证

[2015-11-09 02:28] #47 closed

[2015-11-09 02:30] #42 closed

[2015-11-09 02:32] #43 closed

[2015-11-09 02:32] #28 closed

[2015-11-09 02:35] #44 closed

[2015-11-09 02:37] brucin opened #49 "盾标若干问题"
1、canvas中盾标不显示；
2、svg中盾标无法拖动。
测试地址：
http://localhost:20000/examples/editor.html?html=geometry/marker/shield_marker.html&title=Add%20Shield%20To%20Geometry

[2015-11-09 02:41] #46 closed

[2015-11-09 02:42] brucin opened #50 "ie9下canvas中图形无法拖动"
如题，测试地址：
http://10.211.55.2:20000/examples/editor.html?html=geometry/polygon/polygon.html&title=Add Polyline

[2015-11-09 02:47] brucin opened #51 "地图滑动中svg绘制的图形抖动"
如图，测试地址：
http://localhost:20000/examples/editor.html?html=geometry/polygon/polygon.html&title=Add%20Polygon

[2015-11-09 02:52] brucin commented on #45
问题同#50，而后者包含更广泛，先关闭这个。

[2015-11-09 02:52] #45 closed

[2015-11-09 03:01] FuZhenn commented on #49
该问题已经重现, 是因为本次更新增加了Point内坐标不能为NaN的判断, 而以前的计算是错误的, 所以会抛出异常中止绘制.

[2015-11-09 03:08] brucin commented on #37
vector marker已经验证通过。
不过image marker能否也增加一个拖动调整大小呢？

[2015-11-09 04:13] FuZhenn commented on #37
我也考虑过, 但图片标注不像是矢量标注, 调整图片大小会带来图片不清晰的问题, 所以我觉得更应该鼓励直接修改图片本身大小来调整图表大小

[2015-11-09 04:48] FuZhenn commented on #37
又想了想, 图片是否清晰应该是客户自己判断的问题. 那我把这个功能也加到image类型marke上

[2015-11-09 08:10] brucin opened #52 "MultiPoint会将放入其中的Marker symbol变成默认样式"
如图。

[2015-11-09 10:21] FuZhenn commented on #52
你提的这个问题和我们的设计有关, 按照GeoJSON规范, GeometryCollection中的Geometry只是单纯的Geometry(GeoJSON中的Geometry, maptalks的Geometry对应的是GeoJSON中的feature).

所以加入到GeometryCollection中的Geometry不应该再有样式和其他属性的, 都应以Collection的为准.按照这一原则, 我们目前的实现是子Geometry的symbol会被父collection的symbol覆盖(用来构造painter), 输出json的时候, 子Geometry的symbol不会被输出.

如果需要子Geometry的symbol也保持独立, 有一个比较麻烦的问题是GeometryCollection的GeoJson表达需要把子Geometry的symbol也都包含进去, 这个会影响s

[2015-11-09 14:15] #48 closed

[2015-11-09 14:24] #37 closed

[2015-11-09 14:26] #51 closed

[2015-11-09 14:29] brucin commented on #50
IE9下canvas中拖动的确正常了，但是chrome中canvas绘制的图形无法拖动了。

[2015-11-09 14:34] brucin commented on #52
我赞同GeoJSON中规范的定义。Multi-Geometry的确应该有一致的symbol。
不过，你目前的实现中MultiPoint的确会采用父的symbol，但GeometryCollection并不会覆盖子Geometry的symbol。所以，label我又换回了GeometryCollection，其保留了vector与text 的symbol。

[2015-11-09 15:45] FuZhenn commented on #50
已经改好, ie9和其他的浏览器对事件监听机制不同造成的, 对ie9做了一下特殊处理, 分别监听不同的容器.

[2015-11-09 15:48] FuZhenn commented on #52
现在如果对GeometryCollection做setSymbol操作, 子Geometry的symbol都会被覆盖, 但构造函数里确实没有.

这个问题之前没有认真对待过, 所以各种混乱.

不过对Label来说, 每个Marker都必须有自己的symbol才能实现, 这个得想想看怎么处理比较恰当.

[2015-11-09 15:50] FuZhenn commented on #50
ie9监听不同的容器可能会导致其他的bug, 例如有svg图形存在的时候, ie9可能就无法响应到其他事件.

所以建议那个全图形测试demo里, 把svg和canvas图层都加上去, 这样测试的全面一些.
@brucin

[2015-11-10 02:35] #50 closed

[2015-11-10 08:21] brucin opened #53 "MultiPoint相关问题"
1、MultiPoint中的marker在svg中会绘制在同一个点上；
2、拖动的时候，有时候激活多个点一起移动，有时只有一个点移动。
测试地址：
http://localhost:20000/examples/geometry/geometry.html

[2015-11-10 09:11] FuZhenn commented on #53
geometry.html没有提交, 请提交一下

[2015-11-10 10:31] brucin commented on #53
问题补充：在multi-geometry中设置的symbol只有最后一个geometry生效。

[2015-11-10 11:07] brucin opened #54 "canvas绘制shield出错"
如题，错误信息：point is NaN
测试地址：
http://localhost:20000/examples/geometry/marker/shield_marker.html
在geometry.html的canvas中注释了shield部分。

[2015-11-10 11:57] FuZhenn commented on #54
这个和 #49 是同样的问题, 我本地已经改好

[2015-11-15 16:06] brucin opened #55 "Label存在的若干问题"
1、仅仅是需要标注一段说明文字，用户能直接获取的就是坐标，为了构造label需要构造marker，并设置为透明，不合理；
2、当用户利用label做信息说明（与任何geometry无关），在觉得label位置不合适的时候，拖动label，因为之前需要构造marker，连线的存在也是不合理的；
3、label上需要事件，以便于用户进行交互设置。
事件交互测试地址：
http://localhost:20000/examples/toolbox/label/label.html

[2015-11-15 16:11] FuZhenn commented on #55
to 1&2: 这个问题我也考虑过, 但发现如果只是需要在地图上标注文字并可以拖动, 不需要用label, 一个普通的marker就够了,
而用label实现, label必须要像个marker一样addTo到map上或者layer上, 而功能和文字类型marker一模一样, 感觉会不会精简一点更好些?

[2015-11-15 16:17] brucin commented on #55
因为在用户在利用我们接口开发label功能的时候，我们已经提供了label，却需要用户去实现两种不同的方式去实现label，而你目前实现的方式也就是一个marker。用户需要实现的代码逻辑与我们也是一致，这也是典型的我们实现一次，永久造福用户的行为。所以，我认为这个应该我们来统一。

[2015-11-15 16:22] brucin commented on #55
补充一个例子：就以我之前实现的那个example来说明，我那个例子中是需要对label进行编辑的，例子中可以直接标注与绑定geometry标注label，如果要两种方式实现label，编辑的绑定方式与触发都需要分别来写，而且，修改以后，设置新的参数的方式也是不同的。

[2015-11-15 16:55] FuZhenn commented on #55
我以前理解错了, 以为label只是geometry的一个属性, 这样看起来, 其实label是一个加强版的marker.

我仔细想了想, 查了一下其他库的类似实现, 我觉得label其实是个不好的设计:
1. 在geojson中不被支持
2. 在cartoCSS中不被支持
3. 为profile增加复杂度: 需要增加label的处理和事件响应.
4. snap和dynamic都需要单独处理

我有个想法, 你看看是否合理, 我们可以考虑取消label, 在marker上增加新的API接口来代替现有的label功能.

而总结下对label的设计:
1. 如果target是一个坐标, label就完完全全是一个marker
2. 如果target是geometry, 其实是把geometry的center当成了label的target
label实质上只是一个能绑定某个位置, 编辑dx和

[2015-11-16 02:17] brucin commented on #55
你最终的结构形式我是赞同的。其实在重构svg与canvas之前与第一版本来也是将label作为一个marker去实现的。而且，在之前那版label中，label.addTo(layer)也是将其作为geometry的表现，其实我更加愿意的是layer.addGeometry(label)来统一这个行为，但是考虑这样会破坏整个结构，所以才等而下之。就目前的实现来说，将label直接放在与其关联的geometry的layer也是不合理的，这两者的显示与隐藏，以及层级都是需要单独处理的。

下面将我能考虑到的关于geometry与label（我暂时还将其叫做label）相关的增强以及marker本身应该可能存在的使用都罗列一下，可以讨论是作为插件，还是在原有的类上增加api.
1、label是需要编辑的，除了setSymbol与setContent以外，最符合操作习惯的是目前marker的拉动调

[2015-11-16 03:01] FuZhenn commented on #55
这些功能都很必要！
不过有些功能现在已经能实现，比如线上的各种文字标注;在线的端点加载图片标注。有些有点超出label范畴了，比如线的末端箭头。
我觉得这些功能同样可以考虑通过增强各geometry来实现。
我查了一下各个地图库，label只有百度地图有，leaflet有个插件，本身确实不是个标准的东东，所以大部分开源库都不支持。所以去掉的话在用户体验和设计上不会有太大问题

[2015-11-16 05:26] FuZhenn commented on #55
上述功能的实现方案:
1、label是需要编辑的，除了setSymbol与setContent以外，最符合操作习惯的是目前marker的拉动调整；
**marker本身功能**
2、label的形式，目前是vector + text，但是这明显不能完整表达label对形状的需求，这里有两种扩展方式：
A、增加更多的vector形式；
**扩展VectorMarkerSymbolizer上的markerType实现**
B、image+text。我个人是倾向于后者的，但是如果是后者是否就更加接近shield marker呢？
**用Shield Marker就能实现**
3、label的方向调整；
**可以拓展marker, 实现marker的旋转**
4、其它不规则的矢量图形的标注，同时在这些矢量图形中的文本标注（2.B），比如行军路线的箭头图形；
**同2.A**
5、polyline的

[2015-11-16 05:39] brucin commented on #55
以上的实现方案，我觉得可以。不过需要写demo去验证。
关于2.A：为何不能使用2.B 中vector image+text的方式？这样不是就可以让用户自行配置vector图形库了嘛。而且这里的需求是不固定的。
关于5：对于加了端点的polyline的编辑，比如调整lineWidth或者color，端点的图形会否一起refresh？

[2015-11-16 08:05] #55 closed

[2015-11-16 14:05] FuZhenn opened #56 "Profile示例"
@MapTalks/talkers

我理了一下Profile, 主要原则是尽量和各类的接口和属性保持一致, 另外增加了一个新的Graphic类型, 用来在feature基础上增加symbol, infowindow,构造参数options等图形构造所需参数.

但因为function没办法序列化反序列化, 所以跟函数有关的属性都无法包含在profile中, 例如事件响应函数, menu等

profile示例地址:
https://github.com/MapTalks/maptalks.js/blob/master/test/profile.json

[2015-11-17 03:56] FuZhenn commented on #56
几个问题:
1. linker的序列化, 因为linker需要和其他geometry相关联, 如何将关联关系序列化(在geometry上增加内部引用id?)
2. panel的序列化
3. 在profile中增加额外的,地图上没有的其他图形时, 该如何设置.

[2015-11-27 01:58] brucin opened #57 "drawTool冲突"
当存在多个drawTool，或者同一drawTool.setMode后，会出现以下问题：
1、会出现绘制线与面双击无法停止绘制；
2、绘制完毕后，地图无法恢复到漫游状态。
可参看中图形绘制：
http://localhost:20000/examples/business/design/roomPlan.html

[2015-11-30 03:14] #57 closed

[2015-11-30 09:37] brucin opened #58 "marker编辑相关问题"
1、编辑状态中，拉伸不能立即响应；
2、imager marker 拉伸的编辑后，图形依然维持原图形大小。

[2015-12-04 02:12] #58 closed

[2015-12-04 02:12] #54 closed

[2015-12-04 02:12] #49 closed

[2015-12-04 02:16] #53 closed

[2015-12-04 02:16] #52 closed

[2015-12-15 03:50] FuZhenn opened #59 "增强Control.Button的事件回调参数"
增强Control.Button的事件回调函数的参数
目前click,mousedown等事件回调函数只返回了mouseevent, 改为和map, geometry的事件回调函数统一起来
{
 "target": 发起事件的button对象,
 "type":"mousedown"/"click"/"touchend",
 "domEvent":mouseEvent
}

[2015-12-15 03:58] FuZhenn opened #60 "Control.Button增加对移动端事件的支持: touchstart和touchend"
RT
对于按钮一般响应touchstart和touchend即可
touchmove和touchcancel应当不需要处理

[2015-12-16 15:42] brucin opened #61 "polyline无法编辑"
polyline无法编辑，详见demo：
http://localhost:20000/examples/geometry/polyline/polyline.html

[2015-12-17 04:07] FuZhenn opened #62 "lineOpacity、fillOpacity 、textOpacity只能生效一次"
再次设置则不再生效

[2015-12-17 06:16] brucin opened #63 "调整浏览器大小后地图不再全屏"
调整浏览器大小后地图不再全屏，地图变为之前的50%大小，尚不能确定是否只在retina屏上才有此现象。

[2015-12-17 06:20] FuZhenn commented on #63
这个确实是retina屏的问题, 调整canvas大小的逻辑有两处
Render.map.js里_updateCanvasSize
render.js里_resizeCanvas
因为这个问题我这里没法重现, 你可以试着自己调整一下试试

[2015-12-17 07:39] FuZhenn commented on #62
暂时无法重现.

http://localhost:20000/examples/geometry/polygon/polygon.html

![image](https://cloud.githubusercontent.com/assets/13678919/11864023/33a60296-a4d4-11e5-9c7b-a10eb7a3d8c5.png)

![image](https://cloud.githubusercontent.com/assets/13678919/11864029/45e35472-a4d4-11e5-9fc9-b366c5d56722.png)

[2015-12-17 07:42] brucin commented on #62
补充：http://localhost:20000/examples/geometry/marker/label_marker.html
textOpacity markerLineOpacity markerFillOpacity

[2015-12-17 07:47] FuZhenn commented on #62
还是没办法重现.. 都能生效, 具体见下面的截图

![image](https://cloud.githubusercontent.com/assets/13678919/11864180/530973e2-a4d5-11e5-8ff8-e3d6dff69206.png)

![image](https://cloud.githubusercontent.com/assets/13678919/11864188/68849814-a4d5-11e5-916d-a39592642c03.png)

[2015-12-17 09:15] brucin opened #64 "image marker变更图片后不显示"
image marker变更图片后不显示，点击图片所在位置，能看到变更后的图片，mouseup后图片隐藏。
测试地址：http://localhost:20000/examples/geometry/marker/picture_marker.html

[2015-12-18 09:45] FuZhenn commented on #33
@wsw0108 该问题已经修改好
http://localhost:20000/examples/geometry/polygon/draw_polygon.html

![image](https://cloud.githubusercontent.com/assets/13678919/11893907/dba1169a-a5ae-11e5-8d9d-d3b7c07c6d93.png)

[2015-12-19 10:01] FuZhenn opened #65 "implements SVG+IMG mode for map"
地图目前以Canvas实现为主, 但在一些特殊场景下, 例如高分辨率(大屏)时, Canvas无法胜任, 故为map提供SVG+IMG模式.

VectorLayer采用SVG实现, TileLayer采用IMG实现, 除了IE8-用VML外, 和IE8-的实现基本相同.

[2015-12-26 04:07] FuZhenn opened #66 "implements custom marker type in marker symbol"
{
 "markerType": function() {
    1. return a svg path
    2. paiting on canvas
 }
}

[2015-12-26 15:31] FuZhenn opened #67 "CAS数字缩放时无动画效果"
CAS数字缩放时无动画效果

[2015-12-26 15:31] FuZhenn opened #68 "叠加图层后再切换底图, 缩放底图渲染不正常"
rt

[2015-12-27 14:11] #67 closed

[2015-12-28 03:33] #68 closed

[2016-01-04 06:41] FuZhenn opened #69 "Label和Curve不能正确用Profile序列化"
Label和Curve图形生成的profile不正确.

Label的profile和Marker相同, 所以用此profile反序列化时, 只能生成一个marker而不是label

Curve同理, 反序列化时只能生成LineString

[2016-01-04 06:44] FuZhenn opened #70 "缩放时Sector角度会发生变化"
参考
http://localhost:20000/examples/geometry/geometry.html

sector的原有角度
![image](https://cloud.githubusercontent.com/assets/13678919/12084648/67b6a77c-b2f1-11e5-92fd-179a635df226.png)

缩放时
![image](https://cloud.githubusercontent.com/assets/13678919/12084651/7754671e-b2f1-11e5-99e7-42a34ff56690.png)

[2016-01-04 06:45] FuZhenn opened #71 "实现map.setMaxExtent, 用来限制地图的显示范围"

[2016-01-04 06:57] FuZhenn opened #72 "实现setMask, 用来实现地图遮罩"
遮罩的作用域: map或layer
1. 只显示遮罩内的内容
2. 可选择遮罩以外部分的样式, 例如半透明的黑色

![image](https://cloud.githubusercontent.com/assets/13678919/12084814/4a7f44dc-b2f3-11e5-92aa-f04e9550bd3e.png)

[2016-01-04 07:00] FuZhenn opened #73 "更恰当的实现line-pattern-file填充"
1. 填充时pattern file能根据线的方向自动旋转
2. pattern file 显示完整, 不会缺边少角
3. 根据指定条件自动调整pattern file大小

[2016-01-04 07:02] FuZhenn opened #74 "缩放时Marker的编辑手柄没有正确定位"
缩放后, 缩放手柄有错位

![image](https://cloud.githubusercontent.com/assets/13678919/12084884/1f514e12-b2f4-11e5-8762-fbaedb9e2b08.png)

[2016-01-04 07:03] FuZhenn opened #75 "TileLayer在remove时clear会发生错误"
https://github.com/duscin/yumgis2/issues/40

render.tile的clear方法报错

[2016-01-04 07:05] FuZhenn opened #76 "实现动画接口"
设计一套简单易用的动画接口, 方便用户实现动画功能.
动画涵盖
1. 图形的位置改变动画
2. 图形的形状变化动画
3. 图形的样式变化动画(例如颜色的渐变)

[2016-01-04 07:08] FuZhenn opened #77 "发布到npm和bower中管理"
0.1.0正式发布后, 将js库发布到npm和bower中进行管理.

[2016-01-04 07:14] FuZhenn opened #78 "测面工具的修改"
面积测算工具的完善, 包括用marker实现各节点等

另面积测算工具需要考虑CRS是否包含面积计算公式.

[2016-01-04 07:15] FuZhenn opened #79 "长度测量工具的修改"
修改长度测量工具

[2016-01-04 07:17] FuZhenn opened #80 "完善地图的CRS和Projection设置"
总的原则是尽量简单, 能覆盖大多数常用场景即可, 以下是一些初步的想法:

* tileInfo设置换到Map上, 不再放在baseTileLayer里.
* tileInfo换一个更恰当的名称
* projection的设置, 我们只提供三种projection<br>
    优点: 使用简单, 能覆盖大多数场景.<br>
    缺点: 无法像[d3js利用投影实现更丰富的地图表现形式](https://github.com/mbostock/d3/wiki/Geo-Projections)
    * EPSG:3857 或 web-mercator
    * BAIDU
    * ~~NULL~~ IDENTITY (无投影转换, 类似leaflet的[EPSG:4326](https://github.com/Leaflet/Leaflet/blob/master/src/

[2016-01-04 10:07] #71 closed

[2016-01-06 07:15] #75 closed

[2016-01-06 14:05] #70 closed

[2016-01-07 07:39] FuZhenn commented on #80
地图初始化时所需的设置

* projection, 即投影转换算法, 目前有两种流行定义
     * proj4定义法
     * leaflet和openlayers都采用形似[EPSG4326](http://openlayers.org/en/v3.12.1/examples/epsg-4326.html), EPSG3857的形式定义
* map CRS(可选), 即地图所使用的坐标类型, 定义了地图上坐标及VectorLayer的数据的CRS, 默认为EPSG4326

[2016-01-07 08:00] FuZhenn commented on #80
中国的三种流行坐标系, 均为EPSG4326的变种

* BD09
* GCJ02
* CGCS2000

它们均没有国际公认的CRS定义(EPSG编号等), 如何用恰当的GeoJSON CRS定义它们?
目前采用的是自定义的CRS, 例如

        {
         "type:"cnCoordinateType",
         "properties" : {
            "name" : "bd09"
         }
        }

[2016-01-08 01:45] wsw0108 commented on #80
我觉得需要两个设置就可以了，CRS/SRS与TileSystem

### 1. CRS/SRS
- proj4的str表达
[code]

- Leaflet的CRS对象
  - [CRS.EPSG4326](https://github.com/Leaflet/Leaflet/blob/master/src/geo/crs/CRS.EPSG4326.js)
  - [CRS.EPSG3857](https://github.com/Leaflet/Leaflet/blob/master/src/geo/crs/CRS.EPSG3857.js)

#### Leaflet的CRS支持(以proj4的方式来看)
支持的投影(+proj)：
- LonLat
- Mercator
- SphericalMercator

支持的基准面(+datum)：
- WGS84

支持的椭球模型(+e

[2016-01-08 02:49] FuZhenn commented on #80
太赞了~

[2016-01-08 02:53] brucin commented on #80
整理的太详细了。科普贴。

[2016-01-08 03:29] FuZhenn commented on #80
进一步总结下,.
实践中, 涉及地理计算的有两个地方, 所以我们的地理设置参数只能要准确明白的定义这两个方面即可

* Projection, 投影转换, 即把数据坐标转换为投影坐标的算法, 在proj4中用proj参数指定. GIS中通常指将球体转换为平面, 常用的有三种:
      * CRS3857: 谷歌, 高德等大多数图商支持的投影方式, 事实上的互联网地图发布标准
      * Baidu: 百度地图特有的投影转换, 只用于百度地图服务
      * Identity: 无投影转换, 适用于室内地图, 像素坐标等.
* Measurement, 即测量体系. 决定测距, 测面等算法, 由采用的世界模型决定, 在proj4中用ellps参数指定, 例如wgs84椭球是一个半径约为6378137的球体, 目前常用的有两个:
      * 基于WGS84椭球的测量体系, 适用

[2016-01-08 03:46] FuZhenn commented on #80
关于数据的CRS

我现在倾向于在数据中不再附上CRS属性, 按照[GeoJSON的推荐方式](https://github.com/geojson/draft-geojson/pull/6), 统一数据的默认CRS坐标系为WGS84, 投影坐标为3857.

有两个原因:
1. 实践中无CRS也不会引起困扰, 因为数据的CRS是人为指定的, 数据上图前一般都会根据底图和应用提前转换好, 很少动态转换, 效率低也没必要
2. GCJ02, BAIDU等都不是国际公认的坐标类型, 没有合理的crs表示法, 按照伟伟举例的proj4表示法:+proj=lonlat +datum=GCJ02 +units=degrees, 也只有我们自己认识, 其他系统都不认识

[2016-01-08 04:06] FuZhenn commented on #80
关于查询时的CRS转换

我觉得伟伟的提议非常好, 因为CRS转换是我们系统内部使用的, 用proj4的形式来指定用起来确实很方便.

- 对于一般查询数据来说：
[code]

- 对于现有动态图层实现查询数据来说：
[code]

[2016-01-08 04:12] FuZhenn commented on #80
关于地图的地理体系定义

可以参照 openlayers3 和 leaflet的做法, 用简单的值来定义projection和measurement
 * EPSG:3857 (CRS3857投影转换和WGS84测量体系)
 * EPSG:4326 (无投影转换和WGS84测量体系)
 * BAIDU (baidu投影转换和WGS84测量体系)
 * IDENTITY (无投影转换和欧几里德测量体系)

用户也可以继承Projection类来定义自定义的Projection

Geometry中增加measure属性, 默认为WGS84测量, 如果为euclidean, 则是欧几里德测量, 用来定义Geometry的getCenter, getLength和getArea的计算算法. 也允许用户继承Measurement类定义其他的测量算法.

[2016-01-08 04:17] wsw0108 commented on #80
数据中不附上CRS是没有问题的。

数据也一定得有CRS，不管默认值也好，非默认值也好，都必须有。
只是对于GCJ02等类似来说，GeoJSON等规范肯定是不支持的，不管采用哪种CRS表达方式，都无法(或不方便?)与其他系统一致

[2016-01-08 04:20] wsw0108 commented on #80
@FuZhenn 我觉得“无投影转换”这个表达有些不妥，最好还是有个值，如
https://github.com/wsw0108/proj4js/blob/master/lib/projections/longlat.js#L10

[2016-01-08 04:22] FuZhenn commented on #80
https://github.com/MapTalks/maptalks.js/tree/master/src/Geo/Measurer
新增了measurer包, 用来表示测量模型

[2016-01-10 14:06] FuZhenn opened #81 "解决图形的日期变更线跨越问题"
1. 世界重复时, 图形能重复标注
2. 图形跨越日期变更线时能正确标注

[2016-01-11 13:29] FuZhenn opened #82 "Map的option中增加baseLayer和layers,用来指定初始图层设置"
示例:

              mapObj = new maptalks.Map("mapObj",{
                        //中心点坐标
                        center:     [18.8416447270001, 69.8779971370001],
                        zoom:  1,
                        //因为默认的EPSG:3857对应的minZoom为0, maxZoom为21
                        //默认zoom范围比高德底图范围大, 这里需设置minZoom和maxZoom来限制级别
                        minZoom: 1,
                        maxZoom:

[2016-01-11 16:18] #80 closed

[2016-01-12 02:19] #56 closed

[2016-01-13 05:27] #82 closed

[2016-01-13 05:28] FuZhenn commented on #77
not a issue

[2016-01-13 05:28] #77 closed

[2016-01-15 03:43] #33 closed

[2016-01-17 11:34] #81 closed

[2016-01-17 11:41] FuZhenn commented on #81
有以下多边形:

     new maptalks.Polygon([
        [[179,10],[-170,10],[-169, -10],[179, -10]],
        [[180,5],[-175,5],[-171, -5],[180, -5]]
        ]
        });

不开启antiMeridian时:
![image](https://cloud.githubusercontent.com/assets/13678919/12377264/1286ab4c-bd52-11e5-91ad-2c2b5fd1a9d5.png)

polygon的antiMeridian属性设为continuous后

     new maptalks.Polygon([
        [[179,10],[-170,10],[-169, -10],[17

[2016-01-17 15:16] #74 closed

[2016-01-18 09:22] FuZhenn commented on #76
接口形式:
[code]
示例:
[code]

[2016-01-21 03:23] FuZhenn opened #83 "snap方法中增加参数用来指定服务器上的文件存储路径"
[code]

[2016-01-21 03:31] FuZhenn commented on #76
实现geometry.animate的底层动画接口, 也可用来实现自定义动画
[code]
示例:
[code]

[2016-01-28 12:25] brucin commented on #72
效果不错，接口也挺简单。
遮盖罩部分的样式设置也是标准的面symbo的形式吗？

[2016-01-28 12:29] FuZhenn commented on #72
对，mask就是个标准的geometry，只允许polygon, multipolygon和 vector marker作为mask图形

symbol的定义和标准一样，但因为mask只是定义了图层的显示区域而不会显示出来，所以大多数的symbol定义不起作用， 只有少数决定大小的属性有用

例如markerHeight和markerWidth

[2016-01-28 12:31] brucin commented on #72
我指的是显示区域以外的广大黑暗区域的样式设置问题。

[2016-01-28 12:33] FuZhenn commented on #72
那个样式不由遮罩实现，例子里我直接设的div的background
![image](https://cloud.githubusercontent.com/assets/13678919/12644526/53aed720-c5fe-11e5-977e-a3e19a6a696a.png)

layer的mask定义了显示区域， 其余部分都是透明的

[2016-01-28 12:34] brucin commented on #72
哦，那么没有问题了。

[2016-01-29 14:02] FuZhenn commented on #73
@brucin 这个问题已经初步解决, 请测试下在专题图中是否正常。
实现方案：
1. 图片的高度会根据lineWidth自动缩放，但宽度会按照之前比例缩放（原实现高宽同设为lineWidth, 但无法应用高宽不同的图片）
2. 图片的填充方向会根据线的走向自动调整方向，这次修正了图片偏移不正常的问题

[2016-01-29 14:06] #69 closed

[2016-01-29 14:06] #73 closed

[2016-01-29 14:06] #83 closed

[2016-01-29 14:33] #72 closed

[2016-01-29 15:26] FuZhenn opened #84 "improve test specs"
more coverage and more branch coverage

[2016-01-30 06:45] FuZhenn opened #85 "label.setTextAlign的调整"
label.setTextAlign方法

作用：
调整文字和边框的相对位置

问题：
1. textAilgn起作用的限定条件比较多，某个条件不满足时textAlign不起作用，使用过程中容易引起困惑。
2. 计算偏移量是采用boxMinWidth作为参考标准，但boxMinWidth并不是box的实际宽度，可能会在某些情况下位置不准确
3. symbol中也存在类似的textHorizontalAlignment属性，可以考虑改名为boxTextAlign

调整目标：
让textAlign的作用更加明确更符合直觉

[2016-02-12 10:12] brucin opened #86 "geometry.fromJSON转化会丢失id属性"
如题。
测试的geometry为label，json字符串由label.toJSON()获得
json片段：
feature:{
crs: Object
geometry: Object
id: "NWP_LABEL_0"
properties: Object
type: "Feature"
}
现象，fromJSON后，label中无_id,故无法通过label.getId获取之前设置的id

[2018-01-12 04:10] deyihu opened #589 "map.setZoom(number) is asynchronous？"
**maptalks's version and what browser you use?**

v0.36.2        v0.37.0

**Issue description**

[code]
//只有手动禁用动画，获取map的zoom值才不是异步的，我所理解的是，无论是否动画，都不应该是异步的啊

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-01-12 04:44] fuzhenn commented on #589
这里主要涉及到我们怎么理解`getZoom`。
`getZoom`的含义是map **当前** 的zoom值。
`setZoom`默认是通过动画更新zoom，map **当前** 的zoom随动画更新，所以是异步的。
而`setZoom(z, { animtion : false });`因为没有动画，所以是同步的。

设计上，map的zoom变化是通过监听'zoomstart', 'zooming', 'zoomend'事件实现，事件参数的from, to会指明zoom的开始和结束值（但不绝对，滚轮缩放时，因为缩放级别根据滚轮的时间动态变化，zoomstart的to参数是没值的）

这个问题不算是bug，是api设计的范畴，我先关掉issue，但欢迎随时探讨

[2018-01-12 04:44] #589 closed, assigned to nobody

[2018-01-12 08:57] treasureMoment opened #590 "PloyPoint问题"
**maptalks's version and what browser you use?**

![image](https://user-images.githubusercontent.com/35365475/34866912-2eb36e7e-f7b9-11e7-8379-9323aabd4306.png)
这个是使用maptalks.js绘制完成显示的多边形
![image](https://user-images.githubusercontent.com/35365475/34866944-496b0286-f7b9-11e7-9326-a282214415e8.png)
这个是使用openlayer绘制完成显示的多边形，
数据使用的是一份数据
还有，咱们的 maptalks.js不支持移动端的手势旋转操作么？
**Issue description**

**Pleas

[2018-01-12 08:59] fuzhenn opened #591 "Tapping with 2 fingers to pitch and rotate map"
**Issue description**
Add support to tap map with 2 fingers to pitch and rotate map

[2018-01-12 09:03] fuzhenn commented on #590
感谢提出issue！
关于第2个问题，目前maptalks确实还不支持移动端的手势操作，我刚提交了一个feature request issue，这个特性会在下个版本提供：https://github.com/maptalks/maptalks.js/issues/591

关于第1个问题，你是指maptalks绘制的有错误吗？方便的话请提供一下重现代码，只看图无法定位问题，可以在这个jsfiddle基础上修改：

http://jsfiddle.net/fuzhenn/8vxbqz22/

[2018-01-12 10:07] treasureMoment commented on #590
[[1509.01,336.83434,10],[1562.82,336.83434,10],[1562.82,341.54434000000003,10],[1731.42,341.54434000000003,10],[1738.57,349.49434,10],[1810.15,349.49434,10],[1817.04,340.74434,10],[1836.39,340.74434,10],[1836.39,351.88434,10],[1902.66,351.88434,10],[1902.66,337.30434,10],[2010.29,337.30434,10],[2069.67,337.30434,10],[2069.67,413.96434,10],[2069.4,463.57434,10],[2043.69,463.57434,10],[2043.69,468.7

[2018-01-12 10:19] treasureMoment commented on #590
[code]

[2018-01-12 10:21] fuzhenn commented on #590
收到。
我试了一下，这个问题不是bug，是map的spatialReference设置的问题。
看坐标，它并不是经纬度坐标，所以用EPSG:4326是无法正常显示的，这样初始化map就能正常显示了：
[code]

[2018-01-12 10:22] #590 closed, assigned to nobody

[2018-01-12 10:27] treasureMoment commented on #590
OK.已经设置了。正常显示了。
需要使用平面坐标系， spatialReference : {
        //改为基于像素坐标的identity投影
        projection : 'identity}
只是这样设置。会报错= =~。leafelt openlayer 使用同样的坐标系 ，这样的轮廓点可以正常绘制

[2018-01-12 10:28] treasureMoment commented on #590
下个版本支持移动端手势的能规划么？什么时候能发版？

[2018-01-12 10:56] fuzhenn commented on #590
解决就好！

报错是因为spatialReference缺resolutions和fullExtent导致的。不过你提醒我了，应该给identity投影提供默认的设置。

maptalks 4326 不能正常显示应该是因为maptalks对anti-meridian的自动处理逻辑导致(如何处理线在地球球体上的两种绘制模式)。ol和leaflet没这个逻辑，所以绘制是正确的。原则上4326的输入应该还是经纬度。

手势应该在1到2周内会实现发布。

[2018-01-14 06:13] deyihu opened #592 "Browser swtich tab renderer.CanvasRenderer animation is blank"
**maptalks's version and what browser you use?**

**Issue description**

我基于 maptalks.Layer  扩展一个  Layer  ,其Renderer 是renderer.CanvasRenderer，
在上面我利用 canvas 2d 画布进行  图形绘制 绘制完成执行 this.completeRender()，是没有问题的，
[例如：](http://58.210.98.62:7080/maptalks-gmvi/examples/point.html)

当我在Layer 上进行动画（我没有用renderer.CanvasRenderer提供的动画接口），自己在Layer中自定义了一个动画周期函数，然后 获取到getRenderer(),利用renderer.CanvasRenderer 的canva

[2018-01-14 06:18] wsw0108 commented on #592
webgl 有context lost事件，不知道canvas2d有没有？

[2018-01-14 06:39] deyihu commented on #592
@wsw0108  我刚才看了一下官方的插件的例子也是有这个问题的

[animatemarker](http://maptalks.org/maptalks.animatemarker/demo/)

调整一下 pitch 试试就可以发现问题了

[2018-01-14 07:09] fuzhenn commented on #592
感谢提出issue，你太给力了，哈哈。

这个问题和你的逻辑没关系，是chrome的bug：chrome上webgl canvas离屏绘制时，切换tab后会自动变空白导致的。

TileLayer在pitch为0时，是用canvas来绘制的，pitch > 0时，会自动切换为webgl模式，所以pitch > 0时会出现该问题。

这个问题有两个解决方案：

* 临时方案，采用double buffer，即gl绘制完成后，把webgl canvas绘制在一个普通的2d canvas上，就不会变空白了，但这样会影响一些性能。
* 重现一下，给chrome提个issue试试看, 希望chrome的大神修掉

你的意见如何？

PS:
我看了一下你的代码，图层动画不需要自己控制requestAnimationFrame，有个简便的方法是把renderer的`needToRedraw`方法返回tr

[2018-01-14 07:33] deyihu commented on #592
我不用needToRedraw 是因为我的动画中还要动态生成时间戳，不好用原生的动画函数来处理，不过我会考虑怎样结合的，给 chrome团对提issue那就算了，英语太烂了，我都不好意思说我的英语水平

我会经常来提问的奥；我正在测试maptalks的成熟度哎

[2018-01-14 09:10] fuzhenn commented on #592
收到，我晚点整理一份最小重现代码，去chrome提交一下issue，然后反馈在这里。

最后欢迎常来，一起把maptalks做的更好 ^__^

[2018-01-15 00:35] treasureMoment commented on #590
resolutions 应该根据minZoom和MaxZoom 以及每次的变化的步长提供默认值，每次更改最小和最大都应该做出相应的改变

[2018-01-15 03:17] fuzhenn commented on #590
已添加，参见：https://github.com/maptalks/maptalks.js/commit/8aaf49fddf26798a1fa5722dc1a4ed1240602eec
下个版本会发布

[2018-01-15 03:46] fuzhenn opened #593 "forceRenderOnZooming option conficts with visible option of layer"
**maptalks's version and what browser you use?**
v0.37.0

**Issue description**
If set `forceRenderOnZooming` and `visible : false` at the same time, layer will throw error when zooming
[code]

reported by @1dent1ty

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-01-15 06:59] #593 closed, assigned to fuzhenn

[2018-01-15 09:27] fuzhenn opened #594 "Add a new markerPlacement to rotate vertex marker along with line's direction"
**Issue description**

Add a new markerPlacement to Line/Polygon to rotate vertex marker along with line's direction.

e.g.
[code]

![tim 20180115172405](https://user-images.githubusercontent.com/13678919/34935452-e84bf5d4-fa18-11e7-8eb4-320e8cd09264.jpg)

[2018-01-17 01:31] 7zheng7 opened #595 "关于自定义瓦片底图的制作请教"
您好，maptalks功能很强大，我想利用您开发的maptalks自己制作瓦片底图，但是不知道如何下手，请问有什么例子吗，或者需要什么辅助工具吗？多谢！

[2018-01-17 02:05] fuzhenn commented on #595
嗨！ 感谢提issue！

maptalks支持用node渲染静态图片，是可以基于node用maptalks来生产瓦片图片的，不过我们自己没这么干过，所以相关的基础设施不是很完善。

建议你还是看一下专业的底图生产服务，比如arcgis, 超图，或开源的mapnik等

[2018-01-17 02:05] #595 closed, assigned to nobody

[2018-01-17 13:28] fuzhenn opened #597 "Add tile cache to tilelayer renderer"
**Issue description**
Add tile cache to tilelayer renderer, to cache loaded tiles to speed up tilelayer's loading for better user experience.

[2018-01-18 03:25] fuzhenn opened #598 "Add getOutline in geometry to return its outline"
**Issue description**
Add getOutline in geometry to return its outline
[code]
* if geometry is a marker, outline is also a marker
* if geometry is a linestring/polygon, outline is a rectangle

![image](https://user-images.githubusercontent.com/13678919/35079399-2a0874ae-fc42-11e7-86f0-93a687dfb874.png)

proposed by @ageeye-cn

[2018-01-18 13:32] fuzhenn commented on #592
该问题已解决
增加了对document上[visibilitychange](https://developer.mozilla.org/en-US/docs/Web/Events/visibilitychange)事件的监听，能在激活浏览器标签时自动重绘所有图层

[2018-01-18 13:35] #592 closed, assigned to nobody

[2018-01-19 05:21] sys2007 opened #599 "不支持wmts吗？"
**maptalks's version and what browser you use?**

**Issue description**

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-01-19 05:34] fuzhenn commented on #599
感谢提issue！目前还不支持wmts。

你说的wmts是指ol上的这个例子吧？
https://openlayers.org/en/latest/examples/wmts.html

如果是的话，我大概看了一下，wmts和arcgis瓦片服务的支持方法差不多，通过解析wmts的xml，获得resolutions和tilesystem等设置。

* maptalks中读取arcgis瓦片服务设置的源代码 [SpatialReference.Arc.js](https://github.com/maptalks/maptalks.js/blob/master/src/map/spatial-reference/SpatialReference.Arc.js)
* maptalks[调用arcgis瓦片服务的示例](http://maptalks.org/examples/cn/tilel

[2018-01-19 10:17] Liquid-Zhangliquan opened #601 "The marker with height can't be dragged normally"
有高程的marker，拖拽时，点击脚下才有效果，点击实际位置相当于拖拽地图

[2018-01-19 16:07] sys2007 commented on #599
感谢回复，看到你的开源项目很兴奋，wmts的使用场景还是很多的，希望我可以帮到你们，也希望这个项目可以很好的进行下去。

[2018-01-20 01:19] fuzhenn commented on #599
谢谢反馈！期待你的工作！

WMTS的接口形式可以参考arcgis，在SpatialReference上增加一个loadWMTS方法，读取wmts中的spatial reference设置后供map或TileLayer调用，如果有任何问题请随时联系我。

[2018-01-21 06:09] deyihu commented on #595
@7zheng7  这个问题我研究过，不过还没有好的解决方案

1.利用arcgis, 超图等桌面级的工具来切图，不过针对动态变化的底图（动态变更样式，动态添加底图的元素等）需要多次的切图，而且如果是切图的比例尺要求较高（比如：1:500比例尺）能切死人，尤其是范围大的，比如切一个省的，单机切片估计要一两个月；小范围的，比例尺要求不高的可以采用这种方案

2.开源的mapnik，mapbox-node可以尝试一下（其中，mapnik其我已经测试成功了，但是这个也涉及到cartocss的样式，这个要求配图人员需要基本的Css知识，所以我放弃了；mapbox-node我测试了，效率奇慢所以也放弃了）

3.矢量切片-前端渲染方案，具体的可以参考mapbox的规范，我也是采用这个方案的

------------------------------------------------------

[2018-01-21 07:12] deyihu commented on #592
@fuzhenn 棒棒哒 ，收到了

[2018-01-21 16:22] fuzhenn commented on #595
哈哈！感谢 @deyihu 同学的回复！

关于底图动态渲染，我比较看好的方式是以mapbox-gl为代表的的矢量瓦片 + 前端渲染的方式。

这个路线最大的缺点是webgl开发门槛比较高，mapbox-gl的大神们基本上把原生webgl用到了极致，但问题是这么高水平的开发人员全世界也不多。

为了解决这个问题，我现在正在开发一个maptalks矢量瓦片插件，这个插件的定位不是maptalks版的mapbox-gl，而是个开发框架，主要目标是降低矢量瓦片的开发难度，让开发者能选用任意的webgl库(原生/three.js/claygl/playcanvas)甚或**canvas 2d**来轻松实现矢量瓦片的可视化/交互，且无需关心矢量瓦片的技术细节。

等我们在内部项目里实际验证以后就会把它开源出来，到时请各位同学多指正。

[2018-01-22 02:43] fuzhenn opened #602 "layer zindex conflicts"
**maptalks's version and what browser you use?**
v0.37.0

**Issue description**
New layer added with zIndex will make current layer's zindex updated.

reported by @ageeye-cn

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-01-22 02:47] fuzhenn opened #603 "dragging conflicts"
**maptalks's version and what browser you use?**
v0.37.0

**Issue description**
Dragging ui markers will make other draggable dom elements undraggable.
Suspecting it's due to event listening conflicts on **document**.

reported by @ageeye-cn

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-01-23 13:07] deyihu opened #605 "Coordinate to Pixel慢的问题"
**maptalks's version and what browser you use?**

**Issue description**

经纬度转屏幕坐标，当数据量大时，我测试了100万的数据，需要2-3秒，在二维地图里，当时我也遇到这个问题，解决的方法是获取当前地图的大小和经纬度范围，然后利用平均值计算，一百几十万的数据只需几百毫秒，不知这个有好的解决办法吗?

我看 插件 [bigLayer](https://github.com/maptalks/maptalks.biglayer)
里BigPointLayer.js
转换代码：
                  const cp = map.coordinateToPoint(new maptalks.Coordinate(point), targetZ);
                    vertexTexCo

[2018-01-24 02:10] fuzhenn commented on #605
前几天我在master分支版本里做了一些优化，在坐标转换过程中重用而不再创建任何新的数组，或多或少应该能提高一些性能。
除此之外，能挖掘的潜力就比较有限了。

坐标转换有一些优化方式（也许你已经知道了，我再提一下）：
先把coordinate转换成point（世界二维坐标），并缓存起来。
同级别拖拽或旋转地图时，point不会有变化，不同级别之间的point只需要乘以map.getScale()即可。
需要用到containerPoint时，再把缓存的point转换为containerPoint，这样能省略掉coordToPoint的转换过程。

另外就是用webgl，webgl可以直接用point来构造数据，然后通过uniform矩阵在shader中实现point->containerPoint，从而省略坐标转换。

因为该问题不算是bug，我先关闭issue，但欢迎就此主题继续讨论。

[2018-01-24 02:10] #605 closed, assigned to nobody

[2018-01-24 06:05] ageeye-cn commented on #603
demo: http://jsfiddle.net/419sqhe6/

[2018-01-24 12:28] axmand opened #606 "转换成3D视角后，频繁移动会出现 this.width和this.height值为0的情况，导致 containerPointToPoint计算失败"
重现操作：倾斜地图后频繁移动地图

错误堆栈：
1. _checkSize
2. checkSize
3. _offsetCenterByPixel
4. _contanierToPrj
5. _containerToPoint,错误出现在此处，由于this.width和this.height 为0，计算移动后的点x,y出错.

示例地址：https://github.com/maptalks/maptalks.e4
因为示例带有数据和未发布的插件，请直接运行 demo/bar3d.html

[2018-01-24 15:46] fuzhenn commented on #606
谢谢！很巧今天刚改过这个bug，因为size为0时，转换时会出现某些分母为0，导致计算出错。
下面的commit应该能解决这个问题。
https://github.com/maptalks/maptalks.js/commit/c295183211d4945b61bb360a3a5001b2bb192b07

我先关闭issue，如果仍有问题再打开。

[2018-01-24 15:46] #606 closed, assigned to nobody

[2018-01-25 02:06] wo4861069 opened #607 "大神，方便加个QQ嘛，谢谢了"
你好，大神，方便加个QQ嘛，有些问题想质询你，谢谢了 我的QQ361458994

[2018-01-25 02:07] #607 closed, assigned to nobody

[2018-01-25 03:37] #603 closed, assigned to fuzhenn

[2018-01-27 09:53] #594 closed, assigned to fuzhenn

[2018-01-28 07:40] #591 closed, assigned to fuzhenn

[2018-01-28 16:20] fuzhenn commented on #601
There is some incorrect offset when dragging geometry due to the above commit.
Reopen this issue.

[2018-01-29 05:00] fuzhenn commented on #601
fixed in https://github.com/maptalks/maptalks.js/commit/b6d3066c4b052e43715968a430c9d97512172d00

[2018-01-29 05:00] #601 closed, assigned to fuzhenn

[2018-01-29 08:45] #598 closed, assigned to fuzhenn

[2018-01-29 10:20] fuzhenn opened #609 "Text automatically rotate with map"
Enable text to automatically rotate with map by setting some special property to `textRotation` symbol.

e.g.
[code]

proposed by 道道

[2018-01-29 15:12] #609 closed, assigned to fuzhenn

[2018-01-30 06:52] daijinmaster opened #610 "Marker 的dblclick事件与dragend事件有冲突，同时使用的时候都跑到dragend那儿去了"
**maptalks's version and what browser you use?**

**Issue description**

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-01-30 08:39] #602 closed, assigned to nobody

[2018-01-30 08:49] fuzhenn commented on #610
你的意思是dblclick时，不应该触发dragend吗

[2018-01-30 09:07] daijinmaster commented on #610
对的，而且不光是dblclick，单击click也触发dragend

[2018-01-30 09:08] fuzhenn commented on #610
感谢反馈，我已经重现了这个问题，我来改一下。

[2018-01-30 09:09] daijinmaster commented on #610
多谢

[2018-01-30 09:24] #610 closed, assigned to fuzhenn

[2018-01-30 09:25] fuzhenn commented on #610
@daijinmaster 已解决，会在下个版本(v0.38.0)中发布

[2018-01-31 01:11] treasureMoment opened #611 "移动端：旋转的同时可进行放大缩小操作"
**maptalks's version and what browser you use?**

支持手势操作版本
**Issue description**
目前版本：只能进行旋转或者放大缩小。不能同时进行

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-01-31 08:32] #597 closed, assigned to fuzhenn

[2018-02-01 07:56] #611 closed, assigned to fuzhenn

[2018-02-02 00:34] Kyokochya opened #612 "fitExtent() and getFitZoom() can't contains all extent when the basemap is "baidu""
**mptalks's version and what browser you use?**
0.38.1 chrome64.0.3282.119

**Issue description**
fitExtent() and getFitZoom() can't contains all extent when the basemap is "baidu"

**Please provide a reproduction URL (on any jsfiddle like site)**
https://jsfiddle.net/bougie/9ca8bdvw/

[2018-02-02 02:47] fuzhenn commented on #612
Thank you for reporting issue!
Investigating

[2018-02-04 04:50] fuzhenn opened #613 "Dynamic background painting while zooming"
Dynamically paint background while map is zooming.

Make zooming seamless.

[2018-02-04 06:12] Wuli-Zhang opened #614 "examples中2.11是否为bug"
**maptalks's version and what browser you use?**

**Issue description**
在examples的2.11中，显示指定范围内的瓦片，在放大缩小地图时发生错位

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-02-04 07:25] fuzhenn commented on #614
Thanks!
Fixed in https://github.com/maptalks/maptalks.js/commit/85c98c698ff13fc59a43f676e80b70b5a6a61545

Published and fixed as v0.38.2

[2018-02-04 07:25] #614 closed, assigned to nobody

[2018-02-05 17:57] fuzhenn commented on #613
closed by https://github.com/maptalks/maptalks.js/commit/8d52096174a5911695c8531e8c63639b15ad27e6

[2018-02-05 17:57] #613 closed, assigned to fuzhenn

[2018-02-07 03:41] 1dent1ty opened #615 "如何实现类似谷歌的切片加载效果"
**maptalks's version and what browser you use?**

**Issue description**
![1](https://user-images.githubusercontent.com/5330218/35897322-9af7eabe-0bfb-11e8-9005-392dc8f34abc.png)
当切片未完全加载时，显示网格图；当切片完全加载后，不显示网格图。

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-02-08 09:32] fuzhenn commented on #612
Resolved in the reference commit.
It's caused by null resolutions[0] in baidu's spatial reference.
Thanks again! @Kyokochya

[2018-02-08 09:33] #612 closed, assigned to nobody

[2018-02-09 07:17] #615 closed, assigned to fuzhenn

[2018-02-13 12:30] s9eenk opened #616 "Polygon Pattern Fill Not working in maptalks.ExtrudePolygonLayer"
**maptalks's version and what browser you use?**
version - 0.38.1 and browser - chrome

**Issue description**
I cannot fill the polygon layer with pattern or gradient. Also please provide an example providing a pop up on hovering a polygon in maptalks.ExtrudePolygonLayer

[2018-02-14 01:59] fuzhenn commented on #616
Hi, @s9eenk , good to see u.
Yeah, ExtrudePolygonLayer doesn't support polygon pattern fill (gradient either). As [extrudePolygonLayer ](https://github.com/maptalks/maptalks.biglayer) is an experimental plugin, so I don't have a plan to add pattern fill in.
ExtrudePolygonLayer (with other big layers)  will be replaced by a new layer plugin we are working on now, extruded polygon with pattern/gradi

[2018-02-14 01:59] #616 closed, assigned to nobody

[2018-02-22 10:48] Wuli-Zhang opened #617 "几个画图问题"
**maptalks's version and what browser you use?**

**Issue description**
 画矩形的时候，矩形角度会随着旋转地图而改变。
画椭圆时，如果椭圆过扁，椭圆的两端会有棱角的出现，大一点的矩形则没有。

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-02-24 03:06] chenxiaoleizi opened #618 "添加ExtrudePolygonLayer后右键旋转视角，几何体会闪动"
version and what browser you use?**
火狐，chrome

**Issue description**
添加ExtrudePolygonLayer后右键旋转视角，几何体的渲染有点奇怪，会有抖动的感觉。
官网的例子会有轻微的抖动，我自己加的几何体抖动比较大。

**Please provide a reproduction URL (on any jsfiddle like site)**
http://maptalks.org/gallery/extrude-buildings/index.html

[2018-02-24 03:41] fuzhenn commented on #618
感谢报告issue

官网的例子里的插件版本已经比较老了，试过现在的biglayer插件没？
https://github.com/maptalks/maptalks.biglayer

另是怎样的抖动？ 能不能麻烦做个gif截图之类的

[2018-02-24 03:50] chenxiaoleizi commented on #618
![pic](https://user-images.githubusercontent.com/24647177/36625347-ca2fdc96-1958-11e8-846d-0596c216d817.gif)
gif图，感觉旋转的时候有点变形。我试下新的插件。

[2018-02-25 07:07] deyihu opened #619 "maptalks.ui.UIMarker is Geometry or Control"
**maptalks's version and what browser you use?**
如果利用 UIMarker  自定义一个 marker ，UIMarker  会遮住map的鼠标事件（缩放，拖拽等），如果把 UIMarker  归为UI（Control）组件这个我可以理解，如果把UIMarker  归为Geometry (Marker/Point) ，其不应该影响map的操作；

我以为是 options 里 eventsToStop 设置成true的，好像不是的；

leafletjs 里也可以将dom做为 marker的icon的，其不会影响map的操作

http://maptalks.org/examples/en/style/html-marker/#style_html-marker

**Issue description**

**Please provid

[2018-02-25 13:48] fuzhenn commented on #619
目前UI和Control上的事件都会被map忽略掉

不过你说的有道理，UIMarker比较特殊，直觉上应该让事件传递给map

我会比较一下各种情况，看看能否放开

[2018-02-25 15:51] #619 closed, assigned to nobody

[2018-02-25 15:53] fuzhenn commented on #619
在UIComponent增加了eventsPropagation选项，用来设置是否阻止事件冒泡
UIMarker的eventsPropagation默认设置为true，即能让事件传递给map

[2018-02-26 05:14] fuzhenn commented on #618
@chenxiaoleizi 这个问题在biglayer插件上还存在吗？

[2018-02-26 05:15] chenxiaoleizi commented on #618
存在的。

[2018-02-26 14:15] fuzhenn commented on #618
方便提供一份重现数据给我吗？

[2018-02-27 02:13] chenxiaoleizi commented on #618
我们想在maptalks的基础上做一个室内室外结合的地图，这个好实现吗？能加你qq吗？

[2018-02-27 03:11] fuzhenn commented on #618
@chenxiaoleizi 室内外结合地图做起来应该挺容易的，不过biglayer不太适合，用[three](https://github.com/maptalks/maptalks.three)插件更方便一些

qq群： 237726126

[2018-02-27 09:18] fuzhenn commented on #618
moved to https://github.com/maptalks/maptalks.biglayer/issues/26

closing

[2018-02-27 09:18] #618 closed, assigned to nobody

[2018-02-28 07:24] kidlu1412 opened #620 "请问支持字体碰撞吗？"
**maptalks's version and what browser you use?**
0.37

**Issue description**
字体碰撞

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-02-28 07:49] ageeye-cn opened #621 "LineString启用smoothness后，两端不正常"
**maptalks's version and what browser you use?**
0.38

**Issue description**
LineString启用smoothness后，两端总会略微上翘，类似于一个反曲弓。

![tim 20180228154039](https://user-images.githubusercontent.com/1737208/36775911-e508bfc6-1c9e-11e8-8367-fee2b72c3466.jpg)

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-02-28 08:21] fuzhenn commented on #620
核心库不支持碰撞检测，但可以通过插件实现：

https://github.com/ageeye-cn/maptalks.collisionLayer/

[2018-02-28 08:21] #620 closed, assigned to nobody

[2018-03-01 06:00] #621 closed, assigned to fuzhenn

[2018-03-02 06:09] kallr opened #624 "支持elevation图层吗"
请问是不是不支持高程图层？还有cesium的插件是不是不能用？

[2018-03-02 06:32] kallr opened #625 "如何进行无限缩放呢？"
请问，如何设置才能进行无限放大呢？

[2018-03-02 06:44] fuzhenn commented on #624
高程图层暂时不支持，但技术基础都已经准备好了（基于gl的瓦片TIN绘制支持等），过段时间会实现的

[2018-03-02 06:44] #624 closed, assigned to nobody

[2018-03-02 06:49] fuzhenn commented on #625
可以按照需要手动构造地图的spatialReference，来实现更大的放大层级，[参考示例](http://maptalks.org/examples/cn/tilelayer-projection/proj4js/#tilelayer-projection_proj4js)

例如，如下设置map的spatialReference能支持到30级的缩放：
[code]

[2018-03-02 06:49] #625 closed, assigned to nobody

[2018-03-05 16:38] fuzhenn opened #626 "appveyor testing failed"
**maptalks's version and what browser you use?**
n/a

**Issue description**
Appveyor testing failed due to errors in building flow (seems to be rollup)

It's a chance to take an update of the building flow

**Please provide a reproduction URL (on any jsfiddle like site)**
n/a

[2018-03-06 00:39] kallr commented on #624
好的，很期待这个；

[2018-03-06 09:36] fuzhenn commented on #626
ok, appveyor turns to work now - __ - , closing

[2018-03-06 09:36] #626 closed, assigned to fuzhenn

[2018-03-06 10:00] fuzhenn opened #627 "Draw rectangle/Circle by click and click action"
**maptalks's version and what browser you use?**
n/a

**Issue description**
Draw rectangle/Circle by click and click action, as the openlayers
http://openlayers.org/en/latest/examples/draw-shapes.html

**Please provide a reproduction URL (on any jsfiddle like site)**
n/a

[2018-03-07 03:48] lifefriend opened #628 "maptalks is not defined in requirejs"
**maptalks's version and what browser you use?**

 maptalks-0.38.2

**Issue description**

when edit rectangle in requirejs
[code]
change "return new maptalks.Polygon" to "return new Polygon" can fix it in function "Path.prototype.getOutline"

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-03-07 03:50] fuzhenn commented on #628
Confirmed, really thanks!

[2018-03-07 04:04] #628 closed, assigned to fuzhenn

[2018-03-07 04:06] fuzhenn commented on #628
Fixed and published as v0.39.1
Thanks again!

[2018-03-08 07:58] lifefriend opened #630 "draw a rectangle and edit , the shape can change to polygon with the edge more than 4"
**maptalks's version and what browser you use?**

maptalks v0.39.1

**Issue description**

if draw a  rectangle  and edit  it , the shape can change to polygon with the edge more than 4

but if create  a  rectangle  with code(new maptalks.Rectangle) and edit ,the shape remains unchanged

mybe the value  "geometry instanceof Rectangle" in  "GeometryEditor.prototype.start" is different

**Please pro

[2018-03-08 13:26] fuzhenn commented on #630
Glad to hear from you.

It is on purpose. Since v0.39.0, when DrawTool's mode is set to `Rectangle`, a `maptalks.Polygon` is generated by DrawTool instead of a `maptalks.Rectangle`.

It is because `maptalks.Rectangle` doesn't have a rotation property, and can't rotate with map. It makes it look weird when DrawTool draws a `maptalks.Rectangle` on a rotating map.

Anyway, your opinion does make sens

[2018-03-10 05:45] RoxanneCIA opened #631 "你们的官方API地址为什么一直打不开？"
**maptalks's version and what browser you use?**

**Issue description**

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-03-10 05:58] fuzhenn commented on #631
你是用的哪个地址？
http://maptalks.org/maptalks.js/api/0.x/Map.html

如果实在打不开，也可以从[releases里下载发布包](https://github.com/maptalks/maptalks.js/releases)，里面包含了api文档

[2018-03-10 05:58] #631 closed, assigned to nobody

[2018-03-12 07:10] liubgithub opened #632 "InfoWindow调用hide或者openInfoWindow无效"
**maptalks's version and what browser you use?**
0.39.1

**Issue description**
点击地图上的marker，第一次显示，再次点击marker通过判断marker是否已经有了infowindow，有的话，调用hide方法无效。

**Please provide a reproduction URL (on any jsfiddle like site)**
http://jsfiddle.net/zqf02kp1/15/

[2018-03-12 08:27] fuzhenn commented on #632
resolved by setting `autoOpenOn : null` to info window's options

[2018-03-12 08:27] #632 closed, assigned to fuzhenn

[2018-03-13 02:32] fuzhenn opened #633 "(moved from maptalks.three) a gl renderer for VectorLayer"
**maptalks's version and what browser you use?**
n/a

**Issue description**
This issue is [moved from maptalks.three](https://github.com/maptalks/maptalks.three/issues/5).
Add a gl renderer to VectorLayer to improve drawing performance, e.g. with pixi.js.

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-03-13 05:17] yzpopulation opened #634 "能不能进行离线地图下载？"
maptalks 非常好，公司的环境是局域网，和互联网完全隔离，需要地图展示，我现在想用maptalks进行页面展示，但是没有瓦片数据，我尝试用博客园某人的mapdownload进行下载，可以用leaflet进行加载，但是该软件没有你例子中的4326投影的底图，请问有没有方便制作的离线接口？

[2018-03-13 05:21] fuzhenn commented on #634
欢迎！

maptalks可以加载任意投影的地图，如果能用leaflet加载的话，maptalks也肯定能加载。
具体可以看一下它的leaflet里的瓦片参数(urlTemplate)，配置给maptalks就行了。

maptalks和leaflet一样，默认都是3857投影，加载示例：
http://maptalks.org/examples/cn/map/load/

也可以支持其他投影，例如百度的加载示例：
http://maptalks.org/examples/cn/tilelayer-projection/baidu/#tilelayer-projection_baidu

更多示例可以参考上面的示例页面

[2018-03-13 05:21] #634 closed, assigned to nobody

[2018-03-13 06:49] RoxanneCIA opened #635 "按照你官网的demo加载arcgis瓦片是没问题的，但是使用我们自己发布的arcgis地图服务是加载不出来的（它是可以用arcgis api加载出来的），能了解下原因么？"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-03-13 06:53] fuzhenn commented on #635
可能的原因有很多，要看arcgis瓦片是怎么发布的，urlTemplate是怎么设置的

可以参考一下maptalks的arcgis config loader的示例：

http://maptalks.org/examples/cn/tilelayer-projection/arcgis-tile/#tilelayer-projection_arcgis-tile

在这个例子基础上多试几种projection。

如果你们的底图不是用3857/4326等常见投影，而是西安80之类的坐标系发布的，得用proj4js来构造自定义的projection， 示例：

http://maptalks.org/examples/cn/tilelayer-projection/proj4js/#tilelayer-projection_proj4js

[2018-03-13 06:53] #635 closed, assigned to nobody

[2018-03-13 08:33] fuzhenn opened #636 "Add specs for IE9"
**maptalks's version and what browser you use?**
----
n/a

**Issue description**
----
Add specs for IE9, to ensure the basic functions on IE9

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-03-13 14:58] yzpopulation commented on #634
我想问的是有没有天地图的离线下载工具啊？ @fuzhenn

[2018-03-13 15:00] fuzhenn commented on #634
@yzpopulation sorry，我们没有离线下载工具

[2018-03-14 10:07] maketwin opened #637 "在做3d的地图时候，使用threejs，但是地图上字一旋转会反，有办法解决吗"
**maptalks's version and what browser you use?**
----
0.39.1

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-03-14 10:12] fuzhenn commented on #637
sorry, 没get到你的问题在哪里，能基于这个jsfiddle给个重现代码吗？
http://jsfiddle.net/cu81smp0/1/

我已经把maptalks, three.js, maptalks.three都添加到了这个jsfiddle里

[2018-03-15 15:29] fuzhenn commented on #637
@maketwin  closing.
如果需要的话，可以随时重新打开

[2018-03-15 15:29] #637 closed, assigned to nobody

[2018-03-16 06:46] zhuang-hao-ming opened #638 "some mistakes in wiki"
https://github.com/maptalks/maptalks.js/wiki/Tile-System

I think there are some mistakes in this wiki.

1. epsg:4326 is not a projection. The projection that uses geographical coordinate directly as projected coordinate without any projection is called [plate-carre](http://desktop.arcgis.com/en/arcmap/10.3/guide-books/map-projections/plate-carr-e.htm).4326 itself is a geographical coordinate syst

[2018-03-16 07:48] fuzhenn commented on #638
Thanks! Appreciate very much for pointing out those mistakes!

Got them corrected.

[2018-03-16 08:09] #638 closed, assigned to nobody

[2018-03-18 06:44] fuzhenn opened #640 "upgrade to circleCI v2"
upgrade to circleCI v2 which seems to be faster and more stable.

[2018-03-19 06:28] fuzhenn opened #641 "Draw partial canvas of vectorlayer"
**maptalks's version and what browser you use?**
----
v0.39.2

**Issue description**
----
Only draw painted part of vectorlayer's canvas to improve performance

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-03-19 12:08] fuzhenn commented on #640
done in
https://github.com/maptalks/maptalks.js/commit/a1aed0fccecbd9bc1273af6292f960f76234823c
and
https://github.com/maptalks/maptalks.js/commit/0980b0b660ea0806ca96747de417582db3d34704

[2018-03-19 12:08] #640 closed, assigned to fuzhenn

[2018-03-19 12:09] fuzhenn commented on #630
closing, will reopen if necessary

[2018-03-19 12:09] #630 closed, assigned to nobody

[2018-03-19 17:04] #636 closed, assigned to fuzhenn

[2018-03-21 03:17] lileialg opened #643 "point点三维显示？"
请问可以支持点point的三维显示吗，
现在支持了线、面、circle的三维显示，点好像不支持；
另外在添加很多circle三维显示时，拖动或者旋转地图，会不连续显示，可以解决吗？

[2018-03-21 03:23] fuzhenn commented on #643
很高兴收到你的issue。

三维点也支持的
http://maptalks.org/examples/cn/3d/marker-draw-altitude/#3d_marker-draw-altitude
但如果你指的是三维旋转的点，那个暂时还不支持，可以用[three插件](https://github.com/maptalks/maptalks.three)来实现

关于图层不连续显示的问题，因为map的fpsOnInteracting（默认25帧）限制，在交互时为维持fps会省略一些图层的绘制，有两种办法可以强制绘制：
* 初始化地图时，在options里把`fpsOnInteracting`设为0，关闭交互帧数限制
* 初始化图层时，在options里根据需要把图层的`forceRenderOnMoving`, `forceRenderOnZooming`,  `forceRen

[2018-03-21 04:34] lileialg commented on #643
首先，非常感谢您的回复，我底下重新试试；
另外，想咨询下，maptalks对大数据量的轨迹点动画播放的支持力度有多强呢？
比方说一种场景：中国范围内4-5万量物流车实时轨迹变化

[2018-03-21 04:51] fuzhenn commented on #643
对于4-5w辆车的实时轨迹绘制，目前VectorLayer绘制性能可以支撑，但肯定会有明显卡顿。
但如果对绘制效率要求很高，可以稍微等一段时间，我现在正在开发VectorLayer的gl renderer，应该能比现有的canvas renderer明显提升绘制性能

[2018-03-21 05:36] lileialg commented on #643
thanks,非常期待，谢谢指导

[2018-03-21 05:39] lileialg commented on #643
不知道maptalk能不能做成地图最终缩放成球状，类似于cesium那样，另外三维建筑能不能添加纹理？

[2018-03-21 07:48] fuzhenn commented on #643
maptalks是二三维地图引擎，所以不能缩成球状，但可以在map的div下叠加一个地球，在需要的时候隐藏maptalks切换到地球上

用three插件载入三维建筑可以添加纹理的，具体参考three里的例子

那我先关闭这个issue，有问题欢迎随时继续讨论

[2018-03-21 07:48] #643 closed, assigned to nobody

[2018-03-21 08:54] Liquid-Zhangliquan opened #644 "可以让有纹理的线循环运动么"
**maptalks's version and what browser you use?**
----
maptalks v0.39.3    Chrome

**Issue description**
----
通过设置line的symbol做成有纹理的线 让它看起来它的纹理一直在朝一个方向移动
 symbol: [
            {
                'lineColor': '#396ce0',
                'lineWidth': 10,
                'lineDasharray': [10, 5, 10, 5]
            },
            {
                'lineColor': '#000',
                'lineWidth': 8,

[2018-03-21 09:44] tinyboat9677 opened #645 "多图层缩放出现空白"
多图层缩放出现空白 使用Grouptile

[2018-03-22 03:07] fuzhenn opened #646 "TileLayer with a different projection flickers"
**maptalks's version and what browser you use?**
----
v0.39.3

**Issue description**
----
 TileLayer with a different projection flickers when zooming

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://maptalks.org/examples/en/tilelayer-projection/different-projection/

[2018-03-22 08:02] deyihu opened #647 "重写TileLayer 的getTileUrl 导致鹰眼的 load image 404"
**maptalks's version and what browser you use?**
----

0.39.3

**Issue description**
----
如果重写  TileLayer 的getTileUrl 方法，这时如果 map 的
 overviewControl : true, // add overview control，开启鹰眼

鹰眼控件中load 瓦片的地址的方法并没有被重写，导致加载不到瓦片，从而导致鹰眼里一片空白
![2018-03-22_160023](https://user-images.githubusercontent.com/25998927/37758208-56342e22-2dea-11e8-95d6-72dbabf85065.png)

[重现地址：](http://58.210.98.62:7080/bugdisplay

[2018-03-22 16:43] yzpopulation opened #648 "如何获取指定点位的瓦片号？"
如题，如何获取指定点位的瓦片号？即 {x}{y}{z}

[2018-03-23 03:56] fuzhenn commented on #648
可以用TileLayer的内部方法获取某个坐标的瓦片xyz，代码如下
[code]

需注意，因为是内部方法，所以未来可能会发生变化

[2018-03-23 03:56] #648 closed, assigned to nobody

[2018-03-23 05:40] #647 closed, assigned to fuzhenn

[2018-03-24 02:42] six-ponies opened #649 "Maximum call stack size exceeded when an animation still working without map instance"
I had an LineString animation with 5 seconds to show, but before that ends, I removed the map instance, and it results a maximun call stack size exceeded error, here is my code
[code]
if you add `line._showPlayer.finish()`, this code will work fine, but this is not a official solution since line._showPlayer is an inner API.

Here is a reproduction in [jsfiddle](http://jsfiddle.net/lordisback/Lt0md

[2018-03-24 03:30] fuzhenn commented on #649
Thanks!

I forgot to confirm the player's state when stopping the animation, which leads to the inifinite loops.

Fixed in the above commit and add [a test case](https://github.com/maptalks/maptalks.js/commit/c78677b60d9e1c2927d3ed148e29d3907aa44966) to ensure it won't happen again.

Thanks again.

[2018-03-24 03:33] #649 closed, assigned to nobody

[2018-03-24 13:09] yzpopulation opened #650 "如何解决跨域瓦片数据问题？"
如题，如何解决跨域瓦片数据问题？maptalks会出错，但leaflet调用不会出错。
使用调试出错 Access-Control-Allow-Origin 。

[2018-03-24 14:05] fuzhenn commented on #650
因为瓦片图层默认用webgl渲染，webgl要求图片资源必须跨域

有两个解决方案：
* 瓦片图层的renderer改为canvas，缺点是不能三维倾斜，[示例](
http://maptalks.org/examples/cn/tilelayer-projection/canvas-renderer/#tilelayer-projection_canvas-renderer)
* 自建瓦片http代理，这里不再赘述

[2018-03-24 14:05] #650 closed, assigned to nobody

[2018-03-26 03:34] fuzhenn opened #651 "toDataURL doesn't work on mobile devices"
**maptalks's version and what browser you use?**
----
v0.39.3

**Issue description**
----
map.toDataURL doesn't work on mobile devices

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-03-26 07:40] tinyboat9677 opened #652 "地图导出下载功能在移动端无效"
在pc端可以使用下载功能，在移动端就不可以了，同一个页面自适应的。

[2018-03-26 07:41] fuzhenn commented on #652
Thanks! It's a duplicate of https://github.com/maptalks/maptalks.js/issues/651

[2018-03-26 07:41] #652 closed, assigned to nobody

[2018-03-29 15:14] #645 closed, assigned to fuzhenn

[2018-03-29 16:23] fuzhenn opened #654 "GroupTileLayer's performance issue"
**maptalks's version and what browser you use?**
----
v0.39.3

**Issue description**
----
There are explicit janks of loading tiles when tilting map with a GroupTileLayer.
It's mainly due to slow GPU operations such as `bufferData` and `texImage2D`

May reduce tiles to load with respect of user experience.

[2018-03-30 04:29] fuzhenn opened #655 "problem with textPlacement of vertex-last"
**maptalks's version and what browser you use?**
----
v0.39.3

**Issue description**
----
When set text's placement to vertex-last and set an altitude, the label is drawn to the first vertex (which should be the last vertex).

When altitude is not set, it is right.

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://jsfiddle.net/1xgwmv4s/20/

[2018-03-30 05:02] #646 closed, assigned to fuzhenn

[2018-03-30 09:20] #644 closed, assigned to nobody

[2018-03-30 09:21] fuzhenn commented on #644
![gif-iloveimg-compressed](https://user-images.githubusercontent.com/13678919/38132691-b85cf00c-343e-11e8-9536-cb6445ef8f2a.gif)

[code]

[2018-03-30 15:29] #655 closed, assigned to fuzhenn

[2018-04-02 06:23] Ray93 opened #656 "删除节点后无法保存位置"
**maptalks's version and what browser you use?**
----
0.39.3

**Issue description**
----
LineString和Polygon直接删除节点后，endEdit结束编辑之后无法保存编辑后的位置

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://maptalks.org/examples/en/interaction/edit-polygon/#interaction_edit-polygon
http://maptalks.org/examples/en/interaction/edit-line/#interaction_edit-line

[2018-04-02 06:31] fuzhenn commented on #656
感谢提出issue，这个问题已在下面的commit里解决了，请稍等两天，清明节前后会发新版本

https://github.com/maptalks/maptalks.js/commit/1d59bc783f276c86029f27e4fce177a10fbfaa6a

如果急着用，可以自己编译一份maptalks.js

[2018-04-02 06:31] #656 closed, assigned to nobody

[2018-04-02 06:43] fuzhenn commented on #656
嗨！ 我刚在0.39.3基础上单独修了这个问题，发布了0.39.4，可以更新一下

[2018-04-02 07:45] Ray93 commented on #656
好的，刚看到，感谢你的贡献，希望这个项目发展的更好！！

[2018-04-03 17:07] #651 closed, assigned to fuzhenn

[2018-04-03 17:09] fuzhenn commented on #654
fixed by introducing two new options in TileLayer : `reduceTiles` (true by default)  and `minPitchToReduce` (35 by default)

[2018-04-03 17:09] #654 closed, assigned to fuzhenn

[2018-04-09 06:44] #627 closed, assigned to nobody

[2018-04-12 08:19] gee1k opened #657 "在Infowindow中加载图片时，Infowindow位置偏移"
**maptalks's version and what browser you use?**
----
- maptalks: v0.39.5
- chrome: 65.0.3325.181

**Issue description**
----

- 首次（不是每次都会出现）：
![image](https://user-images.githubusercontent.com/12059800/38664513-7113bb62-3e6c-11e8-930f-50422205c38f.png)

- 正常：
![image](https://user-images.githubusercontent.com/12059800/38664825-4cad6e70-3e6d-11e8-91e8-bcd8effdda96.png)

**Please provide a reproduc

[2018-04-12 16:29] fuzhenn commented on #657
嗨，很高兴收到你的issue。

我也拿不准这算不算是一个bug。

Infowindow是靠内容元素的clientHeight和clientWidth来计算位置的。

把图片高度设置为100%时，在图片载入完成之前，图片的clientHeight一直是0，所以才会出现这个问题，在引擎层面我暂时没有想到特别好的解决方案。

在应用层面，这个问题有两个解决方案：
* 把图片高度设为像素值，或者把图片放在一个容器里，给容器设置一个像素高度
* 在打开InfoWindow前，预加载图片
[code]

[2018-04-13 01:42] gee1k commented on #657
谢谢你的回复。

看样子的确是这个原因，现在是通过设置Infowindow的translate来定位的，是否可以通过设置Infowindow的bottom和left来定位呢？这样就不会因为clientHeight变化而被改变位置了。

之前用过leaflet，记得leaflet好像设置图片是没有问题的，所以刚刚又去看了一下leaflet的源码？发现leaflet就是这么做的，您可以看看是否能借鉴一下
[leaflet源码地址](https://github.com/Leaflet/Leaflet/blob/0e9797edcedbb3f10ba25f0ac3dbf4c962b08ea6/src/layer/DivOverlay.js#L194)

[2018-04-13 01:51] fuzhenn commented on #657
哈，感谢提示，我来按这个思路改一下

[2018-04-17 03:28] munirfarzeen opened #658 "WGS84 ECFF"
**maptalks's version and what browser you use?**
----
master branch, google chrome

**Issue description**
----
https://dominoc925-pages.appspot.com/mapplets/cs_ecef.html
I want to display map with ECEF xyz values as can be seen in the link. Is it possible with maptalk?

**Please provide a reproduction URL (on any jsfiddle like site)**
----
https://dominoc925-pages.appspot.com/mapplets/cs_ecef.html

[2018-04-17 07:42] fuzhenn commented on #658
It's not directly supported.

You can use third party libraries to convert ecef xyz to wgs84 coordinate, such as [ecef-projector](https://github.com/lakowske/ecef-projector)

Then:

[code]

[2018-04-17 10:37] munirfarzeen commented on #658
No, this is not what i wanted to do, maybe i was unclear.
I have to make a map in ECEF coordinate system. Not just one point.
any idea how to do that?
do i have to make a CRF?

[2018-04-18 03:34] fuzhenn commented on #658
I think it's possible, but depends on what you want.

maptalks's coordinate system is also a cartesian XYZ system naturally fit for ECEF's need .

So you may use maptalks to present ECEF system like this:

[code]

[2018-04-19 02:16] munirfarzeen commented on #658
hi, thank you so much for the reply.
but when i changed the code accordingly, i have no background image.
should i add the baselayer from the openstreet ?
  oe should have own map?

[2018-04-19 02:20] munirfarzeen commented on #658
i mean there is no map, just the empty page.
URL from OPenstreet would work>?

[2018-04-19 02:23] fuzhenn commented on #658
Unfortunately, base map from openstreetmap can't be used in ECEF maps as it's a wgs84 **REQUIRED** map source. 😞

If you want to use ECEF data on openstreetmap maps, you have to convert ECEF data to wgs84 at first.

[2018-04-19 02:29] munirfarzeen commented on #658
how do you suggest i do that?
any idea?

[2018-04-19 02:51] munirfarzeen commented on #658
i have one basic question,
as far my understanding goes ECEF is cartesian XYZ system. and WGS84 is just a standard to define the shape of the earth?
now when you say i have to convert  ECEF data to wgs84, what exactly that mean?
will the data still in XYZ. because the literature i studied says that openstreet maps uses WGS48 system but they have latitude and longitude.
kindly point me right direct

[2018-04-19 03:07] fuzhenn commented on #658
Yeah, your understanding is right, [WGS84](https://en.wikipedia.org/wiki/World_Geodetic_System) is a standard to define any position on the earth, it's an ellipsoid coordinate system that is totally different from cartesian XYZ.

Thus, to use osm basemap, you have to convert your ECEF data to wgs84 before adding to maps.

You can convert on your own with [ecef-projector](https://github.com/lakowsk

[2018-04-19 03:12] munirfarzeen commented on #658
Actually i dont have ECEF data, i making application specific map, that is able to tell me my location in XYZ coordinates.
I dont require latitude and longitude on my map. I just wanna know my location in XYZ
does this makes sense?
or is it possible?

[2018-04-19 03:22] fuzhenn commented on #658
So let me sum it up: you want to create a map with osm baselayer, and get locations on the map in XYZ coodinates? Am I right?

If I'm right, just create a map with customized projection mentioned above, you can get any XYZ location you need on the map.

[2018-04-19 03:26] munirfarzeen commented on #658
yes, i want to use the titles from any public server and able to get the map in XYZ, and dimension would be in meters.
Like if i travel one meter on map which should be equal to same one meter on earth
so, if i follow those projections, i will be able to do that?

[2018-04-19 03:33] fuzhenn commented on #658
Yes, I think so.

You can have a try and return to me if you need any help any time.

[2018-04-19 03:34] munirfarzeen commented on #658
okay, thank you so much for your time.
I will try it.

[2018-04-19 12:41] munirfarzeen commented on #658
hi again,
i am  new to javascript too.
the line const projector = require('ecef-projector'); gives error uncaught reference error.
it says require is a server side function not the client side.
i tried including .js file in script, than i get the same error later in file.
any way to solve it

[2018-04-20 01:43] fuzhenn commented on #658
Sorry mate, I only provide support for this library. 😞

[2018-04-22 03:35] fuzhenn opened #660 "Maximum call stack size exceeded with geometry animation"
**maptalks's version and what browser you use?**
----
v0.39.5

**Issue description**
----
Maximum call stack size exceeded if geometry is removed from layer during animation

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://jsfiddle.net/wn1udfL9/2/

[2018-04-22 15:13] petitlen opened #661 "只有googlemap底图才支持3d显示吗。百度地图，腾讯地图的底图能否支持3D？"
只有googlemap底图才支持3d显示吗。百度地图，腾讯地图的底图能否支持3D？

[2018-04-22 15:24] fuzhenn commented on #661
哈， 欢迎。

百度地图和腾讯地图都能支持加载和3D展示

事实上maptalks的3D和什么底图无关，所以只要能加载的底图都能支持3D和其他所有功能

至于各种底图的加载，可以瞧一下官方例子和deyihu同学做的底图插件

https://github.com/deyihu/maptalks-tileLayercollection

[2018-04-22 15:24] #661 closed, assigned to nobody

[2018-04-22 15:51] petitlen commented on #661
谢谢您的回复

现在已经可以了，我之前项目都是使用leaflet的，在考虑改成maptalks的可行性。
在leaflet中使用了全球风场的js，https://www.npmjs.com/package/wind-js-leaflet <https://www.npmjs.com/package/wind-js-leaflet>
不知道这类型js，可否支持maptalks呢。

[2018-04-22 17:57] fuzhenn commented on #661
有一个windy图层插件：
https://github.com/fuzhenn/maptalks.windylayer

不过这个插件有个bug，在低级别上，当存在重复世界(repeatWorld)的时候，会出现绘制不正确，因为这个插件没什么人用，所以我也没有去修改这个问题。

这个bug改起来不难，如果你确定要用的话，我可以帮你把这个插件做一下修改。

[2018-04-23 07:23] fltjzit opened #663 "能否支持加载自定义地图？"
**maptalks's version and what browser you use?**
----

**Issue description**
----
看了maptalks的例子，基本都是加载的互联网地图服务，能否支持加载json格式的自定义地图？
还有一个建议，baseLayer的urlTemplate属性设置在文档中最好能够有个详细说明。

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-04-23 08:07] fuzhenn commented on #663
json格式的自定义地图是指？类似arcgis的json格式的rest瓦片服务吗？可以参考这个示例：
http://maptalks.org/examples/cn/tilelayer-projection/arcgis-tile/#tilelayer-projection_arcgis-tile

另外maptalks也支持你自定义空间参考，以支持任意类型的底图服务，参考示例：
http://maptalks.org/examples/cn/tilelayer-projection/custom-tile/#tilelayer-projection_custom-tile

在这个基础上可以自定义地图投影（例如基于proj4）:
http://maptalks.org/examples/cn/tilelayer-projection/proj4js/#tilelayer-projecti

[2018-04-24 05:07] GISerWang opened #664 "maptalks加载本机的arcgis server出现跨域问题。"
我参考官网例子：http://maptalks.org/examples/cn/tilelayer-projection/arcgis-tile/#tilelayer-projection_arcgis-tile

然后修改了arcUrl，center，zoom，maxZoom参数，结果出现了跨域问题，我使用openlayers加载本地的arcgis server的服务，就可以成功加载，请问大佬，这个问题应该如何解决啊？？错误提示就是正常的跨域错误：Access to Image at 'http://localhost:6080/arcgis/rest/services/xc/xc/MapServer/tile/2/307/424' from origin 'http://localhost:63342' has been blocked by CORS policy: No 'Acce

[2018-04-24 05:10] fuzhenn commented on #664
很高兴收到你的issue

因为TileLayer默认是用webgl绘制瓦片的，所以瓦片服务必须支持跨域

有两个解决方案：
1. 给瓦片数据增加跨域代理
2. 把TileLayer的renderer换成canvas (ol是用canvas绘制瓦片，所以它默认没有跨域问题），但缺点是不支持三维

具体可以见这个demo里的说明
http://maptalks.org/examples/cn/tilelayer-projection/canvas-renderer/#tilelayer-projection_canvas-renderer

[2018-04-24 05:10] #664 closed, assigned to nobody

[2018-04-24 05:58] fltjzit commented on #663
可能我的问题没有描述清楚。我举个例子说明一下我所说的自定义地图。以我所从事的工作为例，我们单位是基层单位，需要经常用到以行政区域为底图各种GIS专题图，因国家法律法规限制，正规互联网地图服务都没有行政区域界线图，尤其是乡镇、行政村（社区）级别的行政区域图。但是基层单位自己是拥有这些行政区域数据的，如果将这些数据转出json格式，是否可用maptalks绘制出行政区划图呢？就像用echarts绘制自定义地图一样。

[2018-04-24 06:10] fuzhenn commented on #663
maptalks支持geojson格式和geometry的互相转化，具体请见示例

geojson到geometry:
http://maptalks.org/examples/cn/json/geojson-to-geometry/#json_geojson-to-geometry

geometry到geojson:
http://maptalks.org/examples/cn/json/geometry-to-geojson/#json_geometry-to-geojson

另外VectorLayer也支持直接用geojson作为输入数据，通过style来设置数据样式，类似
[code]

相关示例：
http://maptalks.org/examples/cn/layer/vectorlayer-style/#layer_vectorlayer-style

[2018-04-24 08:49] #663 closed, assigned to nobody

[2018-04-26 05:11] deyihu opened #665 "关于底图容器叠加顺序的问题"
**maptalks's version and what browser you use?**
----
master

**Issue description**
----

如果开发的插件是插入dom标签，就是不是利用原生开放出来的CanvasRender（在maptalks-canvas-layer的canvas上进行绘制）的，而是自己自定义一个DOM元素（例如：maptalks.es插件，在maptalks-front-static插入了一个DIV来做为echarts的容器），这时maptalks-canvas-layer 上canvas绘制的图形会被自己写的插件的DOM上的内容遮盖（包括maptalks.es,和上次我写的Echarts-gl插件都存在这个问题），maptalks-canvas-layer的canvas上可能绘制点，这时点就会被覆盖，按照正常的理解，点应该在自己

[2018-04-26 05:25] fuzhenn commented on #665
renderer是dom时确实存在层级的问题

maptalks里的解决方案是提供了两个static div, 除了你提到的maptalks-front-static还有一个maptalks-back-static，back-static会把图层放到canvas下面

你可以代码中指定使用front static容器还是back static容器，例如e3插件是在options的container中设置front/back，renderer根据这个配置来获取图层容器：[源代码](https://github.com/maptalks/maptalks.e3/blob/master/index.js#L172)

leaflet默认的marker是用dom实现的，放置在最上层的一个div中，maptalks中也有类似的设计，不过maptalks里叫UIMarker（以和普通的Marker区分

[2018-04-26 08:00] deyihu commented on #665
@fuzhenn  当我将 将  'container' : 'back',后，echarts 的容器直接被底图覆盖，按道理底图应该是最低的层级，如果底图的层级比 back还高，static back没有存在的意义啊
![2018-04-26_155429](https://user-images.githubusercontent.com/25998927/39293175-c5ee14a8-496a-11e8-8f4f-179fc7661826.png)

加载完瓦片的地方会直接遮盖，还没有加载完瓦片的地方还可以看到 echarts 容器的DIV

[2018-04-26 11:41] lifefriend opened #666 "ArcCurve cannot identify it"
**maptalks's version and what browser you use?**

maptalks v0.39.5

**Issue description**

Draw a ArcCurve line on map use default setting,then use map.identify to identify  it,  cannot  identify it

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-04-26 12:49] wangbingqian110 opened #667 "限制地图的拖动范围"
你好：
       再使用maptalks与openlayers时遇到同一个问题，就是API只提供了限制地图中心拖动范围的方法（在maptalks中为map.setMaxExtent(extent)；在openlayers中为设置view的extent属性），如果我想要实现限制地图显示的边界，也就是说在视域范围内只显示（-180,-90,180,90）范围内的地图，而不是限制中心，这样的话只能自己实现吗？还是有直接的方法呢？谢谢！

[2018-04-26 13:00] fuzhenn commented on #667
可以通过给layer设置mask来实现

[code]

参考示例：

http://maptalks.org/examples/cn/tilelayer-projection/tile-mask/#tilelayer-projection_tile-mask

[2018-04-26 13:04] wangbingqian110 commented on #667
@fuzhenn 谢谢您的解答。

[2018-04-26 13:17] fuzhenn commented on #667
啊.. 刚发现setMask有个bug.. 会偶发性的mask失败
改了一下发了版本 v0.39.8 😀

[2018-04-26 13:32] wangbingqian110 commented on #667
@fuzhenn 哇，我刚还在打字呢，你就回答了我，真及时！😀

[2018-04-26 13:39] wangbingqian110 commented on #667
真是谢谢你，不过我发现我并不是想要这个功能...我想要的功能是用一个边框限制地图的拖动范围，就是像[高德地图](https://www.amap.com/)缩放到最小级别时，使劲往下拖它会限制的那种。

[2018-04-26 13:45] fuzhenn commented on #667
你要的是设定了最大范围以后，能像高德地图那样，把地图拖动范围也限制在这个范围里，是吗？

这个功能目前还没有，不过我可以修改一下setMaxExtent，把目前的拖出回弹方式，改成限制拖动范围

[2018-04-26 13:50] wangbingqian110 commented on #667
我要的确实是这个功能，但是我认为对这个方法直接改动不是太好，因为目前这个功能也很有用，我建议为map对象新加个方法，例如setMapBound什么的，来实现这个功能。

[2018-04-26 13:53] wangbingqian110 commented on #667
我以前在用openlayers的时候基于这个方法setMaxExtent（限制屏幕中心点的范围的方法）实现过上述功能，就是在map的move事件中来实时计算出这个Extent，就是感觉不太简便，您有更好的实现方法吗？

[2018-04-26 14:11] fuzhenn commented on #667
要实现的话，确实可以暂时用move事件来做，我写了个比较粗糙的实现可以参考一下

http://jsfiddle.net/fuzhenn/44fyf22f/1/

我也想一下这个需求如何处理更好，可以考虑增加一个新的方法

[2018-04-26 14:28] fuzhenn commented on #666
Thanks for your issue.

I didn't reproduce the issue you reported, this is [my jsfiddle](http://jsfiddle.net/fuzhenn/ft849muc/)

Could you please provide a minimal reproduction jsfiddle? Thanks.

[2018-04-26 14:40] fuzhenn commented on #665
hmmm.. 目前我没想到特别好的办法，有个不那么优雅的解决方案：
1. 还是把e3放到back static容器里
2. 在map下面叠加一个新的baseMap实例，给它只添加底图
3. 同步map和baseMap， [示例](http://maptalks.org/examples/cn/map/sync-map/#map_sync-map)

[2018-04-26 14:52] fuzhenn commented on #665
另外ecgl和e3如果能用canvas来初始化（而非dom容器），把图层做成canvas layer的话，也能完美解决这个问题，可惜他们目前还不支持。

有个思路，在插件图层的renderer里用dom初始化，然后覆盖CanvasRenderer中的getCanvasImage方法，单独把dom中的canvas(echarts会生成好几个canvas，需要合并一下)返回给map renderer，这样就可以把图层做成canvas layer

[2018-04-27 00:05] deyihu commented on #665
@fuzhenn  我试试，本来我想能不能将瓦片渲染的这块分离出来的，比如放在back static的下面，正常的图形渲染还是放在canvas layer里，然后插件开发的时候可以将插件放在back里，也可以用canvasRender里，也可以放在front里，这样就比较好了，不过我知道改动比较大

[2018-04-27 01:04] wangbingqian110 commented on #667
是的，谢谢你那么晚还为我解答，真心感谢。

[2018-04-27 01:24] fuzhenn commented on #665
@deyihu 确实可以考虑单独把baseLayer挪到一个最底层的独立canvas里，如果对性能影响不大，这样改写是最合适的。

晚点我做一下性能测试，比较一下两个canvas叠加和离屏渲染，性能上有没有区别

[2018-04-27 03:16] lifefriend commented on #666
Draw a ArcCurve line on map,then click it, click at diffent point , sometime can  identify it(middle)  sometime cannot (start or end)

[jsfiddle](http://jsfiddle.net/sevxfqe3/1/)

[2018-04-27 03:25] fuzhenn commented on #666
I tried your fiddle, it works as expected.

What's your browser and OS?

![image](https://user-images.githubusercontent.com/13678919/39343071-8a5856ee-4a0d-11e8-999e-a74d351fa54a.png)

[2018-04-27 03:49] lifefriend commented on #666
![image](https://user-images.githubusercontent.com/23650125/39343691-d1d98918-4a10-11e8-8ec0-56c39aa3ca50.png)

chrome Version 65.0.3325.181
windows 10

[2018-04-28 05:09] deyihu opened #668 "高分屏下鼠标手势的问题"
**maptalks's version and what browser you use?**
----

master

**Issue description**
----

当在高分屏下，canvasRender上绘制的图形，鼠标move上来，鼠标的手势并不会更改为小手，恰恰在该坐标的放大两倍的地方可以出现手势

![2018-04-28_130415](https://user-images.githubusercontent.com/25998927/39392224-e9f211f8-4ae4-11e8-8374-5b6b3a58fdfa.png)

应该是
 maptalks.Browser.retina ? 2 : 1；

这个引起的吧

**Please provide a reproduction URL (on any jsfiddle like site)**
-

[2018-04-29 06:56] deyihu opened #669 "About map.getExtent()"
**maptalks's version and what browser you use?**
----

**Issue description**
----

以全球图为列，当地图缩放到小的级别时，瓦片会重复平铺渲染

![2018-04-29 13-35-55](https://user-images.githubusercontent.com/25998927/39403601-4889f6b8-4bb2-11e8-8e5f-c4ea88156149.png)

这时访问map.getExtent() 会发现获取的Extent 会出现异常，xmax居然比xmin还小（或者ymax比ymin小）
![2018-04-29 13-38-27](https://user-images.githubusercontent.com/25998927/39403625-bdaa8822-4b

[2018-04-29 07:11] deyihu commented on #669
以最后一张图为例子，ymax为82，ymin为84，首先这个最大值比最小值还小感觉不对，而且地图明显横跨那么大的纬度区间也没有了

[2018-04-29 15:20] fuzhenn commented on #669
真正的extent值其实是map._get2DExtent(), 它是正常的， map.getExtent()是把四个角的2d坐标转化为**正确的**经纬度，所以才会出现上面所述的情况。而在内部计算时，都是基于2d extent(2DExtent)来计算，所以不会出现错误。

leaflet和mapbox-gl的extent坐标值是线性增长的，但会出现lng或lat 超过合法值的情况（例如lng超过180或低于-180），这也会导致一些其他的bug。

这个问题感觉暂时没有**绝对正确**的做法。

另外，maptalks没有实现重复世界(repeatWorld)的重复绘制，因为世界重复绘制并不是一个**必须**实现的特性，但会明显增加插件的开发难度，所以综合考虑，就没有实现了。

[2018-05-02 14:53] deyihu opened #670 "关于地图动态设置坐标投影的问题"
**maptalks's version and what browser you use?**
----

**Issue description**
----

如果Map设置了坐标投影信息（spatialReference）

瓦片可以正常加载   http://jsfiddle.net/j8t6171w/

**如果去掉Map的坐标投影信息，仅仅设置  TileLayer的坐标投影信息（spatialReference）**

**瓦片加载不出来，即地图没有读取TileLayer 的spatialReference 作为自己的投影信息  ，浏览器都是死掉的     http://jsfiddle.net/p08sLbnh/1/**

当然如果是加载 TileLayerGroup，TileLayerGroup里面的 TileLayer 集合的投影必须一样，否则加载坑定有问题

当使用

[2018-05-02 14:54] deyihu commented on #669
@fuzhenn  好的，我已经想打解决的方法了

[2018-05-02 16:36] fuzhenn commented on #669
👍 能不能大概讲一下是怎样的解决方法？

[2018-05-03 00:14] deyihu commented on #669
@fuzhenn  我是开发插件时需要用到这个函数，然后遇到了一些问题，不过我用其他的方法解决了，不是解决你说的这个问题，可能我没有说清楚

[2018-05-03 16:18] ageeye-cn opened #671 "同时添加textHalo和shadow样式的问题"
**maptalks's version and what browser you use?**
----
0.39.5
**Issue description**
----

当同时添加textHalo和shadow时，阴影不以描边轮廓为基准，仍然以内部填充轮廓为基准，且变为半透明效果
http://jsfiddle.net/6ukbcbLa/2/

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-05-04 07:33] deyihu commented on #670
@fuzhenn

地图不设置 spatialReference，TileLayer分别设置自己的spatialReference，可以加载，但是明显瓦片被缩放了或者形变了；

https://deyihu.github.io/src/html/1.html

如果动态的设置地图的spatialReference   （map.setSpatialReference(tileLayer.options.spatialReference);
这时加载就有问题了

https://deyihu.github.io/src/html/2.html

当底图动态的添加和移除，会发生底图覆盖绘制图形要素的问题，需要手动设置VectorLayer 的zIndex或者 对 TileLayer 进行 bringToBack，这个也是上次我说的底图渲染会覆盖渲染的图形同样的问题

https://deyih

[2018-05-04 09:04] fuzhenn commented on #670
那个浏览器卡死的问题是瓦片图层空间参考设置的不对造成的，resolution设置的太小，导致一屏的瓦片太多，造成卡死。
单独设置瓦片图层的空间参考必须要小心，其原理是：地图根据当前的地图范围，来动态计算屏幕中应当载入的瓦片，然后按照地图当前的res和瓦片图层的res来动态调整瓦片的大小，如果瓦片图层的res和地图的res相差太大，就会出现这种情况。

GroupTileLayer里每个TileLayer目前确实不支持设置不同的SpatialReference的，我会看一下是否能实现

先回答一下今天的三个问题：

1 如果TileLayer有自己的空间参考，它的瓦片大小都是动态计算的，所以出现拉伸是正常的，但第一个google图层的空间参考与地图是相同的，不应该出现拉伸

2. 加载有什么问题？

3 是正常的，addLayer永远会把图层设置在最上层，改用setBaseLayer即可

[2018-05-04 09:12] fuzhenn opened #672 "improve build flow"
Time flies, many things changed.

Build flow needs to be upgraded now.

[2018-05-04 10:50] deyihu commented on #670
@fuzhenn
  第三个问题我知道了，我做了相关的处理；

 第一个问题，谷歌和高德的的确没有问题，但是天地图和百度的出现拉伸的情况，我所理解的每个底图都可以有自己的空间参考，当地图切换底图时，应该读取当前底图的空间参考作为自己的参考（如果当前地图上有多个底图，他们的空间参考必须一模一样，只要有一个不一样，就认定为出错，因为地图的空间参考不能有多个），但是可以动态的切换，可以随着加上来的TileLayer （一个或者多个）动态的切换，其实这个就是我说的第二个问题，第二个问题https://deyihu.github.io/src/html/2.html
这里动态的切换底图，我主动的设置到了地图的参考（该参考由加上来的TileLayer决定），来回切换底图，发现瓦片没有拉伸的情况

      function switchLayer(name) {
          if(curre

[2018-05-04 11:33] fuzhenn commented on #670
明白了。

目前map是不会自动从tilelayer上读取空间参考的，原因是如果用户不需要自动处理时，会比较麻烦。

类似例子2，手动把tilelayer上的空间参考设置给map会更合理，至于pitch会卡死的问题，听上去是个bug，我会重现修改一下

[2018-05-04 11:34] fuzhenn commented on #670
总结一下需要解决的问题：
1. GroupTileLayer考虑支持每个layer都能设置自己的空间参考
2. pitch不为0时，设置map的空间参考时会卡死地图

[2018-05-04 12:01] deyihu commented on #670
GroupTileLayer 倒不是要考虑支持每个layer都能设置自己的空间参考，因为他是一个集合，是一起加到地图上，他们的空间参考必须一致，主要是图层切换控件的问题，图层切换控件是单选（TileLayer/GroupTileLayer）的，这个时候每个图层/图层组  是单独的加到地图上去的，他们可以有自己的空间参考，地图的参考可以随着加上去的图层来切换

比如我现在也在做一个图层切换控件，

![2018-05-04 19-47-32](https://user-images.githubusercontent.com/25998927/39626365-2cf88bc8-4fd4-11e8-8d6e-52ea0373160c.png)

![2018-05-04 19-47-05](https://user-images.githubusercontent.com/25998927/

[2018-05-05 12:11] houxieyu opened #673 "加载wmts地图，源地图仅支持到16层，放大以后显示空白"
能否提供支持，超出放大范围以后，用最近层级的地图

[2018-05-05 16:15] fuzhenn commented on #673
可以给TileLayer设置`maxAvailableZoom`
地图在级别超过时，就会换用`maxAvailableZoom`瓦片
[code]

[2018-05-05 16:15] #673 closed, assigned to nobody

[2018-05-05 16:25] fuzhenn commented on #666
Sorry, I still can't reproduce this bug.
I changed your fiddle a little bit: increase arc's line width to 5 px.
Could you have a recheck if it is resolved now? Thanks!

http://jsfiddle.net/sevxfqe3/2/

[2018-05-05 16:32] fuzhenn commented on #666
Ah, I have reproduced the bug.
When the bug occurs, it seems only part of the arc can't be identified.
I'll have a check what the problem is.

[2018-05-05 16:34] fuzhenn commented on #670
我想可以考虑给图层切换控件增加图层切换事件。
可以在事件中来手动切换地图的空间参考，类似：
[code]
这样灵活性更好，你觉得如何？

[2018-05-05 16:36] fuzhenn commented on #669
既然问题已解决，先关闭此issue

[2018-05-05 16:36] #669 closed, assigned to nobody

[2018-05-06 04:55] deyihu commented on #670
棒棒哒，如果TileLayer 的spatialReference 没有赋值，就给地图一个默认的spatialReference,如果TileLayer的 spatialReference赋值了，但是只给了pro没有赋值res,就默认设置一个值，比如 4326和3857通用的 分辨率的默认值，目前的问题是pitch>0卡死的问题

[2018-05-09 09:15] Liquid-Zhangliquan opened #674 "使用toDataURL打印地图的时候，文件过大会提示下载失败"
**maptalks's version and what browser you use?**
----
maptalks v0.39.8   Chrome

**Issue description**
----
使用toDataURL打印地图的时候，文件过大（宽度为浏览器宽度，若地图容器较小，不会出现类似问题）会提示下载失败

**Please provide a reproduction URL (on any jsfiddle like site)**
----
[测试地址](https://liquid-zhangliquan.github.io/zhangliquan.github.io/toDataURL.html)

[2018-05-10 14:45] fuzhenn opened #675 "layer swiper doesn't work on mobile"
**maptalks's version and what browser you use?**
----
v0.39.8 chrome on mobile

**Issue description**
----
layer swiper doesn't work on mobile
It looks like not a bug of maptalks.js, but the problem of swiper implementation

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://maptalks.org/examples/cn/layer/swipe/#layer_swipe

[2018-05-11 14:49] fuzhenn commented on #675
ok with maptalks.css

[2018-05-11 14:49] #675 closed, assigned to fuzhenn

[2018-05-11 14:55] houxieyu opened #676 "我成立了全球首家maptalks技术交流组织"
群号：291020637
希望fuzhenn老大先别封这个帖子，更希望老大亲自领导组织

[2018-05-11 16:24] fuzhenn commented on #676
首先感谢你的支持，哈哈

不过很不好意思，我还是得关闭这个issue。

这里解释一下：相较这里，qq群不太适合讨论bug或新功能，群留言凌乱也不方便组织，所以我还是倾向于github issue。当然很欢迎你为大家提供讨论场所，我目前因为主要精力在新功能开发上，现在就暂时不加入了。

等未来maptalks稳定版发布，如果那时这个qq群的人数足够多，可以就把你的群设为官方群。

再次感谢！

[2018-05-11 16:24] #676 closed, assigned to nobody

[2018-05-13 06:49] deyihu opened #677 "关于 ArcCurve 地图放大后 鼠标事件不能捕获的问题"
**maptalks's version and what browser you use?**
----

**Issue description**
----

ArcCurve 绘制后，添加鼠标事件，捕获不到，绘制的节点处可以点击，地图缩放小的级别 弧形轨迹可以点击，当地图放大后完全捕获不到

https://deyihu.github.io/src/html/geometry_curve.html

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-05-13 08:48] fuzhenn commented on #677
谢谢！
 #666 已经报告过同样的问题，先关闭本issue

[2018-05-13 08:48] #677 closed, assigned to nobody

[2018-05-14 04:38] fuzhenn commented on #660
resolved in v0.39.8

[2018-05-14 04:38] #660 closed, assigned to fuzhenn

[2018-05-14 06:40] #657 closed, assigned to fuzhenn

[2018-05-14 06:40] #668 closed, assigned to fuzhenn

[2018-05-14 06:40] #670 closed, assigned to nobody

[2018-05-14 06:40] #671 closed, assigned to fuzhenn

[2018-05-14 06:42] fuzhenn commented on #668
@deyihu 这个问题我试着改掉了，不过因为手头没有高分屏的电脑（手机或chrome模拟不出这个用例）
帮忙用master分支上的代码验证一下这个问题是否改好吧

[2018-05-14 09:09] #666 closed, assigned to nobody

[2018-05-14 09:13] fuzhenn commented on #674
works well with even 20000 * 20000 div container

It seems more likely an enviroment related problem rather than maptalks

[2018-05-14 09:13] #674 closed, assigned to fuzhenn

[2018-05-14 09:17] fuzhenn commented on #667
@wangbingqian110
我准备增加一个新的方法用来实现这个功能，你看如何？
[code]

[2018-05-14 09:19] fuzhenn commented on #665
这个问题还需要进一步的研究，就不包含在下个版本里了

我之后会找个专门的时间看一下这个问题

[2018-05-14 09:59] deyihu commented on #668
@fuzhenn  ok的

[2018-05-15 01:58] fuzhenn commented on #670
已经增加了新的事件：
[code]

[2018-05-16 01:14] wangbingqian110 commented on #667
@fuzhenn This is a good idea!haha

[2018-05-16 01:28] deyihu opened #678 "关于 infoWindow 位置的问题"
**maptalks's version and what browser you use?**
----

**Issue description**
----

Marker 绑定  infoWindow ,如果 图片填充 infoWindow的位置是正确的，如果是Text填充infoWindow位置往上偏移，如果是矢量填充，位置偏移实在是太大了

https://deyihu.github.io/src/html/4.html

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-05-16 10:07] fuzhenn commented on #678
这个问题应该是计算infowindow偏移量时，没有考虑marker的alignment造成的

[2018-05-17 05:43] GlenRiver opened #679 "地图缩小到最小有问题"
**maptalks's version and what browser you use?**
----
0.40.1

**Issue description**
----
地图在pitch的值不为0时，地图缩小到最小会报Position is NaN错，之后地图不能移动和缩放
![111](https://user-images.githubusercontent.com/18395304/40158621-148bb9da-59d8-11e8-8f77-9a4e4f88d476.png)

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-05-17 08:09] tomerry opened #680 "咨询个问题"
http://lbs.amap.com/api/javascript-api/example/3d/prism
请问这种效果如何实现？

[2018-05-17 08:13] fuzhenn commented on #680
这个效果用[maptalks.three](https://github.com/maptalks/maptalks.three)实现应该比较容易

[2018-05-17 08:13] #680 closed, assigned to nobody

[2018-05-17 08:52] #679 closed, assigned to nobody

[2018-05-17 10:09] lifefriend opened #681 "how to load MapServer like export?format=png8"
**maptalks's version and what browser you use?**
----

**Issue description**
----
How to load map like "ServiceEngine/rest/services/bncs/MapServer/export?format=png8&size=1000%2C675&f=image&dpi=96&bbox=114%2E15264446393343%2C30%2E473986893958408%2C114%2E49528057233186%2C30%2E705729752845127&transparent=true",
thanks

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-05-17 12:43] fuzhenn commented on #681
It looks like a WMS like service.

You can write your own tilelayer class to create request url on the fly like [WMSTileLayer](https://github.com/maptalks/maptalks.js/blob/master/src/layer/tile/WMSTileLayer.js).

And you can [pack it as a plugin](https://github.com/maptalks/maptalks.js/wiki) for further reuse.

[2018-05-18 12:17] fuzhenn opened #682 "Add rainy effect"
add rainy effect on top of map.

something like:

![image](https://user-images.githubusercontent.com/13678919/40234179-6790d7c2-5ad8-11e8-8ee3-080726a9b1d8.png)

[2018-05-18 13:41] fuzhenn commented on #682
reference:

https://tympanus.net/codrops/2015/11/04/rain-water-effect-experiments/

[2018-05-22 06:51] deyihu opened #684 "关于隐藏地图容器，然后在显示的问题"
**maptalks's version and what browser you use?**
----

**Issue description**
----

如果隐藏地图的容器，然后在显示地图容器，会报错

我看MapRender里有个动画函数动态的绘制Layers,最后异常抛出在绘制TileLayer里的

![2018-05-22_144857](https://user-images.githubusercontent.com/25998927/40346420-5c7877c4-5dcf-11e8-832a-425e1e40f66b.png)

应该是没有找到width和height的原因引起的，上次我测试全屏时也有这个问题

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-05-23 03:00] MOLIANGWANG commented on #617
drawtool rectangle be rotated again when map rotates
V0.40.1 / V0.40.2

[2018-05-23 03:15] fuzhenn commented on #617
@MOLIANGMAN 收到，感谢
这应该和 #629 或 #662 有关系，我晚点会改一下

[2018-05-25 08:47] ymq001 opened #685 "关于使用 ConnectorLine 连接 UIMarker 的调用问题"
请楼主写一个示例,我调用总是出错
![tim 20180525164655](https://user-images.githubusercontent.com/7494137/40535306-44fbacc4-603b-11e8-8c2d-0582a0742a8f.png)

[2018-05-25 12:49] fuzhenn commented on #685
欢迎提issue，uimarker的连接线的示例：

http://jsfiddle.net/j9f2dLkj/

[2018-05-25 12:49] #685 closed, assigned to nobody

[2018-05-26 07:05] ymq001 commented on #685
是这样的 我这边需要把一个点和一个uimarker或者html结构面板连接起来 然后缩放地图后 连接线长度不变化，请问可以有什么方法做到么？
我注册了zoomend事件 然后通过 setCoordinates 改变 panel 位置 无效果

[2018-05-26 10:02] fuzhenn commented on #685
hmm..

只要连接端点会根据地图变化改变位置，ConnectorLine也一定会随时发生变化的

你是想允许端点位置发生变化，但ConnectorLine一直保持不变吗？（方向，长短等）

[2018-05-26 14:08] ymq001 commented on #685
是的，原点(CoonectorLine 起点)位置不变，CoonectorLine 方向 长短 不随地图缩放而改变， 而是调整端点(CoonectorLine 终点)位置

[2018-05-26 14:29] deyihu opened #686 "ThreeLayer和VectorLayer的图形无法按照真实三维关系渲染"
**maptalks's version and what browser you use?**
----

**Issue description**
----

ThreeLayer 进行房屋数据的渲染，
VectorLayer1进行LineString 的渲染
VectorLayer2 进行Marker的渲染

将 ThreeLayer 的zIndex 值设置大于VectorLayer1 的zIndex 可以使房屋的图形 对LineString 的图形进行遮挡

![2018-05-26 22-02-03](https://user-images.githubusercontent.com/25998927/40576943-858b7b02-6130-11e8-90c6-8408441b51d9.png)

然后就是VectorLayer2（Marker所在图层），如果 Vecto

[2018-05-26 14:54] ymq001 opened #687 "关于maptalks增加typescript类型文件的问题"
maptalks项目可否拉出一个分支使用Typescript写就，或者增加一个Typescript类型文件？
毕竟现在使用ts作为规范语言的越来越多了

[2018-05-27 05:27] fuzhenn commented on #687
好主意，可以增加一个d.ts文件

不知道有没有基于注释的自动生成工具。

[2018-05-27 05:30] fuzhenn commented on #685
可以把原点和端点都设成[panel control](http://maptalks.org/examples/cn/ui-control/control-panel/#ui-control_control-panel)，Control是用像素定位的，不会跟随地图变化

[2018-05-27 13:19] ymq001 commented on #687
https://blog.csdn.net/u011537073/article/details/60475636
之前找到一个包,不过当时没有尝试转换成功,后来没那么多时间了,就没验证了, 你可以试下

https://www.npmjs.com/package/tsd-jsdoc

[2018-05-28 00:47] ymq001 commented on #685
有没有左边转换为 屏幕像素的 或者 基于地图容器的像素偏移量的方法？

[2018-05-28 03:50] ymq001 opened #688 "关于继承UIComponent 的UI组件 变换坐标不更新HTML内容的建议"
可否在 UIComponent 基础上增加一个 是否更新 UI (HTML)内容的 配置, 这样就可以避免 UIMarker 里面 iframe 频繁刷新的问题

[2018-05-28 04:10] fuzhenn commented on #688
能否帮忙基于[这个jsfiddle](http://jsfiddle.net/fbyzfwmm/)来重现一下你说的这个iframe频繁刷新问题，谢谢

[2018-05-28 05:59] ymq001 commented on #688
http://jsfiddle.net/j9f2dLkj/2/

这里我只做了地图缩放后重新设置 uimarker 的位置,并没有做其他操作, 按说不应该重新加载UIMarker的内容

[2018-05-28 06:51] ymq001 commented on #688
https://github.com/maptalks/maptalks.js/issues/688#event-1648729254

[2018-05-28 06:53] ymq001 commented on #688
https://jsfiddle.net/zhangpeichuan/jezq7qmg/1/

我覆写了UIMarker.setCoordinates和UIComponent.show方法解决了这个问题,但是 还是建议增加一个配置之类的

[2018-05-28 10:38] sakitam-fdd commented on #681
@lifefriend I provide a plugin for this，you can view [TileArcGISRest](https://github.com/sakitam-gis/maptalks.esri/blob/master/demo/TileArcGISRest.html)。

[2018-05-29 06:34] crstudio opened #689 "请问一下，我用绘制工具画的图形，如何给这个图形添加更多的属性，比如标题之类的属性"
drawTool 这个工具，接下来我应该用到哪些api？
没有赞助赞助链接吗？很想支持作者 :)

[2018-05-29 06:38] liubgithub commented on #689
对绘制的要素调用setProperties()方法，geometry.setProperties({title:'标题' }), 具体可查看http://maptalks.org/maptalks.js/api/0.x/Geometry.html#setProperties

[2018-05-29 06:41] liubgithub commented on #689
监听下drawtool的绘制完成事件
[code]

[2018-05-30 12:16] fuzhenn commented on #689
closing，will reopen if necessary

@crstudio 谢谢你的好意 😄

[2018-05-30 12:16] #689 closed, assigned to nobody

[2018-05-31 04:54] betseyliu opened #690 "dbClickZoom失效"
**maptalks's version and what browser you use?**
----
maptalks v0.40.1， Chrome 66
**Issue description**
----
萌新在研究API的过程中，发现示例中map option中的dbClickZoom设置为false，但是双击还是能触发zoom

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://maptalks.org/examples/cn/map/sync-map/#map_sync-map

[2018-05-31 06:39] fuzhenn commented on #690
应该是`doubleClickZoom`

http://maptalks.org/examples/cn/interaction/map-on-off/#interaction_map-on-off

[2018-05-31 06:39] #690 closed, assigned to nobody

[2018-06-01 07:52] yzpopulation opened #691 "天地图影像按照EPSG:4326加载坐标偏移很大"
天地图影像按照EPSG:4326加载坐标偏移很大？如何解决？

[2018-06-01 07:54] fuzhenn commented on #691
应该是设置问题，请给个重现代码

[2018-06-01 07:58] yzpopulation commented on #691
[code]

[2018-06-01 07:59] yzpopulation commented on #691
已经改成[1,-1,-180,180]了 @fuzhenn

[2018-06-01 08:05] fuzhenn commented on #691
刚看了一下，这个天地图的图源不是4326投影，而是3857墨卡托投影，所以有很大偏差。

有两个解决方案：
1. 不要设置map的spatialReference，用默认的3857投影
2. 单独设置TileLayer的spatialReference，[参考示例](http://maptalks.org/examples/cn/tilelayer-projection/different-projection/#tilelayer-projection_different-projection)

[2018-06-01 08:05] #691 closed, assigned to nobody

[2018-06-02 16:33] gee1k opened #692 "关于地图对象创建报错的问题"
**maptalks's version and what browser you use?**
----
- maptalks `v0.40.2`
- chrome `66.0.3359.181`

**Issue description**
----
在地图初始化时会报以下错误，在Vue项目环境下使用，但不影响使用。由于目前我在赶项目周期，所有没有仔细查找问题所在，先提一下issue

**Please provide a reproduction URL (on any jsfiddle like site)**
----
![http://p7wghdplg.bkt.clouddn.com/QQ%E6%88%AA%E5%9B%BE20180603003140.png](http://p7wghdplg.bkt.clouddn.com/QQ%E6%88%AA%E5%9B%BE2018

[2018-06-02 16:41] gee1k commented on #692
目前猜想可能是由于Vue 组件中创建之后，地图对象的 dom 还没有显示的原因造成的，我在 Vue 组件创建完成之后延迟一段时间再进行 地图对象初始化就不会存在这个问题

[2018-06-03 01:52] fuzhenn commented on #692
你猜的没错，我按你的思路重现了这个bug：
http://jsfiddle.net/9nkL742x/1/

我晚点改一下，加个test case保证bug不再出现

[2018-06-03 02:00] fuzhenn commented on #686
你推测的没有错，目前VectorLayer是用canvas渲染的，和ThreeLayer处于不同的canvas容器， 所以他们是无法保证三维关系的。

在maptalks的设计中，不同的图层都有自己的canvas容器，所以不同图层，即使他们都是webgl渲染，也无法保证三维关系。

除非所有图层都在同一个webgl context中渲染，才能达到你想要的效果。

图层的作用就是组织图形，并能调整zindex，所以这个设计倒没有问题，但确实不同gl图层不能保证三维关系是有点麻烦的。

我们正在开发一个新库以尝试解决这个问题，这个issue我先不关闭。

[2018-06-03 02:01] fuzhenn commented on #688
这个建议很赞，我晚点会按你的思路实现一下

[2018-06-03 02:36] gee1k commented on #692
好的👌。我目前的解决方案是在Vue中nextTick中初始化地图。保证dom渲染完成之后创建地图

[2018-06-04 10:44] fuzhenn commented on #684
duplicate of #692

[2018-06-04 10:44] #684 closed, assigned to fuzhenn

[2018-06-05 05:19] sakitam-fdd opened #693 "vue 或者 react import 后无法加载"
**maptalks's version and what browser you use?**
* maptalks `v0.40.2`
* chrome `67.0.3396.62`
**Issue description**

vue 或者 react

[code]
![image](https://user-images.githubusercontent.com/19517451/40956428-d0d86f40-68c2-11e8-9e7a-9251e798e82a.png)

**Please provide a reproduction URL (on any jsfiddle like site)**

[2018-06-05 05:30] sakitam-fdd commented on #693
解决了，现在需要 😄
[code]

[2018-06-05 06:15] fuzhenn commented on #693
奇怪..
这是为啥？

[2018-06-05 06:28] sakitam-fdd commented on #693
看着像是webpack配置的问题，因为配置是我自己配的 :joy:
![image](https://user-images.githubusercontent.com/19517451/40958549-46b5acc4-68cc-11e8-8768-a2a64deb4a50.png)

[2018-06-05 06:32] fuzhenn commented on #693
噢，我们也先验证一下react和vue里的载入
你要是搞清楚了原因，@我一下~ 看看maptalks这边是否有什么潜在问题

[2018-06-05 06:33] sakitam-fdd commented on #693
嗯嗯，好的

[2018-06-07 12:31] ymq001 opened #694 "maptalks 渲染地图 在低版本 safri 或 chrome 下 上下左右拖动地图一会儿 js报错 程序直接崩掉了"
![image](https://user-images.githubusercontent.com/7494137/41099433-1613c18e-6a91-11e8-9ced-e9d1b59795ed.png)

看源码得知：
TileLayerCanvasRenderer.js 文件 line: 645 报错,
暂时解决方案：
加了判断 是否safri 的判断 暂时解决了这个问题
![image](https://user-images.githubusercontent.com/7494137/41099621-a5c1bda4-6a91-11e8-8760-d93ccd8ebfd8.png)

**# 但还是建议尽早解决下这个bug, 这个严重影响了使用体验**

参考资料： https://segmentfault.com/a/1190000002502194

[2018-06-07 12:34] fuzhenn commented on #694
可以试试改成：
[code]
如果测试可行的话，帮忙提个pull request给我吧， 谢谢！

[2018-06-07 12:38] September9 commented on #693
我在用react-bmap也遇到这个问题了，然后安装了0.39.8版本就好了

[2018-06-07 12:41] fuzhenn commented on #693
@September9
你是用的webpack打包吗？能否告知一下webpack的版本是多少？

[2018-06-07 13:05] September9 commented on #693
webpack 4.6.0

[2018-06-07 13:06] fuzhenn commented on #693
感谢，看来应该是对webpack 4的兼容性问题导致的，我这两天会修改一下

[2018-06-08 06:12] deyihu opened #695 "关于 ui.ToolTip 位置问题"
**maptalks's version and what browser you use?**
----

**Issue description**
----

Geomtry 绑定 ToolTip 后  位置好像不准确

http://jsfiddle.net/bm20xa39/

![2018-06-08_133909](https://user-images.githubusercontent.com/25998927/41140676-5cfdb20e-6b21-11e8-8f6e-84077b07c94b.png)

如果鼠标快速进入图形，ToolTip 的位置会延迟很多，鼠标进入到图形区域后，ToolTip并不会随着鼠标移动而移动（鼠标始终在图形区域内），像是只根据图形进入和移出事件来处理TooTip位置（我猜的，没去看源码），觉得用mousemove 来实时显示ToolT

[2018-06-11 07:37] fuzhenn commented on #693
ok, it looks like [a bug of webpack 4 along with ProvidePlugin](https://github.com/webpack/webpack/issues/7032)

I will fall back to original `es.js` extension, and change back to `mjs` when this bug is resolved

[2018-06-11 09:12] ageeye-cn opened #696 "ImageLayer支持设置四点坐标"
**maptalks's version and what browser you use?**
----
0.40.2
**Issue description**
----
目前ImageLayer只支持设置叠加图像的两点坐标，不能准确叠加某些图形

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-06-11 09:20] #678 closed, assigned to fuzhenn

[2018-06-11 09:20] #688 closed, assigned to nobody

[2018-06-11 09:20] #693 closed, assigned to nobody

[2018-06-11 09:20] #617 closed, assigned to fuzhenn

[2018-06-11 09:20] #695 closed, assigned to fuzhenn

[2018-06-11 09:20] #694 closed, assigned to nobody

[2018-06-11 09:21] fuzhenn commented on #692
fix in https://github.com/maptalks/maptalks.js/commit/24f2d0b69b384b8636ed13a1e916300c57a9de5e

[2018-06-11 09:21] #692 closed, assigned to nobody

[2018-06-13 02:32] lileialg opened #698 "道路面的三维渲染-立交桥-如果不使用three插件，还有其他插件可以实现吗？"
请问能支持上道路面的3D效果吗，例如立交桥，期待您的回复

[2018-06-13 02:44] fuzhenn commented on #698
可以的，不过需要借助插件。
目前实现立交桥比较方便的是[three](https://github.com/maptalks/maptalks.three)插件

[2018-06-13 02:44] #698 closed, assigned to nobody

[2018-06-13 02:50] lileialg commented on #698
如果不使用three插件，还有其他插件可以实现吗？谢谢。

[2018-06-13 05:40] praveen-238 opened #699 "Typings for Maptalks"
**maptalks's version and what browser you use?**
----v0.40.2

**Issue description**
----If there is typings for maptalks. please share it.

-

[2018-06-14 02:01] fuzhenn commented on #699
Thanks!

No typing now. But I agree that typings is important and will find some time to look into it.

It's a boring work though, wonder if there is any automatic tool to generate typings from comment etc.

[2018-06-14 02:01] fuzhenn commented on #687
duplicate of #699 , closing for now

[2018-06-14 02:01] #687 closed, assigned to nobody

[2018-06-14 02:03] fuzhenn commented on #698
能大概说一下你的需求吗？ 立交桥什么数据？大概想画成怎样的形式？

[2018-06-16 02:17] JoyTroy opened #701 "关于maptalks图层上绘制子画布和自定义的动画"
**maptalks's version and what browser you use?**
----v0.40.2 Google

**Issue description**
----maptalks能否在CanvasLayer(画板图层)或其他图层上绘制子画布(或者说创建子canvas对象)，并能控制其尺寸，获取该画布对象并绘制自定义的动画？
问题来源于，我们想在底图上先批量绘制小尺寸的子画布，再在这些子画布上绘制自己书写的动画(可能不调用maptalks的API)。

此方案是否可行？

[2018-06-16 04:18] fuzhenn commented on #701
感谢提issue

听上去应该是可行的， 能不能稍微把需求讲的详细一些，最好能举个实际例子。

[2018-06-16 14:12] JoyTroy commented on #701
好的，详细信息已发送到邮箱fuzhen@maptalks.org，请查收

[2018-06-22 10:05] jiqin111 opened #702 "图片不支持identity类型的动态属性"
**maptalks's version and what browser you use?**
maptalks v0.40.1

**Issue description**
在使用markerFile设置图片时，发现不能根据属性值来展示不同的图片，不支持identify的动态属性

**Please provide a reproduction URL (on any jsfiddle like site)**
http://jsfiddle.net/rqf7ojey/2/

[2018-06-25 06:35] deyihu opened #703 "Layer 新建后并加到地图上，其渲染器 _renderer 里相关要素不会立即创建的问题"
**maptalks's version and what browser you use?**
----

**Issue description**
----

Layer 新建后并加到地图上，如果这时获取Layer的_renderer 的 canvas 或者 context,其值为空。

我看了一下CanvasRenderer的draw 方法

CanvasLayerRenderer.prototype.draw = function draw() {
        this.prepareCanvas(); //准备canvas
        this.prepareDrawContext(); //准备context||gl
        this._drawLayer(); //渲染图形
 };

如果在CanvasLayerRenderer 的draw方法里进行Laye

[2018-06-25 16:19] fuzhenn commented on #703
这是特意这么设计的。
主要是renderer有时需要异步创建，例如有些图层需要先读取外部配置后才能创建。

除了`prepareToDraw`方法，还可以监听图层的`renderercreate`事件（这个事件没记录在文档里），这个事件是所有图层都有的

[2018-06-25 16:19] #703 closed, assigned to nobody

[2018-06-26 09:46] gongzk opened #704 "希望新增一个捕捉工具"
希望新增一个捕捉工具，可以控制是否步骤点，是否捕捉边；
可以和绘制和编辑工具配合，在绘制或编辑要素过程中可以捕捉点或边。

[2018-06-27 06:54] PasserbyFluid commented on #663
比如我有一个JSON，里面是一些坐标，怎么用这些坐标去生成地图~？

[2018-06-27 06:56] fuzhenn commented on #704
可以看一下自动吸附插件 `maptalks.snapTo`

https://github.com/liubgithub/maptalks.snapto/

cc @liubgithub

[2018-06-27 06:56] #704 closed, assigned to nobody

[2018-06-28 01:57] gongzk commented on #704
谢谢，就是类似这种功能，不过目前只有在画线时捕捉功能稳定，绘制其它图形时bug较多，还不能在正式环境下使用......

[2018-06-28 02:00] liubgithub commented on #704
@gongzk 欢迎在这个库下面提issue

[2018-06-28 06:52] JoyTroy commented on #702
不大明白你的需求，不过我有个用于图片的方案不知道有没有帮助，也可用于gif图片。
以下是实现图片倾斜并自转的需求，使用UIMarker实现，分三层div，
1、根容器元素只设置宽高，确保根据经纬度定位；
2、父元素控制倾斜---transform；
3、子元素控制自转---animation、同时引入图片；
(animation和transform同时在一个div中使用会导致transform失效)

[code]
[code]

[2018-06-28 07:39] gongzk opened #705 "绘制工具redo无效"
drawTool工具，在undo后，执行redo无效this._historyPointer === this._clickCoords.length判断为true

[2018-06-28 07:47] fuzhenn commented on #705
感谢提issue！
我这里没能重现出来你报的bug

能帮忙写个简单的重现代码吗？ 你可以在下面的jsfiddle基础上修改一下
http://jsfiddle.net/3px4dfqb/

[2018-06-28 07:54] gongzk commented on #705
修改了，主要是通过地图右键菜单来使用undo和redo，感觉是右键点击引起的问题。

[2018-06-28 11:10] wordgold opened #706 "migrate to mapbox's expression"
maptalks v0.40.4

chrome  v67.0.3396.99

----
数据：

{"type":"Feature","geometry":{"coordinates":[87.416234,43.888077],"type":"Point"},"properties":{"t":"头屯河公园","z":15}}

过滤器：

filter: ['>=', ['zoom'],['number', ['get', 'z']]]

期望：根据 z 值通过 filter 设置显示层级

结果：没有起作用，并且破坏了原有的 symbol 设置

过滤器已在mapbox验证过

----

期望：
![image](https://user-images.githubusercontent.com/3621846/42030797-8fca6688-7b06-11e8-8c9d-

[2018-06-28 11:21] wordgold opened #707 "添加 symbol 参数 设置当 textPlacement: 'line' 时可以自定义 lineString 文字间距"
maptalks v0.40.4

chrome v67.0.3396.99

----

希望可以添加 symbol 参数 设置当 textPlacement: 'line' 时可以自定义 lineString  文字间距。

放大层级比较大的时候这个间距是合适的，但当缩小的时候，文字间距并没有相应重新计算，造成大量的文字重复堆叠在路线上。

----
zoom: 16
![image](https://user-images.githubusercontent.com/3621846/42031286-500e92c4-7b08-11e8-80dc-8db92a11e140.png)

zoom：12
![image](https://user-images.githubusercontent.com/3621846/42031044-740e6024-7b07-11e8-8a82-5

[2018-06-28 16:27] fuzhenn commented on #705
收到，重现链接:
http://jsfiddle.net/3px4dfqb/3/

[2018-06-29 02:44] wordgold commented on #706
相关代码：
[code]

[2018-06-29 09:41] fuzhenn commented on #707
这个确实是`textPlacement : line`的优化方向，不过这个功能的工作量比较大，需要等我安排出时间后会来做一下。

[2018-07-02 13:24] fuzhenn commented on #706
这是因为[expressions](https://www.mapbox.com/mapbox-gl-js/style-spec/#expressions)是mapbox-gl 0.41.0才支持的功能，maptalks的filter还是用的[老版filter](https://www.mapbox.com/mapbox-gl-js/style-spec/#other-filter)的语法。

我目前暂时还没有计划迁移到expressions上，故先关闭issue。

[2018-07-04 01:34] WindyNature opened #711 "canvas绘制时，高分屏适应问题"
如果屏幕为高分屏，devicePixelRatio为2时，导致canvas绘制的内容与地图不适应。canvas绘制的内容在初次加载是适配的，但是在进行缩放后比例会发生变化。[如热力图：](http://maptalks.org/maptalks.heatmap/demo/)

1.初次加载

![image](https://user-images.githubusercontent.com/12809143/42252252-585967c8-7f6e-11e8-9168-6efc706861b9.png)

2.做操作后
![image](https://user-images.githubusercontent.com/12809143/42252014-29585034-7f6d-11e8-8be1-d91d97e0b2ac.png)

[2018-07-04 01:50] fuzhenn commented on #711
感谢提出issue。
你贴的两张图是一样的，没看出区别。
我刚刚也试着重现了一下，也没有发现你说的问题，请帮忙更新一下贴图，另外请提供一下你的环境信息：
* 操作系统
* 浏览器版本和位数（32位还是64位）
* 液晶屏是否是高分屏

[2018-07-04 02:01] WindyNature commented on #711
刚才网速有点慢，没有传成功哈，我更新了下贴图。
我的环境信息如下：

- 操作系统：macos

- 浏览器版本：65.0.3325.18（正式版本）dev （64 位）

- 屏幕为mac的retina屏幕哈。

[2018-07-04 02:26] fuzhenn commented on #711
retina + macos + 67.0.3396.99 64位

windows 10 + 2k屏 + chrome

都没出现这个问题，晚点我们再多测试一下

[2018-07-04 02:53] WindyNature commented on #711
刚才试了safari和firefox，以及更新chrome版本为67.0.3396.99后都没有这个问题了。应该是chrome 65.0.3325.18 64位这个版本会出现这个问题哈

[2018-07-04 03:15] fuzhenn commented on #711
我在win10上用过很长一段时间的chrome65，还没有遇到过这个问题，应该是mac os的64位 chrome 65的特定bug。
既然65+不再有这个问题，那我就不去尝试修复了。

最后表达一下感谢，如果遇到其他bug，或有feature request，欢迎随时交流。

[2018-07-04 03:15] #711 closed, assigned to nobody

[2018-07-04 07:44] wordgold opened #712 "自定义图层设置 layer options 不起作用"
maptalks v0.40.4

maptalks.e3 v0.4.5

chrome v67.0.3396.99

----

自定义图层设置 layer options 不起作用

尝试修改 maptalks.e3 图层的 zIndex 和 opacity 时，发现没有起作用

----

https://jsfiddle.net/bpzuk06j/10/

----

[2018-07-04 08:01] fuzhenn commented on #712
收到，maptalks.e3比较特殊，是基于div dom的图层，而不是canvas，所以普通的zindex和opacity机制对它不起作用。
我把这个issue转到maptalks.e3插件上，在maptalks.e3里单独处理

[2018-07-04 08:02] fuzhenn commented on #712
redirected to https://github.com/maptalks/maptalks.e3/issues/6

closing this issue.

[2018-07-04 08:02] #712 closed, assigned to nobody

[2018-07-04 11:49] deyihu opened #713 "TileLayer 设置 mask 后从地图上移除，再添加到地图上 mask失效"
**maptalks's version and what browser you use?**
----

**Issue description**
----

TileLayer 设置 mask 后从地图上移除，再添加到地图上 mask失效

http://jsfiddle.net/jrbhvfop/27/

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-07-07 07:50] JoyTroy opened #714 "如何实现倾斜椭圆"
**maptalks's version and what browser you use?**
----v0.40.2 Google

**Issue description**
----

maptalks能否实现倾斜的椭圆？
Polygon可以根据rotate方法实现多边形按角度倾斜，原理是对多边形上的几个坐标节点按角度重新计算各自的经纬度坐标；
而扩展了Polygon的Ellipse(椭圆)等这类图形似乎没法按照同样的方式作到倾斜，因为绘制椭圆只需要传递椭圆中心和宽高等参数，没法获取到圆边界的所有节点坐标。
主要官方API没找到例子啊 : (
有啥建议不？

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-07-07 08:18] fuzhenn commented on #714
可以试试：
[code]
我写了一个jsfiddle:
http://jsfiddle.net/ba3g84rw/2/

问一下一般是什么场合需要用到旋转的椭圆？如果需要的人多，我会考虑给ellipse直接支持旋转

[2018-07-07 08:35] JoyTroy commented on #714
哇，非常感谢，看邮件你那儿还是半夜呐，抱歉打扰啊；
此处的倾斜椭圆是用于配合虚线标识一个相对规则的范围，场景比较简单。就是调用API的过程中发现
Ellipse类的 rotate(angle, pivot)方法无法生效，看了源码才知道，虽然扩展了Polygon，但实际上Ellipse类继承的 rotate方法有点徒有其表，直接调用的话只会操作椭圆的圆心，容易把人误导。

[2018-07-08 11:36] fuzhenn commented on #706
做了一些研究，决定找个时间迁移到 mapbox 的 expression 和最新的 feature filter

[2018-07-08 11:37] fuzhenn commented on #714
不客气。

我想暂时先在示例中增加示例，未来看大家反馈，再决定是否直接为ellipse直接增加旋转支持

https://github.com/maptalks/examples/issues/77

先关闭此issue

[2018-07-08 11:37] #714 closed, assigned to nobody

[2018-07-08 11:38] #682 closed, assigned to fuzhenn

[2018-07-08 11:38] fuzhenn commented on #681
closing as lack of activity

[2018-07-08 11:38] #681 closed, assigned to nobody

[2018-07-09 03:47] PasserbyFluid commented on #707
@wordgold 请问这个线上文字的颜色是哪个属性  ，怎么在文档没有找到，求解~~
是看这里的文档吧：http://maptalks.org/maptalks.js/api/0.x/LineString.html#options

[2018-07-09 03:49] wordgold commented on #707
@FluidCui  https://github.com/maptalks/maptalks.js/wiki/Symbol-Reference#text

[2018-07-10 04:06] XiaoYongX opened #715 "建议"
**maptalks's version and what browser you use?**
----

**Issue description**
----
你好，我是现在有个项目是用到这个的，其实这个地图制作有些方面比百度的都要好的，但是我在使用这个的时候有点痛苦，我英语不是很好，而且现在技术也不是很好，这个的文档让我看起来比较痛苦，就算我找到文档里自己需要的信息了，但是我也不一定会使用，就是建议能不能更加简单明了写，详细点的信息和一些小案例那就更好了。

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-07-10 04:14] fuzhenn commented on #715
谢谢你的建议！

中文示例是个起步的好地方：
http://maptalks.org/examples/cn/map/load/

API文档中包含了每个类的方法说明，但因为API是从代码自动生成的，所以暂时没有中文，不过因为api的英文比较简单，我想应该不会有太大问题
http://maptalks.org/maptalks.js/api/0.x/Map.html

如果需要自己开发插件，大部分高级教程也有相应的中文版
https://github.com/maptalks/maptalks.js/wiki

maptalks所有的文档也都是开源的，感兴趣的话你也可以参与改进。

[2018-07-10 04:14] #715 closed, assigned to nobody

[2018-07-11 08:44] Dogtiti opened #716 "map.on('zoomend moving moveend'){}"
为了实现双击区域进入街道渲染，双击街道进入社区渲染，使用这一属性来监听zoom的变化，如下1，4，5 分别为进入区，街道，社区的初始zoom级别。以及进入到最下层社区渲染的时候滚动鼠标滚轮使zoom减小能退回上一级渲染。例如依次从去进入到社区渲染，此时zoom为5，滚动滚轮，zoom为4渲染街道，zoom为1渲染区。此时发现，当zoom为1时，仅仅拖动地图也会触发区域渲染，然后就会不停渲染区，这种问题怎么解决呢，或者这种根据zoom回退的功能有其他的做法吗？
[code]

[2018-07-11 10:07] #716 closed, assigned to nobody

[2018-07-11 10:22] kzfile opened #717 "marker的自动旋转问题"
**maptalks's version and what browser you use?**
----
0.40.3
**Issue description**
----
三维模式下,marker不能以一种贴到地面上的形式随着拖拽而旋转.
比较明显的是例程中的"端点沿线自动旋转Marker"",一旦视角切换到接近垂直于地平线,拖拽地图时,飞机的感觉就很奇怪了.
其实如果marker能像例程"有高度的多边形"那样随着拖拽而改变自己的角度就好了(可惜多边形无法在任何比例尺下保持大小一致,否则就能完全满足需求了)

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://maptalks.org/examples/cn/style/line-marker/#style_line-marker

[2018-07-11 10:31] fuzhenn commented on #717
因为目前VectorLayer是基于canvas渲染，所以Marker暂时不支持三维旋转

这个功能会在VectorLayer的gl renderer中提供支持

[2018-07-14 04:57] CosmosEcho opened #718 "带有高度面的Line动画？"
有高度面的Line不支持动画。

[2018-07-16 17:50] JoyTroy opened #720 "批量绘制复杂图形时的性能问题"
**maptalks's version and what browser you use?**
----v0.40.2 Google

**Issue description**
----最近尝试绘制复杂图形时遇到这类性能问题，原理是通过new maptalks.Sector方式绘制了100个扇形，并通过控制其角度拼接成一个完整的圆，再通过动态控制所有扇形的半径由小到大不断循环，以实现一个圆形(被分割成100份)不断扩散的效果。

我尝试借鉴canvas离屏画布的方式，构建了离屏图层：
1、在离屏图层上绘制图形；
2、将图层转换成json(toJSON(optionsopt))；
3、将该json赋予新图层((static) fromJSON(layerJSON))；
4、将新图层添加到地图上；
但似乎并没有效果，浏览器仍旧在大量调用API，导致性能问题；

另一种方式是将扇形数量减少到

[2018-07-17 06:43] deyihu opened #721 "当地图放大到大的级别时，绘制的线或者面，位置不准确"
**maptalks's version and what browser you use?**
----

**Issue description**
----

当地图放大到大的级别时，绘制的线或者面，位置不准确

http://jsfiddle.net/fjqwuaop/20/  (左右移动地图或者旋转地图试试）

**当pitch 调整的越大，误差越大**
绘制的线，和面出现偏移，这里的数据我是采取的几个道路经纬度，
按正常的绘制结果，应该和底图的道路重合。

然后我把pitch调整为0 ，在尝试移动地图，旋转地图，这时绘制的结果是正确的;

当zoom小的时候，是不存在该问题的

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-07-17 07:03] deyihu commented on #721
然后我基于 examples 里的 helloLayer   ,做了一个示例
http://jsfiddle.net/Lrh3x5qu/20/
问题是一样的，  排除了VectorLayer绘制问题，说明问题出在
map.coordinateToContainerPoint 方法上

[2018-07-17 09:08] deyihu opened #722 "DrawTool 绘制矩形的问题？"
**maptalks's version and what browser you use?**
----

**Issue description**
----

http://maptalks.org/examples/cn/interaction/draw-tool/raw/index.html

当pitch=0,绘制 矩形没有问题；

当pitch>0 时，按正常的理解，拖拽时，应该形成一个等边梯形，类似鹰眼控件里形成的等边梯形

![2018-07-17_164933](https://user-images.githubusercontent.com/25998927/42806725-aa82e4a2-89e1-11e8-9b77-657f2e070fac.png)

目前是在地图上形成一个动态的矩形，绘制完成后，在地图上看见一个矩形（对二维平面来说是矩形，实际应该是一个等

[2018-07-17 10:54] fuzhenn commented on #722
这个是刻意这么设计的，绘制的是当前viewport上的矩形。

这个是若干个项目的功能设计要求，如果你需要其他模式的Rectangle绘制，可以参考现在的rectangle，[自己扩展一下drawtool](https://github.com/maptalks/maptalks.js/blob/master/src/map/tool/DrawToolRegister.js#L94)。

[2018-07-17 10:54] #722 closed, assigned to nobody

[2018-07-17 10:59] fuzhenn commented on #720
速度慢是因为扇形数量过多导致的

为什么不直接用圆形吗？是需要这种圆心连线效果吗？

[2018-07-17 11:15] JoyTroy commented on #720
：D
原本一开始只是部分的、扇形的区域扩散，现在看看......确实直接用圆心连线效果更合适啊。。。请问有示例参照不？

[2018-07-17 11:16] fuzhenn commented on #721
感谢报告。

这是个重要的bug，我会尽快对应

[2018-07-17 11:22] fuzhenn commented on #721
初步判定是点在相机（近剪裁面）之后，且点的投影点高度大于相机高度，投影矩阵计算不正确导致的（所以只在高级别出现）

貌似是个比较纯粹的数学问题 (hmm...)

[2018-07-18 08:31] #718 closed, assigned to nobody

[2018-07-18 10:28] fuzhenn commented on #707
决定增加一个新的symbol属性 `textSpacing`，用于实现这个需求

[2018-07-19 12:28] fuzhenn commented on #721
下午研究了一下这个问题，主要原因如下：
* 点在相机背后时，需要把点投影到相机视平面上(`_projIfBehindCamera`)
* 投影并不是100%精确的，点距离相机越远时，误差会越大
* 三维点在相机背后时，目前还没有精确的屏幕投影算法

解决办法如下：
1. 绘制前需要先做clip，把线或面用map的extent做剪切后只绘制被剪切的部分，这样就能保证准确绘制
2. 优先选用webgl绘制， webgl因为是逐像素绘制，不会出现这个问题

我修改了一下程序，目前VectorLayer中的绘制开启了clip后绘制就正常了，但在下面两种情况仍会出现问题：
* 贝塞尔 `Curve` 曲线的绘制（默认关闭了clip）
* 手动将`enableClip`设为false的geometry

[2018-07-19 12:33] #721 closed, assigned to nobody

[2018-07-19 14:32] #713 closed, assigned to fuzhenn

[2018-07-21 12:36] praveen-238 opened #723 "ShapeFile Loading"
**maptalks's version and what browser you use?**
--------
v0.40.2

**Issue description**
----
Is there any way to load shape files directly. I have gone through examples but didn't find a way to implement it.Please share it if there is anyway.

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-07-21 12:42] sakitam-fdd opened #724 "map fov no more than 59 degree，when 60 degrees are set, the browser will be killed。"
**maptalks's version and what browser you use?**
----
maptalks: v0.40.4

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://jsfiddle.net/sakitamfdd/1Ldhjbou/

[2018-07-22 03:34] fuzhenn commented on #723
Thanks for submitting issue!

You can use [shapefile](https://github.com/mbostock/shapefile) to read shp files as geojson which can be added to VectorLayer directly.

[code]

[2018-07-23 07:18] cXiaof opened #725 "MultiPolygon.copy.addToLayer时会丢失MultiPolygon里的Circle"
MultiPolygon.copy()
得到的结果是正确的，_geometries对象是完整的，
但是addTo layer后，只能显示出多边形而显示不出圆或椭圆

重现代码可参考这个
[code]

[2018-07-23 07:44] gongzk opened #726 "地图为identity像素坐标系时，图形旋转会变大"
**maptalks-0.40.4**
----

**地图坐标系为identity时，旋转多边形，发现图形在变大，旋转rotate调用一次，就变大一次**
----

****
----

[2018-07-23 10:06] fuzhenn commented on #726
谢谢提issue，能帮忙提供一个重现代码吗？

[2018-07-24 10:08] gongzk commented on #726
@fuzhenn http://jsfiddle.net/3tjzdwea/19/
demo基于IDENTITY投影底图的demo改动js：
[code]

[2018-07-25 02:56] fuzhenn commented on #726
收到，非常感谢
确实是个bug，我会尽快对应

[2018-07-25 06:58] cXiaof opened #728 "rectangle的rotate并不是在自身的位置旋转会飘走"
重现代码可参考：
[code]

[2018-07-26 07:46] zhangqiang765721622 opened #729 "使用react-native将其docs案例引入到工程中，使用webview渲染，ios正常，安卓只显示控件，没有底图，求教！！！"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-07-27 01:27] zhangqiang765721622 commented on #729
已解决，将http请求改为https即可

[2018-07-28 08:08] satish71 opened #730 "Request for Plugin for ESRI other services (not base tile)"
**maptalks's version and what browser you use?**
Chrome, IE, Mozilla

**Issue description**
-request for ESRI feature maps (plugin) to support ESRI map services (similar) to Leaflet ESRI plug-in

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-07-28 10:25] fuzhenn commented on #729
👍

[2018-07-28 10:25] #729 closed, assigned to nobody

[2018-07-29 18:34] praveen-238 opened #731 "Loading Esri Feature Layer and Dynamic Map Layer"
**maptalks's version and what browser you use?**
----v0.40.2

**Issue description**
----Can we load esri feature layers and dynamic layers using maptalks? I have tried with 'maptalks.esri' but it is breaking with other urls other than the example. Please let me know if there are any other ways.

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-07-31 03:36] fuzhenn commented on #731
Thanks.
This issue is a duplicate of #730 , we can have further discuss there.

[2018-07-31 03:36] #731 closed, assigned to nobody

[2018-07-31 03:41] fuzhenn commented on #730
We have a WIP plugin [maptalks.esri](https://github.com/maptalks/maptalks.esri) for ESRI services.
But we have a lot on the table, now we don't have much time to dedicate to the plugin.

I would be happy to have any PRs.

cc @praveen-238

[2018-07-31 08:30] wordgold opened #732 "执行 animateTo 后 其他图层无法及时显示，需要拖拽一下才会刷新"
"maptalks": "^0.40.5",

chrome last

----

在地图上叠加了多个图层，当执行 animateTo 时其他图层会消失，这里考虑到动画效率可以理解，
动画执行完后，消失的图层并没有及时显示，甚至有时 baseLayer 也会消失，需要拖拽一下才会显示

![ui-monitor-google-chrome-2018_7_31-17_22_47 1](https://user-images.githubusercontent.com/3621846/43453382-8ac8e6f0-94ec-11e8-8153-cc04b92600ce.gif)

[2018-07-31 09:16] wordgold opened #733 "希望统合移动触发事件（囊括 moving，pitch，zoom，bearing，dragrotating 及 dragrotating 后的惯性动画）"
"maptalks": "^0.40.5",

我尝试添加一个自定义 control，希望在地图旋转，倾斜的时候使图标做相应的操作
现在监听了 dragrotating 和 viewchange

但在拖拽旋转后的惯性旋转时无法监听，使用 animateTo 触发的旋转倾斜也无法监听

希望添加一个触发器，可以监听地图任何的旋转，倾斜，移动

[2018-07-31 12:25] fuzhenn commented on #732
能麻烦提供一个重现代码吗？

[2018-07-31 13:09] fuzhenn commented on #733
viewchange 是个比较合适这个场景的事件，我会看一下为什么在你说的那几种没有抛 viewchange

[2018-08-01 01:27] wordgold commented on #733
viewchange 是有正常触发的，但它是一次性的。
只是因为在惯性动画和 animateTo 执行过程中没有事件触发所以折衷选择了在 viewchange 时监听
还是希望在这两个执行过程中也可以有一个过程事件触发，类似于 moving 等的事件

[2018-08-01 02:09] wordgold commented on #732
https://jsfiddle.net/0cmohaxk/24/

按住 ctrl 拖拽地图倾斜到一定程度，然后等待几秒执行 animateTo，会出现地图消失的情况，没有的话多试几次就出来了

还有，假如某图层数据量大的话（lines=19607），会出现 baseLayer 可以显示，图层无法及时显示的情况

抱歉由于数据涉密无法做大数据量展示，只好以 gif 做说明

[2018-08-01 02:40] fuzhenn commented on #732
谢谢！

数据图层暂时消失可能是帧率控制造成的，可以给图层设置强制渲染来解决，具体可以参考这个issue https://github.com/maptalks/maptalks.three/issues/10

animateTo后消失的问题我重现了，这个应该是个bug，等我手头工作结束后就来对应。

[2018-08-01 02:58] wordgold commented on #732
![image](https://user-images.githubusercontent.com/3621846/43498408-6812bfa4-9579-11e8-9a3b-f4c94eef871e.png)
设置了  forceRenderOnRotating: true, 后，当由倾斜状态执行 animateTo 时，出现图层和底图位置不匹配的状态

[2018-08-01 03:15] wordgold commented on #732
[code]
现在是通过动画执行完后稍微位移一下来解决的

[2018-08-02 09:29] wordgold commented on #733
刚才查看源码 animateTo 和惯性动画里是有 animating 事件触发的，可能 API 文档没有更新还没列出来，关闭吧。

[2018-08-03 06:38] zhenyuan2015 opened #735 "how to load an custom tile layer that was made out of an image"
**maptalks's version and what browser you use?**
----
0.40.4
**Issue description**
----
I make an tile map by using maptiler(http://www.maptiler.com/).The tile map does not contain geo info.
I found an leaflet plugin that can load this type tile layer(https://commenthol.github.io/leaflet-rastercoords/example/index.html).

how to correctly load an custom tile layer in maptalks.js?

**Please provide

[2018-08-04 07:45] Crush1013 opened #736 "使用鹰眼功能时，浏览器窗口改变时鹰眼中的多边形框无法移动。"
**maptalks's version and what browser you use?**
----version 0.40.4         任意浏览器

**Issue description**
----在使用鹰眼功能时，当窗口发生改变时，鹰眼中的多边形框无法拖动。
      调试发现，getEventContainerPoint 这个函数获取容器点时，取了缓存中的点位置，浏览器窗口改变时没有重新获取位置。

[2018-08-04 08:26] wordgold opened #737 "希望 Marker 添加 rotation-alignment 可以选择根据屏幕或者地图做为旋转基准"
![image](https://user-images.githubusercontent.com/3621846/43674184-23b54b48-9802-11e8-9284-2af4d39e833c.png)
![image](https://user-images.githubusercontent.com/3621846/43674220-ede8aed2-9802-11e8-92dd-dacd90cae485.png)

我尝试添加 Marker ，希望可以根据地图做基准来调整方向，类似 mapbox 的以下代码：

[code]

类似 http://maptalks.org/examples/cn/style/line-marker/#style_line-marker 此例中飞机的绘制效果

[2018-08-04 08:41] wordgold opened #738 "希望 LineString 可以设置 markerPlacement 为距离，根据距离裁剪线段，绘制图标"
我在制作一个车辆沿着路线前进的效果，看到 [端点沿线自动旋转Marker](http://maptalks.org/examples/cn/style/line-marker/#style_line-marker) 的例子，希望可以设置markerPlacement 为距离，根据距离裁剪线段，绘制图标。

我尝试修改源码，找到了位置却不知道 maptalks 相关的计算方法：
![image](https://user-images.githubusercontent.com/3621846/43674275-f5d9e8ee-9803-11e8-95bb-8cfbd34ac755.png)

相关代码如下：

[code]

[2018-08-04 09:09] deyihu opened #739 "MultiPoint,MultiLineString 绑定 infoWindow后，位置显示不准确"
**maptalks's version and what browser you use?**
----

**Issue description**
----
http://jsfiddle.net/8df716vp/9/

打开InfoWindow，缩放(放大)地图后 InfoWindow位置就不准确了
MultiPoint,MultiLineString 目前有这个问题，测试 MultiPolyon好像没有问题；

![2018-08-04 17-00-41](https://user-images.githubusercontent.com/25998927/43674543-235d2584-9808-11e8-99a8-e37b7325dc6b.png)

![2018-08-04 17-00-59](https://user-images.githubusercontent

[2018-08-04 09:48] deyihu commented on #738
@wordgold  从小飞机的例子上看，小飞机标注的地方为拐角点，也就是（LineString的每个坐标点），不是根据距离计算，如果你用turf的话，turf.lineChunk 函数可以对线段等分切割，获取到切割的线段集合后，根据每个线段的起点和终点可以获取倾斜角（turf.bearing),在线段中间点标准相应的图标，如果是动态变化的，在动画函数里实时改变图标的经纬度和倾斜角就可以了，我就是这个干的（哈哈）；

从你的需求上看，应该是轨迹播放功能，maptalks有相关插件  https://github.com/maptalks/maptalks.routeplayer ，不过不支持图标的倾斜角的功能。

如果是实时数据（比如打车的出租车的位置实时监控），我的做法是都是后台往前台实时的推送数据，根据当前点和上一个点计算倾斜角；

希望对你有帮助

[2018-08-04 09:59] wordgold commented on #738
@deyihu 谢谢
这里计算位置和倾斜角都不是问题，我主要是想要图标可以基于地图倾斜的功能。
因为小飞机是基于地图倾斜的才想要修改这个参数，另外这样修改的话，我只需要每帧修改下距离就可以实现轨迹播放，代码量会减少很多。

ps：推送数据时候根据当前点和上一点计算角度的话，假如车辆正好在两点之间拐了个弯，就会出现角度错误的情况，我一般是把实时数据先保留一小段时间，形成线段，稍微延时点再播放动画，这样根据线段计算角度就比较精确了

[2018-08-04 10:30] deyihu commented on #738
@wordgold   你的另一个问题我看到了，get到你的需求了，mapbox是用webgl渲染的，所以支持根据地图的旋转来自动调节marker的角度（bearing,pitch），maptalks的矢量数据渲染(默认渲染器)这块好像是Canvas 2d做的，所以调节角度（bearing,pitch)这块会不好做，小飞机的例子里的那个小飞机角度和webgl中渲染Mesh的还是大不一样的，你需要一个webgl渲染插件，例如 maptalks.three  https://github.com/maptalks/maptalks.three  插件，当然你也可以用其他三维渲染库，（three这个插件最主要的是怎样将经纬度转化为三维的空间坐标(Vector3)和相机同步问题）。好像@fuzhenn  正在做VectorLayer的webgl渲染插件。

这个是我用three做的例子截图:
![

[2018-08-04 10:39] wordgold commented on #738
@deyihu 谢谢，不用那么麻烦，不需要做3维，我的图标只是一个平面的，只是希望它平贴在地图上就行，只需要在 _getRenderPoints 添加一个位置返回就好。

[2018-08-04 14:16] fuzhenn commented on #737
这个功能可以用function type来支持：

http://jsfiddle.net/9xmhe8fu/3/

回头在example加个示例

[2018-08-04 14:16] #737 closed, assigned to nobody

[2018-08-04 14:20] fuzhenn commented on #736
感谢提issue。

确实有这个问题，overview map应该监听主map的resize事件，调用checkSize方法

有兴趣提个PR给我吗？

[2018-08-04 14:22] fuzhenn commented on #738
这个功能感觉不应该通过symbol解决

可以参考一下这个插件里的代码来计算沿路径指定距离的坐标：
https://github.com/maptalks/maptalks.routeplayer

[2018-08-04 14:47] fuzhenn commented on #735
Thanks for your issue.

It looks like it's nothing special but just a set of regular 3857 tiles.

I wrote a simple jsfiddle to load example tiles you give:
http://jsfiddle.net/o45wz0ux/14/

It uses projected mercator coordinates to lay down the image tiles per pixel.

maptalks is capable to load any tile service with arbitrary tile systems, you can refer to [this wiki doc](https://github.com/mapta

[2018-08-04 15:51] deyihu opened #741 "TileLayer mask 不支持 MultiPolygon"
**maptalks's version and what browser you use?**
----

**Issue description**
----

Polygon 是可以的
  http://jsfiddle.net/cdghpjky/9/

切换到MultiPolygon,就不可以了
http://jsfiddle.net/cdghpjky/10/

我看文档里是支持

mask geometry, can only be a Marker with vector symbol, a Polygon or a MultiPolygon

当然用Polygon 来挖洞是可以做的
![2018-08-04 23-47-51](https://user-images.githubusercontent.com/25998927/43678176-d9ac7adc-9840-1

[2018-08-06 01:50] Crush1013 commented on #736
额，我还不是很会玩github

[2018-08-06 02:53] wordgold commented on #737
@fuzhenn

[code]

[2018-08-06 14:29] fuzhenn commented on #741
目前的确不支持，文档里有误。

这个是指？

[2018-08-06 15:15] fuzhenn commented on #737
你是想图标随地图旋转时，本身还有个rotation，达到 bearing + rotation 的效果吗？

[2018-08-06 15:28] wordgold commented on #737
@fuzhenn
对，不过经你提醒，现在使用楼上的代码已经完全满足需求，不需要修改了。

[2018-08-08 07:42] julyking0 opened #742 "关于官网首页3D demo，建筑物的点击事件"
您好，我想问下官网首页提供的3D demo，http://maptalks.org/gallery/extrude-buildings/index.html

3d建筑物怎么增加点击事件，我看使用的是maptalks.webgl.js，我没有找到有关maptalks.webgl.js的api说明。
看maptalks.webgl.js，也没发现可以增加点击事件的方法。

[2018-08-08 12:26] fuzhenn commented on #742
maptalks.webgl.js是实验性的插件，改为了 [maptalks.biglayer](https://github.com/maptalks/maptalks.biglayer)

这个插件已经停止维护，也没实现3d建筑的点击事件，后面会用新的gl插件代替。

[2018-08-08 12:26] #742 closed, assigned to nobody

[2018-08-10 02:12] huashaoxu opened #743 "加载自定义瓦片，2d下图层浏览漫游都正常，3d状态下图层消失不见"
自定义tilesystem，resolutions以及spatialReference。图层可以显示，2d下漫游都没有问题，只要地图倾斜到3d状态，图层就消失不见了。
[code]

[2018-08-10 03:16] wordgold opened #744 "点击 infoWindow 的默认关闭按钮不会触发 hide 事件"
虽然可以在创建完后重置下事件，或者使用定制 infoWindow，但每次都这么搞实在是有点麻烦。
希望修改关闭按钮触发 hide 事件。

[2018-08-10 03:19] fuzhenn commented on #744
收到，你的pr就是解决这个问题的吧？ https://github.com/maptalks/maptalks.js/pull/740
我最近事情比较多，还没来得及看，等下周我会找个时间对应issue的。

[2018-08-10 05:25] zhangboxi opened #745 "Examples例子中的BUG"
5.22 Polygon gradient fill中的 rect3 初始化并没有渐变色，只有在移动地图后，才会变为渐变色。试了下，发现是浏览器的问题，别的效果都能支持，就这个出现了问题。

[2018-08-10 05:41] huashaoxu commented on #743
求作者解惑，不用做坐标转换，输入的center坐标就是该投影下的正确坐标，由此而计算的行列号。

[2018-08-10 10:27] alex2wong commented on #736
小伙子接单了吗？不接我就去接这个pr了

[2018-08-10 10:50] Crush1013 commented on #736
你接吧，我还不是很会玩。。。

[2018-08-10 13:23] alex2wong commented on #736
看起来最近的一个commit 已经fix 了，很棒。

[2018-08-10 15:05] fuzhenn commented on #743
从代码里看不出哪里有问题，能不能麻烦简单给个重现代码？

http://maptalks.org/examples/cn/map/load/

点右上角的**编辑**，在jsfiddle里编辑好代码，保存后把url发到这里即可。

[2018-08-11 04:46] fuzhenn commented on #745
你用是什么版本的浏览器，什么操作系统？
我这里最新的chrome没有重现这个问题

[2018-08-14 06:24] NinaMuaMua opened #749 "Cannot read property 'zoom' of null"
用dwz的框架，页面跳转时出现了以上的错误

[2018-08-14 08:14] fuzhenn commented on #749
谢谢提出issue。
不过你给的信息太少，无法定位错误，请提供一个重现代码：
http://maptalks.org/examples/cn/map/load/
打开页面后，点击右上角的编辑按钮，在jsfiddle中编辑好重现代码后，把url贴在这里即可。

谢谢！

[2018-08-15 02:03] hixfang opened #750 "有高度的marker 设置信息框，随地图倾斜信息框位置变化遮挡标注"
**maptalks's version and what browser you use?**
----
maptalks v0.40.5  Google
**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-08-17 10:32] cooljser opened #751 "编辑多边形时，中心处的原点如何去掉？顶点的symbol样式最好能支持自定义。"
RT

[2018-08-17 12:24] fuzhenn commented on #751
可以通过给 startEdit 方法设置参数来修改样式：
[code]

[2018-08-17 16:25] cooljser commented on #751
非常感谢！！！

[2018-08-17 16:25] #751 closed, assigned to nobody

[2018-08-20 12:45] chakravarthi-vl opened #752 "How call geojson tile layer with pitch"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-08-20 14:35] fuzhenn commented on #750
sorry，没有get到你的意思，能更详细的描述一下你的问题吗？
最好能提供一个jsfiddle的运行demo

http://maptalks.org/examples/cn/map/load/
打开链接，点击右上角的"编辑"即可

[2018-08-21 01:26] fuzhenn commented on #752
Hi, thanks.

Could you be a bit more specific?
* what do you mean of `geojson tilelayer`
* how do you display `geojson tilelayer` now

[2018-08-21 03:26] cooljser opened #753 "在拖动改变 polygon 形状结束时，会触发什么事件？只能使用 shapeChange 吗？"
RT

[2018-08-21 03:33] fuzhenn commented on #753
还有`shapechange`(形状改变)或`positionchange`(位置改变)事件，另外结束编辑有`editedit`
http://maptalks.org/maptalks.js/api/0.x/Polygon.html#event:shapechange

编辑端点拖动结束暂时没有事件，需要的话可以增加一下，'handledragend`之类

[2018-08-21 03:36] cooljser commented on #753
如果方便的话，最好能增加一个 dragend 的事件。因为在拖动的过程中，shapeChange 会被触发多次，需要做 debounce 处理。

[2018-08-21 03:39] fuzhenn commented on #753
👍  有兴趣帮忙提个pr给我吗？

https://github.com/maptalks/maptalks.js/blob/master/src/geometry/editor/GeometryEditor.js#L299

在`createHandle`方法里的`onHandleStart`等事件回调里，增加一下事件fire方法就行了，类似：
[code]

[2018-08-21 03:44] cooljser commented on #753
好的，我看一下。

[2018-08-21 07:35] kasion opened #755 "polygon在编辑状态下，不能继续响应click、contextmenu等事件吗？"
RT

[2018-08-21 07:53] chakravarthi-vl commented on #752
Hi, thanks for reply,

I want call  geojson as tile layer with pitch for three.js,
can you please base example code for this.

[2018-08-21 08:30] hixfang commented on #750
http://jsfiddle.net/69es1vo7/10/
可能更详细的说法是 缩放地图 信息框位置和图标位置不对应

[2018-08-21 11:57] fuzhenn commented on #753
closed by #754

[2018-08-21 11:57] #753 closed, assigned to nobody

[2018-08-22 01:05] hixfang opened #756 "希望信息框可以增加相对点偏移的配置项"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-08-22 01:07] fuzhenn commented on #756
http://maptalks.org/maptalks.js/api/0.x/ui.InfoWindow.html

可以通过 options 中的 dx， dy 来设置偏移量

[2018-08-22 01:12] #756 closed, assigned to nobody

[2018-08-23 10:34] muka opened #757 "map tiles are blank when pitching on chrome"
**maptalks's version and what browser you use?**
----
maptalks v0.40.5
chrome 68.0.3440.106 (Ubuntu 18.04)

**Issue description**
----
When changing the pitch the tiles become white

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://maptalks.org/examples/en/map/load/

![image](https://user-images.githubusercontent.com/1021269/44520521-58eaee80-a6d0-11e8-9eeb-01708fd50d8

[2018-08-23 11:35] fuzhenn commented on #757
Thanks for reporting!
Will install a ubuntu and investigate on it.

[2018-08-23 12:11] muka commented on #757
Let me know if I can help somehow, thanks

[2018-08-23 12:40] wsw0108 commented on #757
I saw same problem using Firefox 61.0.2 under Linux(Manjaro).
The console shows:
![image](https://user-images.githubusercontent.com/4977975/44525499-af2d5100-a713-11e8-9fe8-840c7bef9bd0.png)

The default renderer of `TileLayer` is `gl`, if the browser does not support webgl, it will fallback to `canvas`.

On my Manjaro, Chrome 68.0.3440.106 works fine.

Please check the webgl support of your Chrom

[2018-08-23 12:49] wsw0108 commented on #757
@muka Or, access https://get.webgl.org/

[2018-08-23 13:17] muka commented on #757
Thanks @wsw0108
my gpu support seems fine. I had some work with three.js too and visualization was smooth

![image](https://user-images.githubusercontent.com/1021269/44527431-1254be80-a6e7-11e8-9ce5-f57762039009.png)

[2018-08-23 13:28] wsw0108 commented on #757
@muka Could you show the console output when changing the pitch?

[2018-08-23 13:32] muka commented on #757
Sure, I see just those 2 lines in the log  (debug level is enabled )

[code]
The second warn happens once while starting the pitch

[2018-08-23 13:34] wsw0108 commented on #757
@fuzhenn

[2018-08-24 01:00] fuzhenn commented on #757
Thanks @wsw0108 !

This is confusing.

TileLayer with gl renderer still renders tiles with canvas renderer (which is a little bit smoother) when pitch = 0 and will switch to gl renderer once pitch changes, The problem may come from the switch.

@muka could you help test this url out to see if it's still blank. Pitch is set at the first place to avoid switch from canvas to gl renderer.

http://jsfi

[2018-08-24 01:56] hixfang opened #758 "这个支持百度的api吗"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-08-24 02:22] fuzhenn commented on #758
不支持

但支持baidu的投影和底图

http://maptalks.org/examples/cn/tilelayer-projection/baidu/#tilelayer-projection_baidu

[2018-08-24 02:22] #758 closed, assigned to nobody

[2018-08-24 06:22] muka commented on #757
__UPDATE:__

Works when explicitly enabling the HW GPU features in chrome. Here the steps for future reference:

1. Visit `chrome://gpu/` it may say `software only` on many options
2. Visit `chrome://flags/`, search for `gpu` and enable `Override software rendering list` and restart.
3. Visit `chrome://gpu/` it says now `HW accelerated` on many features
4. map are rendered perfectly when pitching!

[2018-08-24 06:34] #757 closed, assigned to nobody

[2018-08-28 09:18] davidweining2333 opened #759 "自己搭建的地图服务提供tileLayer，需要自定义spatialReference，但是修改tileLayer实例的spatialReference不能生效"
**maptalks's version and what browser you use?**
----
0.40.5  chrome  68.0.3440.106
**Issue description**
----
自己搭建的地图服务提供tileLayer（只有5个zoomlevel，extent与origin均为自定义），需要自定义spatialReference，但是修改tileLayer实例的spatialReference不能生效，只能在map配置项中指定spatialReference才可以生效，但是此时的问题是我还需要使用OSM的图层做地图，因为改了map的spatialReference，OSM瓦片的请求xyz被一起改掉了，请问该如何解决这个问题，同时加载OSM地图与自定义的tileLayer
![image](https://user-images.githubuse

[2018-08-28 09:19] davidweining2333 commented on #759
大哥帮忙看看有没有解决方案呢

[2018-08-28 13:24] deyihu commented on #759
@davidweining2333   osm默认18个层级，你自己发布的只有5个层级，两个层级相差太多了，你需要从osm的分辨率中也取5个合适的resolution，取得值要和你发布的瓦片的resolutions相差不能太大，否则会导致加载osm的瓦片太多卡死浏览器。

因为是从osm的取的五个值，而osm默认的为18个层级，自定义的osm的TileLayer是从0开始加载的，所以需要重写 自定义的osmtileLayer的瓦片请求地址，使其和osm的瓦片地址对应

http://jsfiddle.net/u9f4kjcw/50/    这个是我在你的基础上改的。

如果你发布的瓦片为10个层级，你就从osm的瓦片中取 10 个resolution，以此类推，希望对你有帮助

[2018-08-29 02:10] davidweining2333 commented on #759
@deyihu 非常感谢，这个基本上可以解决我的问题了！
不过还有几个问题再请教一下
1、您选取的OSM的resolutions是从zoom10到14的，但是计算值与我的resolutions并不相同，是4326与3857的换算吗？
2、`156543.03392800014/Math.pow(2,i)`中156543.03392800014这个基数是从哪里来的，是OSM的最大resolution吗？
3、选取部分resolutions后，tileSystem的ox和oy应该如何计算？
4、是否可以按您的方式只修改我自定义图层tileLayer的spatialReference，不修改全局map的spatialReference达到这个效果呢？
5、之前我是使用openlayers5+进行开发，他提供了这种自定义图层的API，我只需要配置好自定义图层的resolutions，fullExt

[2018-08-29 03:08] deyihu commented on #759
@davidweining2333
##  resolutions 取值和scale有关

这个是你服务的相关参数，起始比例尺为250000
0
Resolution: 5.9486525145757E-4
**Scale: 250000**
1
Resolution: 2.97432625728785E-4
Scale: 125000
2
Resolution: 1.5228550437313792E-4
Scale: 64000
3
Resolution: 7.614275218656896E-5
Scale: 32000
4
Resolution: 3.807137609328448E-5
Scale: 16000

这个是EPSG:3857默认的切图参数

0
Resolution: 156543.03392800014
Scale: 5.91657527591555E8
1
Re

[2018-08-29 03:18] davidweining2333 commented on #759
@deyihu 非常感谢科普基础知识，现在我们使用的是ArcGisServer，由于经费问题可能还会使用gdal做切片后使用nginx提供地图服务，有了你的解释我觉得对于之后的适配有很大帮助，谢谢！

[2018-08-29 04:06] fuzhenn commented on #759
既然问题已解决，那我先关闭issue

非常感谢 @deyihu !

[2018-08-29 04:06] #759 closed, assigned to nobody

[2018-08-29 07:10] MrSasuke opened #762 "改变地图的pitch再还原，地图成空白"
**maptalks's version and what browser you use?**
----
version:maptalks v0.40.5 browser:firefox

**Issue description**
----
设置pitch再还原pitch为0变空白，拖动才出现地图

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://jsfiddle.net/Ljcmz391/11/

[2018-08-29 11:15] fuzhenn commented on #762
感谢提issue

我这里没有重现这个问题
我的firefox版本是61.0b5 (64-bit) developer edition， os 是win10 64位

请问一下你的操作系统和firefox的具体版本

[2018-08-30 11:45] deyihu opened #763 "能否添加VectorTileLayer图层的支持？"
**maptalks's version and what browser you use?**
----

**Issue description**
----

针对 VectorLayer  希望加上TileLayer的瓦片属性，可以像TileLayer那样分层，分行列好取请求业务数据（可以是切好的json,geojson,pbf,mvt,甚至自己手写的后台的restful json服务）

分层按需来加载业务数据，数据加载和数据的格式化可以开放出来自定义，同时希望其具有VectorLayer管理Geometry的能力

数据格式化函数中我们可以将相关业务数据格式化成Geometry,让VectorTileLayer这图层自动管理

我做的一个例子  https://deyihu.github.io/src/maptalks-vectorTileLayer-test/
我现在是利用T

[2018-08-30 18:56] fuzhenn commented on #763
👍 你做的这个矢量瓦片的例子真心赞！ 感觉很平滑！

我们正在开发一系列基于webgl的三维插件，其中包括了基于maptalks symbol系统的矢量瓦片图层。

你要是有兴趣，到时候我可以先发给你做一下内部测试。

不过新的三维插件是否全部开源，目前我们还有些争议，可能会初步保守一点，先以闭源免费或部分开源的形式发布，待到合适的时机再全部开源。

就这个主题，如果你（或其他同学）有什么想法或建议，欢迎探讨。

[2018-08-31 03:27] SimpleYong commented on #762
firefox 61.0.2(64bit) ,os win10-64
________________________________
lwysimple@outlook.com

发件人： Fu Zhen<mailto:notifications@github.com>
发送时间： 2018-08-29 19:16
收件人： maptalks/maptalks.js<mailto:maptalks.js@noreply.github.com>
抄送： Subscribed<mailto:subscribed@noreply.github.com>
主题： Re: [maptalks/maptalks.js] 改变地图的pitch再还原，地图成空白 (#762)

感谢提issue

我这里没有重现这个问题
我的firefox版本是61.0b5 (64-bit) developer edi

[2018-09-01 11:38] #672 closed, assigned to nobody

[2018-09-02 02:20] fuzhenn commented on #755
我这里没有重现这个问题，能提供一个重现代码吗？

这是我的重现代码：
http://jsfiddle.net/4m0pbLdu/

[2018-09-02 02:25] fuzhenn commented on #752
Hi, @chakravarthi-vl , this is a question with an epic answer: there is no easy way to load geojson tile layer with three.js.

You need to extend TileLayer to create your own `GeoJSONTileLayer` to load geojson as tiles (and you need a proper server to serve geojson as tiles), and render them with three.js in your layer layer renderer. It is not quite an easy task, but can be done. Extending `TileL

[2018-09-02 02:26] fuzhenn commented on #749
closing, will reopen if you come back

[2018-09-02 02:26] #749 closed, assigned to nobody

[2018-09-02 03:05] fuzhenn commented on #741
@deyihu 截图中好几个polygon mask的效果是怎么做到的，指导下哈。
我把它实现一下发到下个版本里

[2018-09-02 03:05] fuzhenn commented on #745
closing，will reopen if you come back

[2018-09-02 03:05] #745 closed, assigned to nobody

[2018-09-02 03:07] fuzhenn commented on #743
closing now, will reopen if you come back.

[2018-09-02 03:07] #743 closed, assigned to nobody

[2018-09-02 03:29] #736 closed, assigned to nobody

[2018-09-02 03:35] #733 closed, assigned to nobody

[2018-09-02 03:36] fuzhenn commented on #735
closing now, will reopen if you come back.

[2018-09-02 03:36] #735 closed, assigned to nobody

[2018-09-02 03:41] fuzhenn commented on #686
这个问题已经解决，晚些时候我们会把相关的插件和库发布出来。 😆

[2018-09-02 03:41] #686 closed, assigned to nobody

[2018-09-02 03:42] fuzhenn commented on #725
这个不算是bug，circle添加到multipolygon里时，确实会被转化为多边形

[2018-09-02 03:42] fuzhenn commented on #723
closing, will reopen if you come back

[2018-09-02 03:42] #723 closed, assigned to nobody

[2018-09-02 03:45] fuzhenn commented on #720
这种复杂图形的绘制基于canvas貌似没有太好的解决方案，可能最终还是需要用webgl绘制来解决。

我在考虑增加一个GLLayer，把webgl的context暴露出来方便调用，到时候可以基于GLLayer来实现这个需求。

[2018-09-02 03:45] #720 closed, assigned to nobody

[2018-09-02 03:47] fuzhenn commented on #717
有同学正在开发[UIMarker](http://maptalks.org/examples/cn/style/html-marker/#style_html-marker)的三维旋转功能，敬请期待

[2018-09-02 04:23] fuzhenn commented on #702
研究了一下，这个需求目前还无法实现。。
因为图层在渲染前，需要先加载所需的外部资源，markerFile 是动态时，图层无法获取到有哪些资源需要加载，所以在目前的流程下无法正常绘制。

不过你可以在构造symbol时，自己把图片url读取出来设置给markerFile， 或者采用filter来设置不同条件下的markerFile，没有这个功能应该也不影响应用的实现。

先关闭。

[2018-09-02 04:23] #702 closed, assigned to nobody

[2018-09-02 05:16] #705 closed, assigned to nobody

[2018-09-02 05:21] fuzhenn commented on #724
这个问题现在貌似已经好了，可能是chrome后自动修正了？

[2018-09-02 05:21] #724 closed, assigned to nobody

[2018-09-02 05:43] #726 closed, assigned to nobody

[2018-09-02 05:45] cXiaof commented on #725
不是我取不到circle了，问题是看不到这个圆，圆没有被渲染出来
转不转成多边形也不应该不渲染到地图上

[2018-09-02 05:47] cXiaof commented on #725
// 地图上能正常渲染MultiPolygon，有polygon, circle两个图形
new maptalks.MultiPolygon([polygon, circle]).addTo(layer);

// 地图上只渲染了polygon, 不渲染circle
new maptalks.MultiPolygon([polygon, circle]).copy().addTo(layer);

[2018-09-02 06:00] deyihu commented on #741
@fuzhenn  哈哈，TileLayer的mask怎么做的我没看源码，多个Polygon的这个我偷懒的（抖了个机灵），内部用了一个VectorLayer，然后画了一个大面，MultiPolygon作为其Holes来实现的，利用VectorLayer来对TileLayer遮盖

例如mask为 MultiPolygon,
[polygon,polygon,polygon.....],

然后内部
var polygon=[
 [[-180,-90],[-180,90],[180,90],[180,-90]],
polygon，
polygon，
polygon,
.......

]；

就是从全球的范围把这几个Polygon挖掉，让底图漏出来。

如果MultiPolygon的polygon中如果有带holes的就把holes拿出来，与全球范围的这个Polygon一样也加到Vector

[2018-09-02 06:04] fuzhenn commented on #762
还是没能重现.. 不过这个问题也许和 #732 有关

那个bug是能重现的，我先把它改掉，也许这个问题就随之解决了

[2018-09-02 07:51] #739 closed, assigned to nobody

[2018-09-02 07:55] fuzhenn commented on #725
收到！
以后最好能提供一个可运行的jsfiddle（或类似）重现bug，这样不会产生误解，而且也能方便我定位和修改bug

[2018-09-02 08:07] #725 closed, assigned to nobody

[2018-09-02 11:52] fuzhenn commented on #701
closing as answered

[2018-09-02 11:52] #701 closed, assigned to nobody

[2018-09-02 13:04] #744 closed, assigned to nobody

[2018-09-02 13:11] fuzhenn commented on #728
嗨，这个不是bug，rectangle的长和宽永远和x,y轴垂直，所以rectangle的rotate是只是移动锚点，然后整个矩形随之移动（长宽保持和x,y轴垂直）

我想你需要的是整个矩形绕中心点旋转，可以改成用Polygon来实现

[2018-09-02 13:11] #728 closed, assigned to nobody

[2018-09-02 13:51] #732 closed, assigned to nobody

[2018-09-02 13:51] #762 closed, assigned to nobody

[2018-09-02 14:41] fuzhenn commented on #741
哈哈，很天才

这个问题我尝试了一下，一些技术贴上提到canvas 支持 multiple clip， 但我还没试出来。 过两天找时间来看一下

[2018-09-03 08:00] chakravarthi-vl commented on #752
Thanks thanks for reply

[2018-09-03 08:00] #752 closed, assigned to nobody

[2018-09-03 08:14] MrSasuke opened #764 "底图加载的时候创建canvas报错"
**maptalks's version and what browser you use?**
----
maptalks v0.40.5，browser：chrome 68.0.3440.106

**Issue description**
----

加载底图创建canvas的时候会报错，修改maptalks.es.js(npm install)，加判断可以解决此问题，貌似发布的服务有问题？加载其他的服务没问题
[code]
**Please provide a reproduction URL (on any jsfiddle like site)**
----

http://jsfiddle.net/ax54m1fj/4/

[2018-09-03 08:22] fuzhenn commented on #764
把图层设置中的 `canvas : true` 注释或删除掉就行了
canvas是用来自定义图层的canvas的，需要传入真正的canvas容器
[code]

[2018-09-03 08:22] #764 closed, assigned to nobody

[2018-09-03 08:30] ageeye-cn opened #765 "LineString在设置smoothness参数的情况调用animateShow方法，播放时间和速度不正确"
**maptalks's version and what browser you use?**
----

**Issue description**
----

播放完成的时间总是比设定时间提前，曲线的播放速度不一致

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-09-04 02:33] Dylan0405 opened #767 "如何获取指定点指定距离范围的投影范围？以及像素距离范围。"
**maptalks's version and what browser you use?**
----
0.41.1
**Issue description**
----
在地图上获取到一个点，想要知道距离坐标具体范围的投影范围，例如知道一个投影坐标点（15,15），想要知道在距离这个点1千米的投影坐标的范围，以及像素距离。在文档中看到distanceToPoint(xDist, yDist, zoom)和distanceToPixel(xDist, yDist)方法，但是还是没弄太明白。xDist, yDist参数是相对于（0,0）而言吗？距离的单位是以米计算吗？希望不吝赐教，谢谢。

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-09-04 03:28] kzfile commented on #763
现在的maptalks是不是是纯CPU运算啊,我在控制台查看发现显存占用一直是0

[2018-09-04 03:33] fuzhenn commented on #763
@kzfile
技术实现要分图层，基于gl renderer的都是webgl实现的（比如三维时的TileLayer）
其他有canvas实现，也有基于dom的

至于为啥显存占用是0就不清楚了

[2018-09-04 06:24] #767 closed, assigned to nobody

[2018-09-04 07:17] #755 closed, assigned to nobody

[2018-09-04 07:19] davidweining2333 opened #768 "加载自定义切图服务，如何禁止找不到的瓦片报404错误"
**maptalks's version and what browser you use?**
----
0.40.5 chrome 68.0.3440.106
**Issue description**
----
![image](https://user-images.githubusercontent.com/28379395/45015823-75364600-b055-11e8-97b5-b417c96afc0a.png)
因为是自定义切图，所以只有部分瓦片，导致控制有大量404，openlayers有类似的not found img，就是找不到瓦片以自定义图片替代，maptalks是否有类似的配置项呢，或者是否可以再urlTemplate的回调中改写瓦片请求实现类似的功能呢（主要是x y取值范围是否可计算）

**Please provide a reproduction U

[2018-09-04 08:30] binfenshijie commented on #599
WMTS类型是把瓦片缓存起来了，每次加载会加载gwc文件夹下的切好的瓦片（我是用geoserver发布的），相比于WMS的瓦片加载要快很多，局域网（无internet）内十分有效率，请求连接如下：
http://114.115.136.50:8086/geoserver/gwc/service/wmts?
layer=bcmp_puruan:new3d_puruan
&style=
&tilematrixset=EPSG:4326
&Service=WMTS
&Request=GetTile&Version=1.0.0
&Format=image/png
&TileMatrix=EPSG:4326:17
&TileCol=219625&TileRow=42816
在OL中是用：
var wmtslayer = new ol.layer.Tile({

[2018-09-04 08:36] binfenshijie commented on #673
兄台，你是怎么加载wmts服务的，能demo一下吗@houxieyu

[2018-09-07 02:31] wordgold opened #769 "4326投影下，绘制工具 Circle 模式在地图上显示为椭圆形"
http://jsfiddle.net/k3x8tp2r/1

只是显示为椭圆，数据还是正圆的

[2018-09-07 02:32] fuzhenn commented on #769
这是正常的，4326投影下y轴下1个像素对应的真实距离比x轴要少，所以是椭圆形

[2018-09-07 02:32] #769 closed, assigned to nobody

[2018-09-07 05:48] deyihu commented on #741
@fuzhenn  至于你说的  multiple clip，我刚才尝试了一下，进行多个path绘制后进行统一剪裁，然后能达到MultiPolygon 多个区域被剪裁的效果

http://jsfiddle.net/x18y6ajh/27/

不知道是不是你说的效果

[2018-09-07 07:57] cooljser opened #770 "图形在 startEdit() 时，可以支持拖动吗？"
如题

[2018-09-07 16:02] fuzhenn commented on #770
可以的，例如编辑多边形时，中间圆形的手柄就是用来拖动图形的

[2018-09-08 06:05] GevilEsen opened #772 "need es6 module version"

[2018-09-08 06:11] #772 closed, assigned to nobody

[2018-09-08 07:07] GevilEsen opened #773 "Where did the ExtrudePolygonLayer in 0.4X?"
I found this func in 0.27, but not in 0.4x

[2018-09-08 07:10] GevilEsen commented on #773
i got it in biglayer sry

[2018-09-08 07:44] #773 closed, assigned to nobody

[2018-09-09 06:11] gee1k opened #774 "使用Proj4自定义投影底图时，spatialReference 会缺失一些属性"
**maptalks's version and what browser you use?**
----
- maptalks:`v0.41.1`
- browser: `Chorme 69`

**Issue description**
----
使用Proj4自定义投影底图时，spatialReference 会缺失一些属性。
在使用官方例子里的自定义投影底图时，我在其中绘制线，想尝试线的动画，发现报错如下：

![输入图片说明](https://images.gitee.com/uploads/images/2018/0909/135641_240b5dfc_1401522.png "屏幕截图.png")

由于是自定义的`Projection`，所以里面没有`measurer`对象。请问这个要怎么解决
![输入图片说明](https://images.gitee.com/uplo

[2018-09-09 10:38] signhuwei commented on #774
给自定义的投影赋个椭球呗
`Object.assign(youPrj,maptalks.measurer.WGS84Sphere)`

[2018-09-11 03:06] fuzhenn commented on #774
可以参考一下源代码里的处理方法，如楼上所说，根据需要添加Sphere或Identity的相关方法计算逻辑就行了。(源代码里的Common方法不用添加，maptalks会自动给自定义proj对象添加common方法的)
https://github.com/maptalks/maptalks.js/blob/master/src/geo/projection/Projection.EPSG3857.js

自定义投影的示例代码需要修改一下，我晚点去改一下

[2018-09-12 07:26] binfenshijie opened #777 "Polygon.containsPoint() can't work for a new vector layer"
**maptalks's version and what browser you use?**
----
google

**Issue description**
----
layer_test 图层上没有其他多边形或者marker时，第一次运行，发现点不在图形内（本应该在图形内），提前在layer_test上add过图形后就可以正确判断点在图形内,圆形倒是可以
[code]
**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-09-12 08:53] binfenshijie opened #779 "倾斜摄影的大数据量osgb倾斜摄影3d加载"
想问下大数据量的osgb倾斜摄影数据加载是否可以实现，three应该加载不出来吧？因为三维的倾斜摄影地图很火，基于osgb或者3dtile或者与cesium结合来加载3d会考虑开发吗

[2018-09-12 09:12] fuzhenn commented on #777
嗯，对，因为polygon的containsPoint的运行需要依赖一些地图设置，所以必须要加载到地图上才行

circle不需要，是因为circle的containsPoint和地图是独立的，具体可以看看他们的源代码。

[2018-09-12 09:12] #777 closed, assigned to nobody

[2018-09-12 09:15] fuzhenn commented on #779
我们已经有一个cesium插件，可以通过cesium加载倾斜摄影（或调用cesium其他功能）。

另外我们也有一个自己开发的体积比较小，性能不错的3dtiles图层插件，可以加载3d tiles(倾斜摄影）数据，目前正在项目中实际测试和改进。

这两个插件过段日子都会发布，请继续关注。

[2018-09-12 09:15] #779 closed, assigned to nobody

[2018-09-12 09:19] binfenshijie commented on #779
谢谢您的回复，
查到了很多osgb转换为3dtile的工具，期待你们的3dtiles图层插件

[2018-09-13 03:24] wordgold opened #780 "初始化地图时 layers 内的 WMS 图层 zIndex 不起作用"
![image](https://user-images.githubusercontent.com/3621846/45465270-0177f580-b747-11e8-8a08-53bb8f70f1dd.png)
![image](https://user-images.githubusercontent.com/3621846/45465295-1fddf100-b747-11e8-83a3-85c7770cf6d6.png)

需要在后面重新设置一下：
![image](https://user-images.githubusercontent.com/3621846/45465341-51ef5300-b747-11e8-8531-6831708f3188.png)
![image](https://user-images.githubusercontent.com/36218

[2018-09-13 04:48] #770 closed, assigned to nobody

[2018-09-13 04:49] fuzhenn commented on #741
谢谢！@deyihu
我研究一下

[2018-09-13 08:26] ageeye-cn opened #782 "Edge浏览器下为Marker设置svg图标样式时，渲染样式不正确"
**maptalks's version and what browser you use?**
----

**Issue description**
----

同时设置svg图标样式和shadow样式时，svg图标被阴影挡住
颜色不正确，始终和shadow同色

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-09-15 23:35] jgauna opened #783 "How to animate a marker through a LineString?"
Chrome 64 - Maptalks lastest version
----

I want to animate a marker (just as the LineString example:

http://maptalks.org/examples/en/animation/line-animateshow/#animation_line-animateshow

and I can't figure out how to do it
----

- First the line should be rendered just like here http://maptalks.org/examples/en/animation/line-animateshow/#animation_line-animateshow

- The marker should appear

[2018-09-16 01:33] fuzhenn commented on #783
Hi!
You could take a look at this plugin, which may help:
https://github.com/maptalks/maptalks.routeplayer/

[2018-09-17 08:58] sakitam-fdd opened #784 "Marker 处于编辑状态时的边框控制点在视角倾斜时的位置不是预期效果"
**maptalks's version and what browser you use?**

version:  0.41.1

**Issue description**

Marker 处于编辑状态时的边框控制点在视角倾斜时的位置不是预期效果，预期控制点还应该处于Marker周边。

![image](https://user-images.githubusercontent.com/19517451/45614058-ce14ce00-ba9a-11e8-8a9a-1b5a65e027f9.png)

**Please provide a reproduction URL (on any jsfiddle like site)**

http://jsfiddle.net/sakitamfdd/tn6Lfv54/4/

[2018-09-19 08:45] davidweining2333 opened #788 "在3D视角下，vector图层的覆盖物盖在了fog上，导致感官与实际不一致，可能导致误解"
**maptalks's version and what browser you use?**
----
0.40.5 chrome 68.0.3440.106
**Issue description**
----
在3D视角下，vector图层的覆盖物盖在了fog上，导致感官与实际不一致，可能导致误解
![image](https://user-images.githubusercontent.com/28379395/45739613-f846c700-bc25-11e8-814a-d26a2586aab4.png)

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://jsfiddle.net/u9f4kjcw/81/
基于官方demo写了一个类似的例子

[2018-09-19 08:47] davidweining2333 commented on #788
看了一下大概是因为fog的绘制比vectorlayer的绘制先，这里是否有方法能解决呢

[2018-09-19 09:48] fuzhenn commented on #788
原因确实如你所说。但fog如果画在所有图层上，效果也很怪。
这个没什么很好的解决方案，可以这么改一下试试：
* fog设为false
* 把map的maxVisualPitch设大一点(默认60)，这样底图会延伸的远一些（性能会下降，需小心调整）
* 调整容器背景

[2018-09-19 09:50] davidweining2333 opened #789 "Polygon对象为什么只有mouseenter事件没有mouseleave事件呢"
**maptalks's version and what browser you use?**
----
***
**Issue description**
----
![image](https://user-images.githubusercontent.com/28379395/45745893-74e0a200-bc34-11e8-80d6-cf48a097786e.png)

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://maptalks.org/maptalks.js/api/0.x/Polygon.html#event:mouseenter

[2018-09-19 09:58] davidweining2333 commented on #788
fog是需要的，干脆我就设置一下maxPitch减少vector图层的展示好了

[2018-09-21 02:57] fuzhenn commented on #789
不同于dom，Geometry上mouseout和mouseleave的行为是一样的，所以就没有新增一个mouseleave事件了

mouseenter（不会重复fire）和mouseover行为不同，所以就增加了一个mouseenter

[2018-09-21 02:57] #789 closed, assigned to nobody

[2018-09-21 08:46] qg1994 opened #793 "这个怎么加载离线地图啊？"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

    <script>
      var map = new maptalks.Map('map', {
        center: [-0.113049,51.498568],
        zoom: 14,
        baseLayer: new maptalks.TileLayer('base', {
          urlTemplate: 'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.pn

[2018-09-22 02:46] fuzhenn commented on #793
需要自己生成瓦片数据并发布为服务，按照与在线服务类似的方式加载就行。

具体可以搜索下，相关教程和文章很多

[2018-09-22 02:46] #793 closed, assigned to nobody

[2018-09-25 06:55] zzcyrus opened #794 "setView中的判断是否合适"
https://github.com/maptalks/maptalks.js/blob/b479fa0b1419b5ca54c7f4160e909cfeeacc0160/src/map/Map.js#L802

[code]

这样判断，如果view中的pitch和bearing想要刻意设置成0，就只能采取setPitch的方法了，是不是不太合适

[2018-09-25 07:45] fuzhenn commented on #794
确实，zoom, pitch, bearing都有这个问题

有兴趣帮忙提个pr给我不？

[2018-09-25 10:05] binfenshijie opened #795 "cesium插件加载3dtile倾斜摄影，不报错，不显示3d内容"
<script type='text/javascript' src="https://cdn.jsdelivr.net/npm/maptalks@0.41.1/dist/maptalks.min.js"></script>
    <script type='text/javascript' src='../dist/Cesium.js'></script>
    <script type='text/javascript' src='../dist/maptalks.cesium.js'> </script>
/////maptalk-map
  var map = new maptalks.Map('map', {
      center: [116.2989326073,39.8996075498],
      //中心点标记红十字
      centerCross : t

[2018-09-25 10:07] binfenshijie commented on #795
我单独用cesium加载该数据是没有问题的modeldata/3Dtilesdata/tileset.json

[2018-09-25 12:57] deyihu opened #796 "GroupTileLayer 移除后不能再次添加到地图上"
**maptalks's version and what browser you use?**
----

**Issue description**
----

TileLayer 从地图上移除后可以再次添加。
GroupTileLayer 从地图上移除不能再次添加到地图上

http://jsfiddle.net/1on8gu95/

老版本是可以的（我用0.39.0是可以的），目前新的版本不可以的

[引用的issue](https://github.com/deyihu/maptalks-tileLayercollection/issues/1)  @binfenshijie

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-09-26 02:22] fuzhenn commented on #795
请发个邮件给我，我们在邮件里沟通这个问题吧

[2018-09-26 02:22] #795 closed, assigned to nobody

[2018-09-26 03:01] binfenshijie commented on #795
好的。我整理下

[2018-09-26 06:33] artskin opened #797 "绘制图形自动闭合"
**new?**
想问下maptalk在绘制多边形的时候，能不能设置首尾坐标接近时自动吸附，点击后，图形闭合。
目前没看到接口和例子里有相关内容

[2018-09-26 07:54] fuzhenn commented on #797
目前绘制多边形时已经是自动闭合的，只是没有你提到的自动吸附闭合的过程，而是在双击结束后，自动添加一个闭合点。

[2018-09-26 08:05] artskin commented on #797
目前这种绘制多边形，闭合的地方不太精确，经常多出个拐点。
建议后续加个自动吸附。还有个就是绘制过程中线段是否交叉的判断，以前用其他框架有这些设置，感觉体验比较不错。

[2018-09-26 12:14] fuzhenn commented on #797
闭合的地方不精确和多个拐点是指？请稍微讲的详细一些

对于自相交的判断，目前有个插件可以实现这个功能：

https://github.com/maptalks/maptalks.isects

绘制过程中检查是否自相交确实是个好主意

[2018-09-27 08:34] artskin commented on #797
就是说绘制多边形，最后想闭合时，回到起始点双击，由于目测误差经常不准确。双击后会自动绘制双击的点与起始点的线段，这样就会多出一段。虽然很小，但是会多生成一个坐标

[2018-09-27 09:11] cooljser commented on #797
这个问题我也碰到了，是这样处理的：
在每次点击时，在拐点处都会绘制一个 marker 的小圆点，把第一个小圆点的 hover 属性设置为 pointer，并且绑定 click 事件。当要终止绘制时，移动到第一个小圆点上，鼠标手势会变化，所以不易误操作。

[2018-09-29 11:07] deyihu opened #798 "ui.UIMarker 添加 ToolTip支持"
**maptalks's version and what browser you use?**
----

**Issue description**
----
复杂的点（图表等之类的东西）需要ui.UIMarker来支持

需要ui.UIMarker进行消息提示，ui.UIMarker好像不支持ToolTip

我看了一下ToolTip限制了 owner只能为Geometry实例，希望加个判断ui.UIMarker来支持ToolTip

我试了一下，放开就可以了

<pre>

      if (owner instanceof Geometry) {
            owner.on('mousemove', this.onMouseMove, this);
            owner.on('mouseout', this.onMouseOut, this);

[2018-09-30 04:55] fuzhenn commented on #798
赞！ 提个pr给我吧，判断一下Geometry或者UIMarker就展示

[2018-10-09 13:46] fuzhenn commented on #797
drawtool应该会自动闭合的，不用特意回到起始点去双击

[2018-10-09 13:47] fuzhenn commented on #798
closed by #799

[2018-10-09 13:47] #798 closed, assigned to nobody

[2018-10-09 13:48] fuzhenn commented on #796
closed by #800

[2018-10-09 13:48] #796 closed, assigned to nobody

[2018-10-10 01:15] cooljser commented on #797
嗯，drawtool 是可以自动闭合。但是产品需求就是这个鸟样，需要点击起始点也实现闭合功能(心里mmp...)。

[2018-10-11 03:29] deyihu commented on #741
@fuzhenn   这个问题我刚才尝试了一下，基本上已经解决了

https://deyihu.github.io/src/html/mask.html

不过代码方面涉及到了 底层的Canvas(src/core/Canvas.js)

而且我认为这个解决方法不是太好，在Canvas.polygon方法中判断是否MultiClip,
**相关标志绑定在Canvas 的context的（这个认为不好的地方）**

**主要是因为我对maptalks.js整个项目代码不是很熟悉，所以不好对这块的重构,你看看怎样进行整合一下**

MultiPolygon多边形中含有holes的没有处理，
我看了下即使是Polygon时，如果含有洞，进行Clip也是只剪裁洞的内容（应该是有问题的），这里我没有做处理(没有想到好的对多个Polygon且含有洞的clip方法)

我待会给个PR,代码变动不多

[2018-10-11 10:09] fuzhenn commented on #741
closed by #801

[2018-10-11 10:09] #741 closed, assigned to nobody

[2018-10-14 13:45] fuzhenn commented on #768
closed by #778

[2018-10-14 13:45] #768 closed, assigned to nobody

[2018-10-14 13:50] fuzhenn commented on #717
closed by #766

add 2 new options to UIMarker (and other UIComponents):

[code]

[2018-10-14 13:50] #717 closed, assigned to nobody

[2018-10-14 14:07] #794 closed, assigned to nobody

[2018-10-14 14:54] #780 closed, assigned to nobody

[2018-10-15 03:37] binfenshijie opened #802 "retina屏幕获取context问题报错"
*********Issue description*********

![image](https://user-images.githubusercontent.com/13793642/46928638-275a2800-d06e-11e8-83b5-17c7a09c215a.png)
在macpro上会有问题
实测发现是屏幕问题，
用mac连接显示器把浏览器拖到普通显示器上就不报错
然后拖回macpro上的笔记本显示器就会报错
奇怪的是另外两名同学的mac-air就不会有问题

我用的是mac版本Chrome做的测试

[2018-10-15 04:13] binfenshijie commented on #802
另外。是加载cesium图层的时候会这样，其他普通图层没有问题。var cesiumLayer = new maptalks.CesiumLayer('cesium').addTo(map);

[2018-10-16 09:53] davidweining2333 opened #803 "只显示指定范围内的瓦片-BUG"
**maptalks's version and what browser you use?**
----0.40.5 chrome 68.0.3440.106

**Issue description**
----使用mask，显示范围内地图功能时，将地图倾斜至最大角度，在将地图向北平移，到达地平线时报错，程序阻塞
![image](https://user-images.githubusercontent.com/28379395/47007980-f52ef000-d16b-11e8-994f-a0cae53a687a.png)
![image](https://user-images.githubusercontent.com/28379395/47007998-fbbd6780-d16b-11e8-9402-4ba7cde2f53e.png)

**Please provide

[2018-10-17 01:05] deyihu opened #804 "关于绘制带洞多边形的问题？"
**maptalks's version and what browser you use?**
----

**Issue description**
----

一个Polygon外环有很多点，
绘制是没有问题的，
但是当我在该Polygon挖个洞时，在绘制时，外环的点明显少了很多，两个Polygon的外环点是一样的

http://jsfiddle.net/9t6hfmn5/

![2018-10-17_085914](https://user-images.githubusercontent.com/25998927/47055647-0cf98900-d1eb-11e8-9460-4c4b585051fe.png)

上面的polygon含有hole,下面的polygon没有hole,

![2018-10-17_085020](https://user-images.githu

[2018-10-17 14:56] deyihu opened #805 "关于InfoWindow位置问题"
**maptalks's version and what browser you use?**
----

**Issue description**
----
点和面绑定InfoWindow时没有问题

但是当线 绑定InfoWindow，zoom小时候手动点击打开InfoWindow，地图放大后，InfoWindow位置就不准确了

http://jsfiddle.net/qc4021br/

**我知道这个是由精度问题导致（这时InfoWindow的位置应该是点击地图对象获取的经纬度），地图zoom小的时候，一个像素对应的经纬度值误差很大，当地图放大后InfoWindow还是保存的刚才点击的经纬度值，所以显示不准确了**

UIMarker也是存在这个问题的，我的做法是在InfoWindow不要自动打开，在UIMarkr的click事件中手动的设置 InfoWindow的位置为
U

[2018-10-18 01:26] jingyebuchen opened #806 "Add infowindow for UIMarker"
**maptalks's version and what browser you use?**
----
版本^0.40.5  浏览器：谷歌浏览器

**Issue description**
----
图片标注里面不支持gif图吗？我想加载一个gif格式的图片标注，但是他到页面上之后就不是动图了。

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://maptalks.org/examples/cn/style/image-marker/#style_image-marker

[2018-10-18 01:56] fuzhenn commented on #806
因为受canvas限制，普通的marker不支持gif，需要gif的可以改用UIMarker

[2018-10-18 03:28] jingyebuchen commented on #806
用了UIMarker确实可以显示出来了，可是我还要用marker的setInfoWindow方法，打开窗口，这种情况我看UIMarker好像没有这个方法。

[2018-10-18 03:57] fuzhenn commented on #806
reopen，changed title

[2018-10-18 08:22] deyihu commented on #806
@jingyebuchen  可以将InfoWindow手动的绑定到UIMarker，相比Geoemtry的直接绑定，稍显繁琐一点。

http://jsfiddle.net/hxvagkqc/1/

不过不能自动的打开，需要手动的打开，否则位置在地图放大后就不准确了

上个问题 [#805](https://github.com/maptalks/maptalks.js/issues/805)我也提到了

[2018-10-18 08:27] jingyebuchen commented on #806
多谢，我也正在尝试，您的这个例子来的太及时了，我先试试

[2018-10-18 17:17] cornelius-agrippa opened #807 "Polygon vertices with varying altitudes"
**Issue description**
Hello there, I have a polygon that is defined by vertices with different altitudes (in meters). However I'm not sure how I could draw them in maptalks to make a polygon with varying altitude.
[code]
What would be the best way to draw it? I was reading about it in this page, http://maptalks.org/examples/en/3d/polygon-altitude/#3d_polygon-altitude, but by providing providing an

[2018-10-19 00:45] jingyebuchen commented on #806
@deyihu 是不是用您的这种写法了之后？必须加上可以拖动的这个属性？因为我去掉这个属性之后好像打开不了窗口。
![9cf12c76a12ed9d66680dc7a3a6a900](https://user-images.githubusercontent.com/41276803/47191677-49f48580-d37b-11e8-8d94-f6d8f556263c.png)

[2018-10-19 02:00] SimpleYong opened #808 "line或者polygon设置altitude高度后animateShow报错"
**maptalks's version and what browser you use?**
----chrome 69.0.3497.100 bit64

**Issue description**
----line或者polygon设置altitude高度后animateShow报错

**Please provide a reproduction URL (on any jsfiddle like site)**
----http://jsfiddle.net/ngv9w7m8/

[2018-10-19 04:23] fuzhenn commented on #807
Hi, @cornelius-agrippa , glad to have you here.

maptalks.js core doesn't support this form of data now, because it's mainly based on Canvas 2D and is lack of ability to render 3d objects.

You can take a look at [maptalks.three](https://github.com/maptalks/maptalks.three/) plugin, in which you can convert the [x, y, z] to THREE Vector by following:

* convert meter distance to three Vector by [`d

[2018-10-20 06:27] Wujidadi opened #809 "兩個問題，分別關於GeoJSON和縮放級別"
請教兩個問題：
1. 使用 maptalks.GeoJSON.toGeometry() 創建的 geometry，要如何修改其 cursor？setCursor() 似乎只能用在 Map，無法用於 geometry。
2. zoomIn、zoomOut 的縮放級別都是 1，用 maptalks-zoom-zoomin 和 maptalks-zoom-zoomout 按鈕好像能藉由修改 zoomIn() 和 zoomOut() 來實現小數點等級的縮放，那麼滾輪和雙擊的部分，要怎麼達到相同的效果呢？

[2018-10-22 01:59] fuzhenn commented on #809
嗨，@Wujidadi
1.  Geometry可以通過 geometry.config('cursor', cursorStyle); 來設置cursor
2.  因為圖片底圖在非整數級別上不清晰，所以目前滾輪和雙擊都只支持整數縮放級別，但這個功能已經在我們的開發計劃中了，會在近期實現的。

[2018-10-22 02:06] fuzhenn commented on #809
嗨, @Wujidadi
1.  可以通過 geometry.config('cursor', cursorStyle); 來設置cursor
2.  因為圖片底圖在小數級別上會模糊，目前雙擊和滾輪只支持整數級別，但這個功能已經在計劃中，會在近期實現的

[2018-10-23 07:01] Wujidadi commented on #809
感謝回覆！

[2018-10-24 09:38] jingyebuchen commented on #751
@fuzhenn
您好，我想追问一下
polygon.startEdit({
   centerHandleSymbol, //中心编辑手柄的symbol
   vertexHandleSymbol, //已有端点编辑手柄的symbol
   newVertexHandleSymbol, //新端点手柄的symbol
});
手柄或者端点的详细样式参数我可以参考哪里呢？在官网我没有找到相应的答案

[2018-10-25 02:14] fuzhenn commented on #751
@jingyebuchen
这个设置和Geometry用的是一样的symbol系统：
https://github.com/maptalks/maptalks.js/wiki/Symbol-Reference

[2018-10-25 02:18] jingyebuchen commented on #751
嗯嗯好的，非常感谢！！！

[2018-10-25 03:50] fuzhenn opened #811 "Add methods for xyz coordinate conversion"
Add methods for xyz coordinate conversion

Input is [long, lat, altitude(meters)], output is containerPoint and 2d point.

[2018-10-26 10:22] cornelius-agrippa commented on #807
Hello!

Thank you very much, [maptalks.three](https://github.com/maptalks/maptalks.three/) was really helpful. I ended up doing exactly what you suggested. Going to post what I ended up with as it might be useful to someone with the same question:

[code]

Thank you for your work on Maptalks as-well, I'm enjoying it :).

[2018-10-29 07:43] Wujidadi opened #812 "目前有辦法「繪製多邊形的高度面」嗎？"
示例 4.2、4.4 分別是「繪製Marker的高度線」和「繪製線的高度面」，卻沒有「繪製多邊形的高度面」，只有如示例 4.5 的「有高度的多邊形」，想請問目前是不是還不能做出 3D 立體多邊形的效果？

如下圖：
![image](https://user-images.githubusercontent.com/10349431/47635849-5655bb00-db91-11e8-8bd3-bdc8618c7217.png)

[2018-10-29 07:52] fuzhenn commented on #812
这个可以用three插件绘制： [maptalks.three](https://github.com/maptalks/maptalks.three/)

相关issue: https://github.com/maptalks/maptalks.js/issues/807

[2018-10-29 08:09] Wujidadi commented on #812
謝謝回覆……Orz

其實發問後不久自己就找到了，正想上來close……真是貽笑大方了。

[2018-10-29 08:21] cooljser opened #813 "图形过多时，导致地图 click 事件不响应"
https://jsfiddle.net/cooljser/guym2Lvc/

[2018-10-31 07:35] jingyebuchen opened #814 "IE中是不是不支持css filter？"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-11-01 02:37] fuzhenn commented on #814
嗯，确实不支持

[2018-11-01 02:37] #814 closed, assigned to nobody

[2018-11-01 02:37] #812 closed, assigned to nobody

[2018-11-01 02:47] fuzhenn opened #815 "Blank tiles if TileLayer's offset is dynamic"
**maptalks's version and what browser you use?**
----
v0.41.1

**Issue description**
----
It's a regression bug since v0.39.1

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://jsfiddle.net/fuzhenn/marnpw38/6/

[2018-11-04 11:35] anakein opened #816 "maptalks website is down"
antivirus say me: there is trojan html:redirME-inf

[2018-11-04 11:52] fuzhenn commented on #816
Really?

[maptalks.org](https://maptalks.org) is hosted on github pages and served through cloudflare's CDN.

It's OK for me here and it sounds like a problem of cloudflare's service in your place.

Do you mind telling me where are you?

[2018-11-04 17:00] anakein commented on #816
![captura](https://user-images.githubusercontent.com/1563663/47967248-b9e15c00-e05b-11e8-87ca-751aca2da2ce.PNG)
spain

[2018-11-05 10:24] Wujidadi opened #817 "Three.js 建立的 3D features 可以綁定 InfoWindow 嗎？"
請問：3D Features 可以像 2D Geometry 一樣綁定 infowindow 嗎？以 3D 建築物為例，目前我是通過在該建築物的「頂樓」高度加上一層 2D 的 polygon geometry，再綁定 infowindow 給它。但若不是 3D Feature 不是這種等高的形狀，那就穿梆了。或是有時也需要 hover 到 3D feature 的側面「身體」上跳出 infowindow。
![share](https://user-images.githubusercontent.com/10349431/47992415-cc28cc00-e127-11e8-882f-9267d8aecb94.png)

[2018-11-05 14:11] deyihu commented on #817
@Wujidadi   默认不支持的，我用的时候也遇到相同的问题，不过可以可以通过 three.js 碰撞检测，然后动态绑定 Infowindow

http://jsfiddle.net/910hnjqb/2/

[2018-11-06 05:21] Wujidadi commented on #817
@deyihu 就是這個效果！感謝您的指點！

[2018-11-06 07:26] #817 closed, assigned to nobody

[2018-11-07 13:31] cornelius-agrippa commented on #816
It looks like the kind of error you get when your computer's clock is wrong. Make sure your time is set correctly.

[2018-11-08 10:14] GinoPane opened #818 "Question about rendering"
Sorry for asking here, maybe I misunderstood the library's capabilities.
Can it be used to render maps in the browser or is it just for displaying of pre-rendered tiles from third-party tile servers?

[2018-11-09 07:44] anakein commented on #816
my clock is fine. the problem is tls.
![captura](https://user-images.githubusercontent.com/1563663/48249479-91f74d00-e3fb-11e8-84cd-8fc276f9253b.PNG)
![captura](https://user-images.githubusercontent.com/1563663/48249536-b4896600-e3fb-11e8-9037-2b90cdd6346e.PNG)

[2018-11-09 10:49] fuzhenn commented on #816
maptalks.org's front page contains codes from [google analytics](https://analytics.google.com) for visitor statics.

You can have a try of [API doc](https://maptalks.org/maptalks.js/api/0.x/Map.html), it doesn't have the google codes. If that is OK, then it should be the problem between AVG and google analytics.

By the way, have you tried http://maptalks.org (without https)?

[2018-11-10 07:43] XiangLiLiang opened #819 "曲线使用linePattern样式问题"
环境：maptalks v0.42.0 和谷歌浏览器中

当 CubicBezierCurve、QuadBezierCurve、ArcCurve使用linePattern时，曲线样式会随地图方位角和俯仰角( Pitch&Bearing )变化

http://jsfiddle.net/XiangLiLiang/nuphz0m6/28/

[2018-11-14 06:51] fuzhenn commented on #819
这个问题不是很好解决，pattern的角度是按照当前线段的直线角度来设置的，但曲线偏离了原有的直线，所以会出现这个现象。

要完美解决，必须把曲线做切割，切成很多小的直线线段，但这样会急剧提升绘制成本。

一时半会还找不到特别好的解决思路

[2018-11-15 06:54] chunjil opened #820 "是否考虑添加街景支持或能指点街景接入思路"

[2018-11-15 07:55] fuzhenn commented on #820
感谢提出issue。

调用街景需要参考街景服务商的技术文档，这里不会直接支持。

如果你是指的从地图切换到街景，应该可以通过css来实现一些变换效果，不过我没做过相关开发，没办法提出有参考的建议。

[2018-11-15 07:55] #820 closed, assigned to nobody

[2018-11-16 10:02] XiangLiLiang commented on #819
好滴

[2018-11-17 09:39] chakravarthi-vl opened #821 "if possible please provide working example of CanvasTileLayer"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-11-17 11:39] xianxuLi opened #822 "需要配置token才能访问arcgis服务问题"
**maptalks's version and what browser you use?**
----v.0.42.0 chrome v 70.0.3538.102

**Issue description**
----
许多arcgis服务需要账号密码才能访问，请问转换token后如何访问服务？能否在maptalks访问服务时提供配置token的参数？蟹蟹~^_^

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-11-20 09:52] #802 closed, assigned to nobody

[2018-11-20 11:02] monkey65535 opened #823 "关于在echatrs GL中使用mapTakls的一些marker事件问题"
环境：
Chrome  mapTalk@0.42.0

问题：
当在echarts gl的环境下基于geojson渲染城市之后，使用mapTalk的API添加了一些marker，然后依照文档绑定了相关的事件，但是事件完全无法触发= = 暂时无法找到解决方案T  T

重现代码：
http://gallery.echartsjs.com/editor.html?c=xMVnfn3hla&v=6

[2018-11-20 11:22] fuzhenn commented on #803
fixed in https://github.com/maptalks/maptalks.js/commit/38752c15e5d663d49e4f6ba9da08e6320f27a6ab

[2018-11-20 11:22] #803 closed, assigned to nobody

[2018-11-20 11:45] fuzhenn commented on #823
这个应该是因为echarts接管了容器事件，maptalks的容器无法接收到事件导致的。

可以试试一个有点hack的方法：
通过echarts捕捉容器事件，然后手动调用map的事件处理方法：
对于geometry事件：
[code]
对于map本身的dom事件：
[code]

[2018-11-20 12:26] monkey65535 commented on #823
刚刚去修改了下代码，发现echarts容器的事件也无法获取

http://gallery.echartsjs.com/editor.html?c=xMVnfn3hla&v=7

然后查看dom发现，如果把echarts生成的canvas设置为display:none的话，地图的事件就可以正常的去执行=  = 忧伤。

这样就没办法按照您的方法去实现了 T T

[2018-11-20 12:40] #808 closed, assigned to nobody

[2018-11-20 13:03] #815 closed, assigned to fuzhenn

[2018-11-20 13:17] fuzhenn commented on #823
可以试着去echarts的官方仓库问问看：
https://github.com/apache/incubator-echarts

[2018-11-20 14:06] fuzhenn commented on #815
the final example for dynamic offset:
http://jsfiddle.net/fuzhenn/marnpw38/10/

[2018-11-20 14:08] #823 closed, assigned to nobody

[2018-11-21 01:42] Immanding opened #824 "像echart那种压缩后的geojson是否不支持"
**maptalks's version and what browser you use?**
----

**Issue description**
----
像echart那种压缩后的geojson是否不支持

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-11-21 02:20] #824 closed, assigned to nobody

[2018-11-21 12:24] deyihu commented on #823
@monkey65535  这个问题我有深入的研究过,回答一下希望帮到你

*  echarts-gl 不能触发事件的问题，你的代码我看了，需要设置支持事件交互，需要将silent:false, silent表示是否关闭鼠标事件（当数据量大时候，关闭事件可以大大提高渲染速度）

![2018-11-21_194617](https://user-images.githubusercontent.com/25998927/48839391-5169dd00-edc6-11e8-81d8-85bdc6963e2d.png)

![2018-11-21_194705](https://user-images.githubusercontent.com/25998927/48839490-a86fb200-edc6-11e8-8495-19f7d10d620e.png)

*  echarts-g

[2018-11-22 03:21] monkey65535 commented on #823
@deyihu  非常感谢 ！！

[2018-11-23 03:16] fuzhenn opened #825 "Ignore tiles out of tile service's extent"
An unfinished work refering to #778

[2018-11-23 04:38] AllanHao opened #826 "tileImge的crossOrigin问题"
maptalks v0.42.1

我请求瓦片数据报“ Access to image at 'xxx' from origin 'xxx' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource"的错，通过调试，
 在TileLayerGLRenderer的loadTileImage函数中，有一句
tileImage.crossOrigin = this.layer.options['crossOrigin'] || '';
我把这句去掉就解决了。

通过调试openlayers源码，发现如果crossOrigin没有设置，没有赋默认值。

最后，感谢大神做出这么牛逼的地图库~~~

[2018-11-23 05:04] fuzhenn commented on #821
The example is down because mapzen is out of service now.

They are now moved to [nextzen](https://www.nextzen.org/)， I think you may fix the example by redirecting mapzen's url to nextzen.

[2018-11-23 05:05] fuzhenn commented on #826
谢谢~ 方便提供一下出错的tile服务的url不？
我来看看这个问题

[2018-11-23 06:30] AllanHao commented on #826
wms地址：http://bj.smartmall.gaiais.com:8090/iserver/services/cacheMap_UGCV5_KB/wms111/全国数据
layerName:全国数据
坐标：EPSG：4326

[2018-11-23 06:34] AllanHao commented on #826
另外，我还有一个问题，marker可以设置三维效果的样式吗？比如立体效果的柱子，柱子添加阴影效果等，我参考的demo是http://maptalks.org/examples/cn/animation/marker-anim/#animation_marker-anim。
因为没有Symbol的所有属性字段含义，所以还请指点一下

[2018-11-23 09:57] davidweining2333 commented on #826
![image](https://user-images.githubusercontent.com/28379395/48937423-f3b1ce00-ef48-11e8-9cb7-8dcc802b4714.png)
我的项目里也有报错，但报错是因为确实没有这个瓦片，我觉得是浏览器识别为跨域导致的找不到

[2018-11-23 10:07] davidweining2333 commented on #826
@fuzhenn 顺便问下关于crossOrigin的问题，项目中遇到离线访问地图服务的情况，因此会直接把切片放到前端代码根目录，我通过file协议直接访问，此时为非跨域请求瓦片，无论我如何设置crossOrigin，图片请求的origin都是null，导致报跨域错误
![image](https://user-images.githubusercontent.com/28379395/48937922-93239080-ef4a-11e8-8986-a3d9120110e6.png)

[2018-11-23 11:48] monkey65535 opened #827 "批量添加一个自定义Html 的 Marker时的错误问题"
**maptalks's version and what browser you use?**
----
Chome@70.0 maptalks's@0.42.0
**Issue description**
----
创建多个UI Marker然后批量添加到一个新创建的layer中的时候，添加失败，浏览器报错：
[code]
然后去文档中查找UI Marker的配置项，发现并没有zIndex的配置，
虽然Marker的配置项中有zIndex的配置，但是配置了option之后发现依然没有效果 报错依然是：
[code]

另：如果不clear或者removeLayer的方法，有办法一次性清空地图上的所有物体么？

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://jsfiddle.ne

[2018-11-23 12:31] fuzhenn commented on #827
UIMarker不是用来添加到图层上的，它是个UI Component，类似InfoWindow或右键菜单，是直接添加到地图上的：
http://jsfiddle.net/fuzhenn/bfw0Lx2u/

[2018-11-23 12:31] #827 closed, assigned to nobody

[2018-11-23 14:47] AllanHao commented on #826
我的问题调用超图的iServer wms就不行，调用geoserver的就可以了，好奇怪。最后没有办法用geoserver重新发布了一遍iServer的wms服务

[2018-11-23 15:23] fuzhenn commented on #826
@AllanHao symbol的属性表（readme里有链接）：
https://github.com/maptalks/maptalks.js/wiki/Symbol-Reference

crossOrigin出错估计是iServer对crossOrigin的支持和geoserver不同，我晚点会找时间看一下

[2018-11-24 01:31] fuzhenn commented on #826
噢，对了，三维的效果可以看一下[maptalks.three](https://github.com/maptalks/maptalks.three)插件

[2018-11-24 02:47] AllanHao commented on #826
@fuzhenn 好的，谢谢

[2018-11-24 07:12] AllanHao opened #828 "polygon 的 text symbol是否支持自动避让？"
maptalks 0.42.1

hi，Polygon的text symbol内容是否支持自动避让？例如当文字长度超过Polygon大小时不予显示，现在默认情况下显示比较乱。
![image](https://user-images.githubusercontent.com/3953310/48965605-6085a080-effb-11e8-86e9-4dac0d4b2af7.png)

谢谢。

[2018-11-24 13:19] WindyNature opened #829 "百度地图512切片问题"
我使用百度地图512*512的切片，tileSize已设置为tileSize: [512, 512]，加载后出现偏移的情况：

代码如下:

[code]
还需要另外设置什么参数吗？

[2018-11-24 13:28] fuzhenn commented on #829
不要设置tileSize就正确了

scaler = 2 的瓦片相当于是retina = 2，虽然瓦片图片大小是512，但其地理范围和256像素时是相同的

[2018-11-24 13:28] #829 closed, assigned to nobody

[2018-11-24 13:29] AllanHao opened #830 "设置infoWindow autoPan属性为true时，顶部无法全部显示"
**maptalks 0.42.1**

Hi，我将ui.InfoWindow的autoPan属性设置为true时，发现顶部气泡还是无法显示，如下图所示：
![image](https://user-images.githubusercontent.com/3953310/48968750-ee2eb380-f02e-11e8-8338-f1e631890d79.png)

通过查看源码发现判断时没有将clientHeight计算在内，不知道是Author故意为之呢，还是怎样。下面是我改的记录：
![image](https://user-images.githubusercontent.com/3953310/48968809-e15e8f80-f02f-11e8-8b14-0b8ee53731ec.png)

demo地址：
http://jsfiddle.net/api/post/l

[2018-11-24 13:31] fuzhenn commented on #828
https://github.com/ageeye-cn/maptalks.collisionLayer
maptalks.js核心库没有避让功能，可以看一下上面的图层插件

另外polygon的中心文字可以用polylabel库来计算，能保证文字在多边形内部

[2018-11-24 13:33] fuzhenn commented on #830
看上去有点像是个bug，提个pr给我吧

另外demo地址还是原始的编辑地址，没有保存下来 🤣

[2018-11-24 13:39] AllanHao commented on #830
ok 长这么大，人生第一次提pr啊，有点小激动

[2018-11-24 13:57] #830 closed, assigned to nobody

[2018-11-24 13:58] fuzhenn commented on #830
Thanks!
下周会发个新版本 => v0.42.2

[2018-11-24 15:19] AllanHao commented on #828
好的，了解了，谢谢~

[2018-11-24 15:19] #828 closed, assigned to nobody

[2018-11-25 09:42] AllanHao opened #832 "infoWindow.hide() bug"
maptalks 0.42.1

当infoWindow的animationOnHide为true，并且在hide事件中加入isVisible()判断逻辑时，调用infoWindow.hide()会出现死循环，原因是在infoWindow的display设置为‘none’之前便触发了hide后事件。

demo地址：http://jsfiddle.net/sc2opbwf/

[2018-11-25 10:43] #832 closed, assigned to nobody

[2018-11-27 06:48] XiangLiLiang opened #834 "MultiLineString使用linear gradient样式属性"
maptalks v0.42.1 and google browser

MultiLineString使用linear gradient样式属性时，当MultiLineString的任意一条子线段在窗口视野外时会报错。

http://jsfiddle.net/752977737/q9r13geb/2/?tdsourcetag=s_pcqq_aiomsg

[2018-11-28 06:05] gee1k opened #836 "未来是否会添加适量瓦片支持？"
**maptalks's version and what browser you use?**
----

**Issue description**
----
未来是否会添加适量瓦片支持？
看到目前 maptalks 中的适量瓦片是用得 mapbox 写的插件，这种方式会有很多局限性，比如只能用 mapbox 在线的图，坐标系限制等
请问是否有计划之后会自己支持自定义适量瓦片呢，比如 pbf，geojson 等规范

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-11-28 08:44] binfenshijie opened #837 "来自R屏以及某些外星人高分屏3K以上的问题"
**maptalks's version and what browser you use?**
maptalks v0.42.1   +++ google 浏览器

**Issue description**
无倾斜角度旋转角度下，拖动地图，地图上的图形、marker等要素也会跟着移动
**Please provide a reproduction URL (on any jsfiddle like site)**
![drawbug](https://user-images.githubusercontent.com/13793642/49139141-fab35480-f32b-11e8-8154-97015aa11218.gif)
另外，
在使用cesium插件时，pick去拿cesium图层上的要素时有偏移，pick不到，win上普通显示器都无此问题
猜想是同一个问题
![ima

[2018-11-28 14:37] fuzhenn commented on #836
已在开发中，过段时间就会发布的

[2018-11-28 14:43] gee1k commented on #836
👍 好的，会包含文字沿路旋转折叠嘛

[2018-11-29 01:02] fuzhenn commented on #836
包含的~

[2018-11-29 01:19] gee1k commented on #836
666 ~

[2018-12-05 09:03] chakravarthi-vl opened #838 "Is there any plugin for vector tile layer ?"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-12-06 10:26] davidweining2333 commented on #825
@fuzhenn 老哥，紧急求助一下，我现在的项目需要在大屏上展示，由于我的地图服务时自己切的，所以在大屏上会有大量的404，而且拖动时卡顿现象严重，甚至导致浏览器崩溃
tileLayer中的spatialReference的fullExtent属性是否可以设置超出范围的瓦片就不在加载呢，
或者这个ISSUE解决后是不是也可以解决这个问题呢

[2018-12-06 10:35] davidweining2333 commented on #825
@fuzhenn 并且在大屏下（15360*4320）,只加载vectorLayer（水工绘制的矢量图形，数量也不多，大概30个多边形），进行图形的交互与拖动地图也很卡，有哪些配置项可以提高性能呢，我只看到这个好像可以layerCanvasLimitOnInteracting，很惭愧英文不好其他属性看不太明白，还望老哥提点一下。

[2018-12-06 10:41] fuzhenn commented on #825
看上性能比较慢，可能单纯因为canvas太大造成的。
* 减少图层数量
* 降低屏幕分辨率，缩小地图canvas长宽
* 在效果允许的条件下，通过放大div(设置scale)，来减小地图canvas的长宽
* 升级电脑配置

如果功能不多，改起来快的话，可以改用leaflet，它是基于dom渲染的，在这种超大屏上，性能要比基于canvas的地图库要快。

[2018-12-06 10:48] davidweining2333 commented on #825
@fuzhenn 换框架是来不及了，renderer 换成gl会好点吗，如果不行确实用scale应该会好点

[2018-12-06 10:54] fuzhenn commented on #825
canvas和gl的性能区别不大，推荐先试试scale。

[2018-12-10 06:44] mpd-zr opened #839 "镂空的面能否让里面的小面也支持编辑？"
![fl0ae7y mt8 p5t25j qmro](https://user-images.githubusercontent.com/13678919/49715052-30d8c880-fc8a-11e8-8d56-27e0cce9fc04.png)

[2018-12-10 07:01] fuzhenn commented on #838
not now.

There is one under development, but it's still in early stage and hard to say when to publish.

[2018-12-10 07:12] chakravarthi-vl commented on #838
can I get any sample code ?

[2018-12-11 02:41] duanhongfei opened #840 "新手小白有个问题请教一下"
这个是否可以绘制室内地图，如果使用自己制作的地图，有什么要求吗？要用什么具体有要求的工具吗？期待您的回答，谢谢！

[2018-12-13 01:31] fuzhenn commented on #838
It's still under development, messy and all in chaos.

Will keep you updated once it's ready, hope not long.

[2018-12-13 07:53] chakravarthi-vl commented on #838
thanks for reply, i am closing this issue

[2018-12-13 07:53] #838 closed, assigned to nobody

[2018-12-20 03:13] davidweining2333 commented on #825
@fuzhenn 老哥，项目要转测了，404太多会有问题，能帮忙看下不，我自己改的那个getTileUrl出来效果有问题，过着指导一下我先改下

[2018-12-20 16:31] fuzhenn commented on #825
@davidweining2333 周末我会改一下这个问题，并发个新版本

[2018-12-21 01:41] davidweining2333 commented on #825
@fuzhenn 非常感谢!

[2018-12-23 06:07] fuzhenn commented on #840
感谢提issue。
室内地图是可以基于[identity投影](http://maptalks.org/examples/cn/tilelayer-projection/identity/#tilelayer-projection_identity)来绘制的，但制作工具并不在maptalks.js的未来计划中，你需要自己开发。

[2018-12-23 06:07] #840 closed, assigned to nobody

[2018-12-23 07:01] #826 closed, assigned to nobody

[2018-12-23 07:04] fuzhenn commented on #826
image设置了crossOrigin属性后，超图服务会直接返回网络错误(net::ERR_FAILED)，没有http错误码也没有任何报错信息，看上去是超图服务对crossOrigin的处理逻辑有bug。

我修改了一下程序，现在能通过手动把crossOrigin设成undefined（默认是null）来覆盖掉原有的crossOrigin默认值。

[2018-12-24 03:29] fuzhenn commented on #825
@davidweining2333 新版本v0.42.2已经发布，请测试一下这个issue是否解决，如有问题可以随时@我。

[2018-12-24 03:45] davidweining2333 commented on #825
@fuzhenn 感谢，我试试看

[2018-12-25 02:51] fuzhenn commented on #825
seems it still has some bug in it

[2018-12-25 02:51] #819 closed, assigned to nobody

[2018-12-25 04:29] MrSasuke opened #841 "线的动画展示 样式如果带文字会报错"
**maptalks's version and what browser you use?**
----chrome

**Issue description**
----线的动画展示 样式如果带文字会报错

**Please provide a reproduction URL (on any jsfiddle like site)**
---- http://jsfiddle.net/jfds53yk/

[2018-12-25 07:24] deyihu opened #842 "关于min包的问题"
**maptalks's version and what browser you use?**
----

**Issue description**
----

我在使用 maptalks.markercluster 插件时，使用了自己编译的包（**所有代码和原始仓库完全同步了，代码未做任何改动，所有依赖都更新过了）**，如果使用 min包，会报异常
https://deyihu.github.io/src//bugdisplay/markerClusterMin.html

![2018-12-25_144622](https://user-images.githubusercontent.com/25998927/50415056-ee031d00-0853-11e9-9ea7-61128f1f88bc.png)

好像是feature-filter过滤的问题

[code]

然

[2018-12-25 12:12] AirWinger commented on #842
@deyihu  可能是打包的机制不一样，最好是将FuntionType.js 里的createFunction函数里面对fun的属性isFeatureConstant和isZoomConstant增加是否为undefined的判断

[2018-12-25 12:50] deyihu commented on #842
@AirWinger  我是完全clone maptalks的仓库，代码未做任何修改，然后直接编译的；
比较纳闷的是为是么 @fuzhenn  那边打包没有问题，而我这里是有问题的。

rollup+babel 打包后没有任何问题， 问题出在 uglify-js 压缩这里

[2018-12-25 12:56] fuzhenn commented on #842
可能是uglifyjs版本的问题，我之前也遇到过高版本uglifyjs打包后会出错的问题，后[回退到老版本](https://github.com/maptalks/maptalks.js/commit/73b82d74d2028f999adab61eebfe6370c4a95b44)才解决
可以试试maptalks.js的uglifyjs版本

[2018-12-25 14:21] deyihu commented on #842
的确是uglifyjs版本的问题，直接 npm  i  默认会安装 3.4.9

![2018-12-25 22-13-52](https://user-images.githubusercontent.com/25998927/50423596-8b7d4180-0892-11e9-9e07-ce584eace021.png)
强制安装 3.3.28 可以解决这个这个问题

 :joy:

[2018-12-25 15:23] #842 closed, assigned to nobody

[2018-12-27 11:56] #804 closed, assigned to nobody

[2018-12-28 08:55] JackBaoL opened #844 "同一个mapdiv，不同范围，图层重复"
**maptalks's version and what browser you use?**
----
   maptalks v0.42.2 ，chrome: 71.0.3578.98
**Issue description**
----
HI，加载切片图层时，图层在不同区域存在重复渲染的情况，官网示例也是如此，在大范围的情况还好，在显示小范围区域时效果很不好。
有没有方法和属性可以规避这种情况。
![image](https://user-images.githubusercontent.com/24949781/50509561-5c004c00-0ac1-11e9-9055-6ebb8a97abc7.png)

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2018-12-28 22:57] nabeelamjad opened #845 "Memory Issues"
**maptalks's version and what browser you use?**
----
0.42.4 / Chrome 71.0.3578.98

**Issue description**
----
I've been drawing a very large amount of objects, around 150K+ (mix of polygons / markers / rectangles) and have been noticing that Chrome just crashes as soon as it passes 1.7-1.8 GB memory on the JS instance (Firefox doesn't appear to cap at). I ran a memory profile on a smaller data se

[2018-12-29 02:56] nabeelamjad commented on #845
Just to add, I just discovered `maptalks.ClusterLayer` and that pretty much solves the issues for all the markers I have, I wonder if that can be applied to non `Marker` shapes as easily? The code seems to be only for markers.

[2018-12-29 03:09] fuzhenn commented on #845
Thanks very much for your comments!

VectorLayer uses a little bit aggressive stategy in caching and memory allocation:
* it caches all the 2D coordinates (for drawing, converted from geographic coordinates) to save the coordinate conversion in the next paiting round.
* it also caches all the external images needed by painting.

As a SVG rendering library, leaflet just converts data to SVG dom ele

[2018-12-29 03:44] nabeelamjad commented on #845
Thanks, I need the drawing functionality and adding/remove geometries on the existing data set layer so I don't think biglayer will work for that unfortunately, I'm using canvas rendering (rather than SVG) on Leaflet as well (otherwise it's painfully slow).

I did a quick check and it seems adding a few event handlers on each geometry might be causing an extra footprint (Leaflet allows to set even

[2018-12-29 08:39] fuzhenn commented on #844
TileLayer options里的repeatWorld设为false即可

[2018-12-29 08:39] #844 closed, assigned to nobody

[2018-12-29 08:47] deyihu commented on #845
@nabeelamjad

More than 80K+ Markers，maptalks render It's really a bit slow.
If 150k+ geometies  (mix of polygons / markers / rectangles) ,That's too difficult.(I've never tested successfully. :bowtie: )

For leaflet, I tested data rendering for 300,000 points，That is ok,But you need your own manual write plug-in
For maptalks ,If it's 150,000 dots, it's OK.
https://deyihu.github.io/src/maptalks-gm

[2018-12-29 15:30] nabeelamjad commented on #845
Yeah, I'll look into WebGL renderers and play with that. Thanks!

[2018-12-30 09:33] fuzhenn opened #846 "fitExtent doesn't work when map is hided"
**maptalks's version and what browser you use?**
----
v0.42.2 chrome 71

**Issue description**
----
fitExtent doesn't work when map is hided

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://jsfiddle.net/u40qgx6k/4/

[2019-01-02 06:16] nabeelamjad commented on #845
@deyihu seems that did the trick, the rendering is very smooth with Deck.GL even at 200k+ objects.

I just have one issue, I can embed this in my browser using something like this and that works fine (maptalks.deckgl.js is not NPM published but I made a local copy)

[code]

but when I try a normal ES6 import in my Webpack app it won't work:

[code]

I've also tried all other kind of import orders

[2019-01-02 08:51] deyihu commented on #845
@nabeelamjad
deck.gl  is  externals

I didn't pack deck.gl into maptalks-deckgl

you need config webpack

![2019-01-02_164431](https://user-images.githubusercontent.com/25998927/50584990-be848e00-0ead-11e9-9b4b-d551e3116a36.png)

index.html
[code]
rep:   https://github.com/deyihu/webpacktest

I tested it. It's OK.

[2019-01-02 22:37] nabeelamjad commented on #845
thanks - that does work, I was under the impression it was the same installation as https://github.com/maptalks/maptalks.three

[2019-01-03 08:14] fuzhenn opened #847 "line doesn't respond to click event"
**maptalks's version and what browser you use?**
----
v0.42.2 chrome 71.x

**Issue description**
----
The wall drawn by line with `drawAltitude`  doesn't respond to click event in some certain angle and point.

![image](https://user-images.githubusercontent.com/13678919/50622631-a82c1000-0f49-11e9-8944-995e7b3a8d2c.png)

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http:/

[2019-01-07 03:29] dxiuxiu opened #848 "maptalks支持切换视角到地下"
**maptalks's version and what browser you use?**
----0.42.2

**Issue description**
----有这样一个需求：需要加载地下三维管线模型，我知道目前maptalks可以借助threejs加载外部模型但是加载的模型都在地面上方并且没有发现maptalks允许切换视角到地下的功能。我想能在地面模式下像往常一样使用二维的东西又想可以切换成地下模式查看我加载的地下管线。这样的需求目前maptalks支持吗？

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2019-01-08 02:28] helloworldcyj opened #849 "设置marker的位置时未对dom进行判空处理"
v0.39.3
----
点击摄像头的聚簇让其展开的时候，我遇见了这个问题．查看报错，发现是在设置style的时候未对dom进行判空处理
----
` UIComponent.prototype._setPosition = function _setPosition() {
            var dom = this.getDOM(),
                p = this.getPosition();
            this._pos = p;
            dom.style[TRANSITION] = null;
            dom.style[TRANSFORM] = toCSSTranslate(p) + ' scale(1)';
        };
`
----

[2019-01-08 02:31] fuzhenn commented on #849
👍 能不能提个pull request给我？

[2019-01-09 03:43] fuzhenn commented on #848
感谢提issue。
地下模式是指？从下方往上看头顶的管线吗？

[2019-01-09 10:24] cooljser opened #850 "带 hole 的 polygon 重叠后轮廓显示不全"
**maptalks's version and what browser you use?**
----
maptalks: 0.41.1
chrome: 71

**Issue description**
----
polygon 重叠后轮廓显示不全，期望两个 polygon 都能正常显示

**Please provide a reproduction URL (on any jsfiddle like site)**
----
jsfiddle: http://jsfiddle.net/cooljser/75fkb618/

[2019-01-09 11:05] 31415tertje opened #851 "AnimationTo can create bearing changes of almost a full circle when changing around 180 and -180 degrees."
**maptalks's version used: 0.42.2, browser firefox or chrome**
----

**AnimationTo can create bearing changes of almost a full circle when changing around 180 and -180 degrees.**

When I try to animate a route which goes from north to south, the bearing can change from around 180 to -180. e.g. a change from -178 to 177 is required which means a change of 5 degrees.
The animation is generating fram

[2019-01-09 14:55] deyihu commented on #850
@cooljser  这个是么有问题的，你的polygon，外环和内环（hole）经纬度差值太小，在地图支持的最大精度下，根本反应不出来，其实你把polygon的 lineWidth设置成不为0还是能看出来的

http://jsfiddle.net/73oqhngy/

![2019-01-09 22-47-23](https://user-images.githubusercontent.com/25998927/50906889-0cc2ff80-1461-11e9-9602-7b51131145b5.png)

然后我把你的数据放到mapbox-gl中渲染一下，开启无极缩放，是可以明显看出来的，就是精度误差太小导致导致在地图的最高精度下肉眼看不出来导致的
http://jsfiddle.net/fh4rvpgk/
![2019-01-09 22-50-19](https://use

[2019-01-10 04:56] fuzhenn commented on #851
Thanks!
I'll have a look into this later

[2019-01-10 08:51] cooljser commented on #850
@deyihu 哈哈哈，应该是我没说清楚，现在的情况是两个 A、B，A 和 B 叠加的地方只能看到 B 的轮廓，A 被盖在底下的那部分轮廓就看不到了，希望和一般的 polygon 一样也能显示出来。

[2019-01-14 03:21] fuzhenn commented on #851
~LGTM 👍  , could you submit a pull request?~

[2019-01-14 05:24] fuzhenn commented on #851
I have carefully reviewed your demo,  the main concern of this proposal is:

If users want to intentionally rotate map with the angle diff > 180, they can **never** achieve it.

I think we should not change the `bearing` inside `animateTo` automatically which leads to ambiguousness, and should stick to a fixed logic, and let user decide bearing's value on the application level.

Get back to your d

[2019-01-14 06:29] 31415tertje commented on #851
The problem of rotating almost 360 degrees only occurs when flipping from -180 to 180 or vice versa. In all other cases the rotation is always the shortest angle (< 180).
Can you really animate more than 180 degrees anywhere else?

Perhaps adding an extra option to animateTo would help:
    direction: clockwise or anti clockwise.

Adjusting the bearings before passing to map.animateTo does not wor

[2019-01-14 12:22] fuzhenn commented on #851
Yes, a `rotationDirection` option is definitely a good idea. You can set this option to keep map's rotation direction right.

Could you have a test to see if it works?

[2019-01-14 12:31] 31415tertje commented on #851
I'm not sure what you mean with 'Could you have a test to see if it works'.
1) Adapt the code myself and test it.
2) You adapt (or adapted) the code and I test it.

As far as I'm concerned rotationDirection would be:
clockwise, anticlockwise, shortestAngle
or
left, right, shortestAngle.

[2019-01-14 12:44] fuzhenn commented on #851
1 will be great!

I prefer `clockwise, anticlockwise, shortestAngle`.

[2019-01-14 20:06] 31415tertje commented on #851
Okay,

Please give me some time.

[2019-01-15 08:31] helloworldcyj commented on #849
Set animationOnHide to false to make setting marker's dom display none synchronously
animationOnHide is a hidden option which you will only find in maptalks's code, here is the link
https://github.com/maptalks/maptalks.js/blob/master/src/ui/UIComponent.js#L44

[2019-01-15 08:31] #849 closed, assigned to nobody

[2019-01-15 09:33] chenyuan8059 opened #852 "地图交互时无法渲染 Marker 等元素"
**maptalks's version and what browser you use?**
----

**Issue description**
----
如何设置在地图进行移动，缩放时渲染 Marker 等元素

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://jsfiddle.net/chenyuan8059/Lcmh7ov5/2/

[2019-01-16 08:18] lifefriend opened #853 "tianditu api was changed"
chrome71 , maptalks v0.42.2

tianditu api was changed, the example of epsg4326(http://maptalks.org/examples/en/tilelayer-projection/epsg4326/#tilelayer-projection_epsg4326) is blank

old: http://t{s}.tianditu.com/DataServer?T=vec_c&x={x}&y={y}&l={z}
new: http://t{s}.tianditu.gov.cn/DataServer?T=vec_c&tk=YOUR_KEY&x={x}&y={y}&l={z}

in the new api,random white patches appear on the map

![default](h

[2019-01-18 02:58] gee1k commented on #853
天地图现在已经全部服务需要申请 key 才可以使用，瓦片服务只需在 tileUrl 后加一个 tk 参数即可
![image](https://user-images.githubusercontent.com/12059800/51362743-cda34700-1b0f-11e9-87ec-c99ae93493cf.png)

![image](https://user-images.githubusercontent.com/12059800/51362758-d98f0900-1b0f-11e9-9ba6-5a3317b16685.png)

[2019-01-18 02:59] gee1k commented on #853
@lifefriend 你可以看看你的瓦片请求错误，状态码应该是 418

[2019-01-18 04:46] fuzhenn commented on #853
@lifefriend
adding a retry strategy to TileLayer is definitely a good idea.
Could you submit a pull request to me?
* add a new option `tileRetryCount` to TileLayer's options
* move the code in your comment to `TileLayerCanvasRenderer`'s `onTileError` method

Thanks!

[2019-01-18 13:42] lifefriend commented on #853
@fuzhenn
A pull request has been made in the hope that it does not break your code structure

[2019-01-21 13:30] #853 closed, assigned to nobody

[2019-01-22 06:06] dxiuxiu commented on #848
嗯嗯~和您描述的差不多

[2019-01-23 03:08] infinityboy opened #856 "作为2019年第2019个start的我，膜拜大神，虽然正在用leaflet，感觉maptalks社区力量和插件有些薄弱"
**maptalks's version and what browser you use?**
----

**Issue description**
----

**Please provide a reproduction URL (on any jsfiddle like site)**
----

[2019-01-23 04:06] fuzhenn commented on #856
哈哈，谢谢~ 我们会继续努力的

[2019-01-23 04:06] #856 closed, assigned to nobody

[2019-01-23 04:08] fuzhenn commented on #852
这是地图的帧率控制导致的
可以在options里设置VectorLayer的强制渲染：
[code]
参考：
http://maptalks.org/maptalks.js/api/0.x/VectorLayer.html#options

[2019-01-23 04:08] #852 closed, assigned to nobody

[2019-01-23 04:11] fuzhenn commented on #848
这个目前不行，暂时也没有计划支持..

[2019-01-23 04:11] #848 closed, assigned to nobody

[2019-01-28 02:19] gee1k commented on #836
麻烦问一下，矢量瓦片什么时候能发布了呀 ❤️

[2019-01-28 06:53] fuzhenn commented on #846
`fixExtent` depends on map container's size to caculate fit zoom.

As container's size is always 0 if map is hided, this is an expected behavior.

[2019-01-28 06:53] #846 closed, assigned to nobody

[2019-01-28 14:19] #825 closed, assigned to nobody

[2019-01-28 14:19] #834 closed, assigned to nobody

[2019-01-28 14:19] #841 closed, assigned to nobody

[2019-01-28 14:19] #847 closed, assigned to nobody

[2019-01-28 14:19] #850 closed, assigned to nobody

[2019-01-29 03:29] binfenshijie commented on #847
The test passes as expected。bangbang da good

[2019-02-12 08:18] fallowu opened #857 "地图倾斜时拖拽，有阴影，若无该切片，404时异常。"
**maptalks's version and what browser you use?**
----
0.43.0
**Issue description**
----
地图倾斜时拖拽，有拖影，若无该切片，404时拖影无法消失。
地图无倾斜时拖拽，是一个瓦片形状。404时为空白。
![image](https://user-images.githubusercontent.com/3997050/52621235-b9b9ed80-2ee1-11e9-96b3-d2f03bf97cf9.png)

**Please provide a reproduction URL (on any jsfiddle like site)**
----
http://maptalks.org/examples/cn/map/drag-pitch-rotate/raw/index.html

[2019-02-12 10:17] fuzhenn commented on #857
感谢提issue！

我这里目前没办法重现，请提供一下你的环境（OS和chrome版本）以及重现的步骤。